@import 'theme';

/*
Other Components

Here are some additional components you may find useful.

Styleguide misc
*/

/*
Collapse

This component will place a collapse button after your content which will
show hide your content.

### Attribute parameters

- **collapsed** (optional) The starting collapsed state. Defaults to false.

Markup:
<pgi-collapse>Your content goes here</pgi-collapse>

Styleguide misc.collapse
*/

@mixin pgi-collapse-component-theme($theme){
  pgi-collapse {
    .content {
      overflow: hidden;
      transition: height pgi-time(m) pgi-easing(ease);
    }
  }
}

