<div class="content" name="content" [style.height.px]="contentHeight">
  <ng-content></ng-content>
</div>
<pgi-icon-button (click)="toggleCollapse()"
  name="collapseButton" icon="pgi:overflow"
  aria-label="Show/Hide Content" class="pgi-small-icon">...</pgi-icon-button>
