@import "theme";

/*
Drop-down

`<pgi-drop-down>` is a control for selecting a value from a set of options. In your template, create an `<pgi-drop-down>` element. For each option you'd like in your select create an array of type `DropdownOptions` and assign it to `options` attribute.

<u>**Please refer drop-down example to see the working of this component:**</u>

**Attribute parameters**
- **titleText** Adds a title text to the drop-down.
- **id** Adds a unique id to the component.
- **itemsCount** Number of options to be shown when drop-down is open. Default is 3.
- **type** Whether you need a single line or double line dropdown. By default it will show single line drop-down and if you need to have a double line drop-down having description as well , set this attribute to `doubleLine`.
- **disabled** If you need to disable the drop-down set this parameter to true.
- **errorMessage** Adds error message and required error styling to the drop-down component. The error message can be removed by setting this attribute to an empty string.
- **clickItemEvent** Event emitted when option item is clicked.
- **selectedIndex** This input property is used to select the default index from the drop down list. If nothing is set then no item will be selected.
- **options** Create an array of type `DropdownOptions` and assign it to `options` attribute by accessing the reference of the `<pgi-drop-down>` component. The properties of the array object would be :
  1. `value="Option name"` - This will be the name of the option.
  1. `description="Description name"` - This will be the name of the option's description.
  1. `disabled="true or false"` - whether this option is disabled or not.

Styleguide forms.drop-down
*/

/*
Drop-down example with pgi-drop-down

This is an example of using the `pgi-drop-down` component

Markup:
<ex-drop-down titleText="Choose your food"></ex-drop-down>
<ex-drop-down titleText="Choose your food" selectedIndex="2" errorMessage="Error Message"></ex-drop-down>
<ex-drop-down type="doubleLine" titleText="Choose your food" selectedIndex="1" ></ex-drop-down>
<ex-drop-down type="doubleLine" titleText="Choose your food" errorMessage="Error Message"></ex-drop-down>
<ex-drop-down titleText="Choose your food" disabled="true" errorMessage="Error Message"></ex-drop-down>
<ex-drop-down type="doubleLine" titleText="Choose your food" disabled="true"></ex-drop-down>

Styleguide forms.drop-down-example
*/

@mixin double-line-styles($height) {
  .sec-text {
    display: inline-block;
  }

  &.selected-div {
    height: pgi-rem($height);
  }
}

@mixin main-text-styles($foreground, $height) {
  color: pgi-color($foreground, text);
  display: inline-flex;
  font-family: pgi-font-face(heading);
  font-size: pgi-font-size(m);
  font-weight: pgi-font-weight(semi-bold);
  height: pgi-rem($height);
  text-align: left;
}

@mixin sec-text-styles($foreground, $height, $margin) {
  @include pgi-letter-spacing(p);

  color: pgi-color($foreground, secondary-text);
  display: none;
  float: left;
  font-family: pgi-font-face(heading);
  font-size: pgi-font-size(s);
  height: pgi-rem($height);
  line-height: pgi-line-height(tight);
  margin-bottom: pgi-rem($margin);
  text-align: left;
}

@mixin label-common-styles($color) {
  color: $color;
  font-family: pgi-font-face(heading);
  font-size: pgi-font-size(m);
  font-weight: pgi-font-weight(semi-bold);
  margin-left: pgi-rem(16);
}

@mixin pgi-drop-down-theme($theme) {
  $background: map-get($theme, background);
  $grayscale: map-get($theme, grayscale);
  $warn: map-get($theme, warn);
  $primary: map-get($theme, primary);
  $foreground: map-get($theme, foreground);

  $drop-down-width: 300;
  $drop-down-height: 170;
  $down-cursor-size: 32;
  $check-mark-icon-size: 32;
  $main-text-height: 19;
  $label-main-container-width: 243;
  $sec-text-height: 17;
  $sec-text-margin-bottom: 6;
  $selected-div-height: 35;
  $selected-div-double-line-height: 50;
  $selected-div-padding-left: 16;
  $options-width: 243;
  $selected-div-error-padding-left: 15;
  $ul-margin-top: 10;
  $li-margin-bottom: 10;
  $li-span-width: 250;
  $single-line-div-padding: 6;
  $double-line-div-padding: 4;
  $zero: 0;
  $svg-width: 15;

  .absolute {
    position: absolute;
  }

  .overlay-container {
    background: transparent;
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: pgi-depth(dropdown);

    .sec-text {
      @include sec-text-styles($foreground, $sec-text-height, $sec-text-margin-bottom);
    }

    .main-text {
      @include main-text-styles($foreground, $main-text-height);
    }

    .double-line {
      @include double-line-styles($selected-div-double-line-height);

      .list-elements > div {
        padding: pgi-rem($double-line-div-padding) $zero;
      }
    }

    .check-mark-icon {
      float: left;
      height: pgi-rem($check-mark-icon-size);
      visibility: hidden;
      width: pgi-rem($check-mark-icon-size);

      svg {
        width: pgi-rem($svg-width);
      }
    }

    .selected-row {
      .check-mark-icon {
        color: pgi-color($primary, 500);
        visibility: visible;
      }

      span {
        color: pgi-color($primary, 500);
      }
    }

    .pgi-drop-down {
      background-color: pgi-color($background, background);
      border-radius: pgi-radius(s);
      box-shadow: pgi-shadow(outer-bottom);
      height: pgi-rem($drop-down-height);
      overflow: auto;
      width: pgi-rem($drop-down-width);
    }

    ul {
      cursor: default;
      margin-top: pgi-rem($ul-margin-top);
      padding: $zero;

      li {
        display: inline-block;
        list-style: none;
        user-select: none;

        > div {
          display: inline-flex;
          flex-flow: row wrap;
          padding: pgi-rem($single-line-div-padding) $zero;
        }

        .list-option {
          align-self: center;
          display: inline-flex;
          flex-direction: column;
        }

        span {
          display: inline-flex;
          width: pgi-rem($li-span-width);
        }

        &:hover > {
          div {
            &:not(.option-disabled) {
              background-color: pgi-color($background, hover);
            }
          }
        }
      }
    }

    .option-disabled {
      pointer-events: none;

      .main-text,
      .sec-text {
        color: pgi-color($foreground, disabled-text);
      }
    }
  }

  pgi-drop-down {
    display: inline-flex;
    user-select: none;
    width: pgi-rem($drop-down-width);

    .down-cursor {
      color: pgi-color($foreground, hint-text);
      float: right;
      height: pgi-rem($down-cursor-size);
      margin-bottom: 1px;
      width: pgi-rem($down-cursor-size);
    }

    .main-text {
      @include main-text-styles($foreground, $main-text-height);
    }

    .label-main-container {
      align-self: center;
      width: pgi-rem($label-main-container-width);

      .description-selected {
        color: pgi-color($primary);
      }
    }

    .aligncenter {
      align-self: center;
    }

    .sec-text {
      @include sec-text-styles($foreground, $sec-text-height, $sec-text-margin-bottom);
    }

    .double-line {
      @include double-line-styles($selected-div-double-line-height);
    }

    .selected-div {
      background-color: pgi-color($primary, A100);
      border: solid pgi-border(s) pgi-color($primary, A200);
      border-radius: pgi-radius(s);
      box-sizing: border-box;
      display: inline-flex;
      flex-flow: row wrap;
      height: pgi-rem($selected-div-height);
      padding-left: pgi-rem($selected-div-padding-left);
      width: pgi-rem($drop-down-width);

      span {
        width: pgi-rem($options-width);
      }

      &:not(.selected-div-error) {
        &:hover {
          border: solid pgi-border(m) pgi-color($primary, A200);
          padding-left: pgi-rem($selected-div-error-padding-left);
        }

        &:active {
          border: solid pgi-border(m) pgi-color($primary);
          padding-left: pgi-rem($selected-div-error-padding-left);

          .down-cursor {
            color: pgi-color($primary);
          }
        }
      }
    }

    .title-label {
      @include label-common-styles(pgi-color($grayscale, 500));
    }

    .error-message {
      @include label-common-styles(pgi-color($warn));
    }

    .error-label {
      color: pgi-color($warn);
    }

    .selected-div-error {
      background-color: pgi-color($warn, A100);
      border: solid pgi-border(m) pgi-color($warn);
    }

    .sec-text {
      &.error-label {
        color: pgi-color($warn);
      }
    }

    .drop-down-disabled {
      pointer-events: none;

      .title-label {
        color: pgi-color($foreground, disabled-text);
      }

      .selected-div {
        background-color: pgi-color($foreground, disabled-button);
        border-color: pgi-color($foreground, divider);
      }

      .main-text,
      .down-cursor,
      .sec-text {
        color: pgi-color($foreground, disabled-text);
      }
    }
  }
}
