<div [class.drop-down-disabled]="disabled === 'true'">
  <label *ngIf="titleText"
    class="title-label"
    [ngClass]="{'error-label': errorMessage}">{{titleText}}</label>
  <div id="div_{{id}}"
    class='selected-div'
    [ngClass]="{'selected-div-error': errorMessage}"
    [class.double-line]="type === 'doubleLine' "
    (click)="openList()">
    <div class="label-main-container">
      <span class='valueSelected main-text'> {{mainTxt}} </span>
      <span class='description-selected sec-text'
        [ngClass]="{'error-label': errorMessage}">{{secTxt}} </span>
    </div>
    <div class="aligncenter">
      <pgi-icon icon="pgi:down-cursor"
        size='s'
        class='down-cursor'
        [ngClass]="{'error-label': errorMessage}"></pgi-icon>
    </div>
  </div>
  <div id="pgiDropDown_{{id}}"
    class='pgi-drop-down'
    [style.height.px]="dropDownHeight"
    [hidden]="!isListOpen"
    [class.double-line]="type === 'doubleLine' ">
    <ul>
      <li *ngFor="let ele of options; let i = index"
        [attr.data-index]="i"
        class="list-elements">
        <div id="listElement_{{i}}"
          [class.option-disabled]="ele.disabled === true"
          (click)='dropDownSelected(i)'
          [class.selected-row]='i === selected'>
          <pgi-icon icon="pgi:checkmark"
            class='check-mark-icon selected'></pgi-icon>
          <div class='list-option'>
            <span class='main-text'>{{ele.value}}</span>
            <span *ngIf="ele.description !== ''"
              class='sec-text'>{{ele.description}}</span>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div class="error-message"
    *ngIf="errorMessage && disabled !== 'true'">{{errorMessage}}</div>
</div>