<pgi-autocomplete>
  <pgi-icon-input [formControl]="myControl" icon="pgi:search" placeholder="My favorite rapper is..."></pgi-icon-input>
  <pgi-autocomplete-result *ngFor="let rapper of filteredRappers | async">
    <div>{{rapper.name}}</div>
    <div><pgi-icon-button icon="pgi:call-filled"></pgi-icon-button></div>
  </pgi-autocomplete-result>
</pgi-autocomplete>
<div>There's some stuff under the autocomplete</div>
