<h3> The default date pipe without PGi Call customization will be</h3>
<div class="hljs-name dateSnippet">
  <p> Today will be displayed as: <b> {{ today|pgidate}} </b></p>
  <p> Yesterday will be displayed as: <b> {{ yesterday|pgidate}} </b></p>
  <p> Day in the last week ({{lastWeek}}) will be displayed as: <b> {{ lastWeek|pgidate }} </b></p>
  <p> Day greater than a week ({{greaterThanWeek}}) will be displayed as: <b> {{ greaterThanWeek|pgidate}} </b></p>
</div>
<div *ngFor="let locale of locales">
  <h3>Date pipe with the PGi call customization for locale: {{ locale }}</h3>
  <div class="hljs-name dateSnippet">
    <p> Today will be displayed as: <b> {{ today|pgidate:true:null:locale }} </b></p>
    <p> Yesterday will be displayed as: <b> {{ yesterday|pgidate:true:null:locale }} </b></p>
    <p> Day in the last week ({{lastWeek}}) will be displayed as: <b> {{ lastWeek|pgidate:true:null:locale }} </b></p>
    <p> Day greater than a week ({{greaterThanWeek}}) will be displayed as: <b> {{ greaterThanWeek|pgidate:true:null:locale }} </b></p>
  </div>
</div>
