<form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
      <pgi-label-input name="email" labelText="Email" placeholder="your@email.com" ngModel required #email="ngModel" type="email"></pgi-label-input>
      <pgi-label-input name="password" labelText="Password" ngModel type="password" required="true" [errorMessage]="formValid ? '' : 'Password Required'"></pgi-label-input>
      <pgi-text-button color="primary">Submit</pgi-text-button>
    </form>
<p>Email value: {{ email.value }}</p>
<p>Email valid: {{ email.valid }}</p>
<p>Form value: {{ f.value | json }}</p>
<p>Form valid: {{ f.valid }}</p>
<p>Submitted Form data: {{ formData }}</p>