<div>
  <button (click)="playIncomingSound()">Play incoming Sound</button>
  <button (click)="playOutgoingSound()">Play outgoing Sound</button>
  <button (click)="playStarWars()">Play starwars music</button>
  <button (click)="playAllSounds()">Play all Sounds</button>
  <button (click)="stopincomingSounds()">stop incoming Sound</button>
  <button (click)="stopoutgoingSounds()">stop outgoing Sound</button>
  <button (click)="stopStarWars()">stop starwars music</button>
  <button (click)="stopPlayingSounds()">stop all sounds</button>
</div>