<template #spinner></template> <br>
<button (click)="changeColor(null)">Default Spinner</button>
<button (click)="changeColor('brand')">Brand Spinner</button>
<button (click)="changeColor('primary')">Primary Spinner</button>
<button (click)="changeColor('accent')">Accent Spinner</button>
<button (click)="changeColor('warn')">Warn Spinner</button> <br>
