@import 'theme';

/*
Panel Content Base

Basic content container for panel. The container contains minimum padding as given below:

- **top**: 10px
- **bottom**: 10px
- **left**: 10px
- **right**: 10px

Consumer of this component need to consider above said paddings while giving padding to their components to match the design.

Markup:
<p>
  <pgi-panel-content-base>
  </pgi-panel-content-base>
</p>
<p>
  <pgi-panel-content-base>
     <pgi-icon-input icon="pgi:search" placeholder="Default Styling"></pgi-icon-input>
  </pgi-panel-content-base>
</p>

Styleguide misc.panel
*/
@mixin pgi-panel-content-base-component-theme($theme) {
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);
  $min-padding: pgi-rem(10);

  pgi-panel-content-base {
    background-color: pgi-color($background, card);
    border: pgi-border(s) solid pgi-color($foreground, divider);
    border-radius: pgi-radius(m);
    display: inline-flex;
    //default minimum padding for the base 
    padding: $min-padding;
  }
}
