@import '../../pgi/color-data';

// The only color that this theme specifies is the color used to indicate
// that a user is available. To acheive this we, create a new set of presence
// colors by creating a new SASS map that extends the existing pgi presence map.
$pgi-presence-colors: map-get($pgi-colors, presence);
$minimal-presence-colors: map-merge( $pgi-presence-colors, ( available: purple ) );

// Then we extend the custom colors defined in the
// pgi theme with those specified by this file. This allows
// us to override the presence.available color with our
// specific version. The `$minimal-colors` variable is
// passed to the `pgi-generate-theme()` mixin (see _theme.scss)
// in order to create the theme map used by our components.
$minimal-colors: map-merge($pgi-colors, (presence: $minimal-presence-colors));
