/*
Tool Bar

The Tool Bar component can be used to help layout content into 3 slots; 1. left side, 2. centered, 3. right side.
Everything else is left up to the host application. You can use any type of container for your content as long
as it includes an attribute to designate which slot it should go into. You can place multiple items in a slot
by giving them all the same slot attribute or by wrapping them in a container.

Markup:
<pgi-tool-bar>
  <div left>Left side</div>
  <div center>Centered stuff</div>
  <div right>Right side</div>
</pgi-tool-bar>

Styleguide layout.tool-bar
*/

@mixin pgi-tool-bar-component-theme($theme){
  pgi-tool-bar {
    display: flex;
    flex-direction: row;

    > div {
      flex: 1 1 33%;
    }

    .center {
      text-align: center;
    }

    .right {
      text-align: right;
    }

  }
}
