<div class="contact-bubble-container" [ngClass]="mode">
  <div name="image-container" class="image-container" *ngIf="!!contactImage"
    [ngClass]="presenceClass(presence)"
    [class.presence]="!!presence"
    [style.background-image]="'url(' + contactImage + ')'">
  </div>
  <div name="initial-container" class="initial-container" *ngIf="!contactImage">
    <span name="initial" class="initial">{{ getInitials() | uppercase }}</span>
  </div>
  <div class="name-container">
    <span name="header" class="name">{{name}}</span>
    <span name="subtext1" class="subtext" *ngIf="!!subtext">{{subtext}}</span>
    <span name="subtext2" class="subtext subtext2" *ngIf="!!subtext2">{{subtext2}}</span>
  </div>
</div>

