@import 'theme';

/*
User Components

These components are used to represent a user profile.

Styleguide users
*/


/*
Contact Bubble

This component is desiged to be used to display the image of the contact with an
optional presence indicator. When no image is specified it will show the intials of the contact.
No presence indicator will be shown when image is not specified.

Attribute Options
- **contactImage** : The URL of the image to show.
- **name** : The display name of the contact.
- **initials** : The initials to use when no image is specified.
- **presence** : presence state, if this is null, no presence indicator will show. Valid values are:
  - **away**
  - **available**
  - **do-not-disturb**
  - **offline**
- **subtext** : Text to show under name on list view.
- **subtext2** : Text to show under subtext on list view.
- **mode** : The display direction.
  - **grid** : **Default** - display as a columlar component with the name below the image
  - **list** : display as a row component with name to the side

Markup:
<h3 class="example">Grid</h3>
<pgi-contact-bubble 
  contactImage="http://cdn23.us1.fansshare.com/photos/ludacris/ludacris-fast-and-furious-519825463.jpg"
  name="Ludacris Speed is too damn fast"
  presence="available"></pgi-contact-bubble>
<h3 class="example">List</h3>
<pgi-contact-bubble
  contactImage="http://cdn23.us1.fansshare.com/photos/ludacris/ludacris-fast-and-furious-519825463.jpg"
  name="Ludacris Speed is too damn fast"
  presence="away" mode="list" subtext="AWAY"></pgi-contact-bubble>
<h3 class="example">List 2 subtexts</h3>
<pgi-contact-bubble
  contactImage="http://cdn23.us1.fansshare.com/photos/ludacris/ludacris-fast-and-furious-519825463.jpg"
  name="Ludacris Speed is too damn fast"
  presence="away" mode="list" subtext="jenna.cohen@pgi.com" subtext2="(303) 555-1212"></pgi-contact-bubble>
<h3 class="example">List No Presence</h3>
<pgi-contact-bubble contactImage="http://cdn23.us1.fansshare.com/photos/ludacris/ludacris-fast-and-furious-519825463.jpg"
  name="Ludacris Speed is too damn fast"
  mode="list" subtext="(303) 555-1212"></pgi-contact-bubble>
<h3 class="example">Tiny</h3>
<pgi-contact-bubble contactImage="http://cdn23.us1.fansshare.com/photos/ludacris/ludacris-fast-and-furious-519825463.jpg"
  name="Ludacris Speed is too damn fast"
  mode="tiny"
  presence="available"></pgi-contact-bubble>
<pgi-contact-bubble contactImage="http://cdn23.us1.fansshare.com/photos/ludacris/ludacris-fast-and-furious-519825463.jpg"
  name="Ludacris Speed is too damn fast"
  mode="tiny"
  presence="offline"></pgi-contact-bubble>
<h3 class="example">Dark Theme</h3>
<div class="pgi-dark-theme">
  <pgi-contact-bubble
    contactImage="http://cdn23.us1.fansshare.com/photos/ludacris/ludacris-fast-and-furious-519825463.jpg"
    name="Ludacris Speed is too damn fast"
    presence="available"></pgi-contact-bubble>
</div>
<h3 class="example">Contact Bubble with no image</h3>
<h3 class="example">Grid</h3>
<pgi-contact-bubble initials="jc" name="Ludacris Speed is too damn fast"></pgi-contact-bubble>
<pgi-contact-bubble name="Ludacris Speed is too damn fast"></pgi-contact-bubble>
<h3 class="example">List</h3>
<pgi-contact-bubble initials="jc" mode="list" name="Ludacris Speed is too damn fast" subtext="jenna.cohen@pgi.com" subtext2="(303) 555-1212"></pgi-contact-bubble>
<h3 class="example">Tiny</h3>
<pgi-contact-bubble initials="jc" mode="tiny" name="Ludacris Speed is too damn fast"></pgi-contact-bubble>
<h3 class="example">Dark Theme</h3>
<div class="pgi-dark-theme">
  <pgi-contact-bubble initials="jc" name="Ludacris Speed is too damn fast"></pgi-contact-bubble>
</div>
    
Styleguide users.contact-bubble
*/

// TODO Instead of grid and list versions of this component,
// we should have sizes l, m, s and we should move the text
// outside of the component. That way the text can be styled
// based on the implementation needs or we could provide a
// couple additional components that include the text.
// TODO Split out the presence indicator bubble styling so
// we can use the presence indicator without the circle image.
@mixin pgi-contact-bubble-component-theme($theme) {
    pgi-contact-bubble {
        $primary: map-get($theme, primary);
        $accent: map-get($theme, accent);
        $warn: map-get($theme, warn);
        $background: map-get($theme, background);
        $foreground: map-get($theme, foreground);
        $isDark: map-get($theme, is-dark);
        $gray: map-get($theme, grayscale);
        $pgi: map-get($theme, pgi);
        $presence: map-get($pgi, presence);
        $hue: if($isDark, 800, 50);
        $border-color: pgi-color($gray, $hue, 1);
        $image-grid-rows: 5;
        $image-list-rows: 2;
        $image-tiny-rows: 1.5;
        $presence-size-grid: 15;
        $presence-border-grid: 6;
        $presence-size-list: 10;
        $presence-border-list: pgi-border(l);
        $presence-size-tiny: 8;
        $presence-border-tiny: 3;
        $initial-border: 2;
        $initial-border-color: if($isDark, pgi-color($gray, 700, 1), pgi-color($background, hover-stroke));
        $initial-background-color: if($isDark, pgi-color($gray, 800, 1), pgi-color($background, button));
        $initial-hue: if($isDark, 600, 300);
        %presence-indicator {
            display: block;
            content: '';
            border-radius: 100%;
            border-color: $border-color;
            border-style: solid;
            position: absolute;
            bottom: 0;
            right: 0;
        }
        %presence-indicator-grid {
            @extend %presence-indicator;
            width: pgi-rem($presence-size-grid);
            height: pgi-rem($presence-size-grid);
            border-width: pgi-rem($presence-border-grid);
            $presence-nudge: pgi-rem($presence-border-grid * -1);
            margin-right: $presence-nudge;
            margin-bottom: $presence-nudge;
        }
        %presence-indicator-list {
            @extend %presence-indicator;
            width: pgi-rem($presence-size-list);
            height: pgi-rem($presence-size-list);
            border-width: pgi-rem($presence-border-list);
            $presence-nudge: pgi-rem($presence-border-list * -1);
            margin-right: $presence-nudge - pgi-nudge();
            margin-bottom: $presence-nudge;
        }
        %presence-indicator-tiny {
            @extend %presence-indicator;
            width: pgi-rem($presence-size-tiny);
            height: pgi-rem($presence-size-tiny);
            border-width: pgi-rem($presence-border-tiny);
            $presence-nudge: pgi-rem($presence-border-tiny * -1);
            margin-right: $presence-nudge - pgi-nudge();
            margin-bottom: $presence-nudge;
        }
        %image-container {
            border-radius: 100%;
            background-size: cover;
            position: relative;
            &:after {
                background-color: pgi-color($background, app-bar);
            }
            &.available {
                &:after {
                    background-color: pgi-color($presence, available);
                }
            }
            &.do-not-disturb {
                &:after {
                    background-color: pgi-color($presence, do-not-disturb);
                }
            }
            &.away {
                &:after {
                    background-color: pgi-color($presence, away);
                }
            }
            &.offline {
                &:after {
                    background-color: pgi-color($presence, offline);
                }
            }
        }
        %initial-container {
            border-radius: 100%;
            background-size: cover;
            position: relative;
            text-align: center;
            background-color: $initial-background-color;
            border: pgi-rem($initial-border) solid $initial-border-color;
        }
        .initial {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            width: 45%;
            height: 45%;
            margin: auto;
            font-weight: pgi-font-weight(extra-bold);
            color: pgi-color($gray, $initial-hue, 1);
            line-height: pgi-line-height(dense);
            letter-spacing: -0.8px; // Need to add this to font-data
        }
        .name-container {
            display: flex;
            flex-direction: column;
            overflow: hidden;
            justify-content: center;
            .name {
                font-weight: pgi-font-weight(semi-bold);
                @include pgi-ellipsis;
            }
        }
        .contact-bubble-container {
            display: flex;
            .subtext {
                color: pgi-color($foreground, secondary-text);
                margin-bottom: pgi-nudge();
                @include pgi-text(small);
            }
            &.grid {
                width: gp-rows($image-grid-rows);
                flex-direction: column;
                .image-container {
                    @extend %image-container;
                    min-width: gp-rows($image-grid-rows, $presence-border-grid * 2);
                    min-height: gp-rows($image-grid-rows, $presence-border-grid * 2);
                    border: pgi-rem($presence-border-grid) solid $border-color;
                    &.presence {
                        &:after {
                            @extend %presence-indicator-grid;
                        }
                    }
                }
                .initial-container {
                    @extend %initial-container;
                    min-width: gp-rows($image-grid-rows, $presence-border-grid * 2);
                    min-height: gp-rows($image-grid-rows, $presence-border-grid * 2);
                }
                .initial {
                    font-size: pgi-rem(40);
                }
                .name {
                    margin: gp-rows(0.5) 0;
                }
            }
            &.list {
                flex-direction: row;
                align-items: center;
                .image-container {
                    @extend %image-container;
                    min-width: gp-rows($image-list-rows);
                    min-height: gp-rows($image-list-rows);
                    border: pgi-rem($presence-border-list) solid $border-color;
                    margin-right: gp-rows(0.5);
                    &.presence {
                        &:after {
                            @extend %presence-indicator-list;
                        }
                    }
                }
                .initial-container {
                    @extend %initial-container;
                    min-width: gp-rows($image-list-rows);
                    min-height: gp-rows($image-list-rows);
                    margin-right: gp-rows(0.5);
                }
                .initial {
                    font-size: pgi-rem(19.4);
                }
            }
            &.tiny {
                flex-direction: row;
                .image-container {
                    @extend %image-container;
                    min-width: gp-rows($image-tiny-rows, $presence-border-tiny * 2);
                    min-height: gp-rows($image-tiny-rows, $presence-border-tiny * 2);
                    border: pgi-rem($presence-border-tiny) solid $border-color;
                    margin-right: gp-rows(0.5);
                    &.presence {
                        &:after {
                            @extend %presence-indicator-tiny;
                        }
                    }
                }
                .initial-container {
                    @extend %initial-container;
                    min-width: gp-rows($image-tiny-rows, $presence-border-tiny * 2);
                    min-height: gp-rows($image-tiny-rows, $presence-border-tiny * 2);
                    margin-right: gp-rows(0.5);
                }
                .initial {
                    font-size: pgi-rem(12);
                }
            }
        }
    }
}