@mixin halo($size) {
  border-radius: 50%;
  display: none;
  height: $size;
  left: 50%;
  pointer-events: none;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: $size;
  z-index: -1;
}
