@import 'theme';

/*
PGi Icon Set

You can use the `<pgi-icon>` component to show an icon.

### Attribute Parameters
- **size** xs, s, m, l, xl. The default is m.
- **color** The color of the icon. The default color is black but other options are "primary", "accent", "warn".

### Classes
- **pgi-inverse** invert the foreground and background colors.

Markup:
<pgi-icon aria-label="Search" icon="pgi:search" size="xs"></pgi-icon>
<pgi-icon aria-label="Search" icon="pgi:search" size="s"></pgi-icon>
<pgi-icon aria-label="Search" icon="pgi:search" size="m"></pgi-icon>
<pgi-icon aria-label="Search" icon="pgi:search" size="l"></pgi-icon>
<pgi-icon aria-label="Search" icon="pgi:search" size="xl"></pgi-icon>
<pgi-icon aria-label="Search" icon="pgi:search" color="brand"></pgi-icon>
<pgi-icon aria-label="Search" icon="pgi:search" color="primary"></pgi-icon>
<pgi-icon aria-label="Search" icon="pgi:search" color="accent"></pgi-icon>
<pgi-icon aria-label="Search" icon="pgi:search" color="warn"></pgi-icon>
<pgi-icon aria-label="Search" icon="pgi:search" class="pgi-inverse"></pgi-icon>
<pgi-icon aria-label="Search" icon="pgi:search" class="pgi-inverse" size="xs"></pgi-icon>

Styleguide icons
*/

/*
PGi Configuration

Before using the PGi icon set in your application, you will need to get the `iconSet.svg`
file into your project and configure the url where it lives.

Start by copying `src/component-lib/themes/pgi/assets/iconSet.svg` into your project.
This would usually be done by a build step that pulls the file
from the package so you always get the most recent version of the icons.

Here's an example gulp script to do this for you. It depends on `gulp`, `gulp-debug`,
`gulp-newer` but you can remove those dependencies if you don't want them.

```js
gulp.task('build-component-assets', function(){
  var assetRoot = 'node_modules/@pgi/ng-component-lib/themes/my-theme/assets';

  return gulp.src( assetRoot )
    .pipe(newer( assetRoot ))
    .pipe(debug({title:'build-component-assets', showFiles:false}))
    .pipe(gulp.dest( 'build/assets' ));
});
```

Next, provide the location of the icon set to your application. You will
probably want to provide this in your AppModule but it could be any module.

```js
import { PGI_ICON_SET_URL } from '@pgi/ng-component-lib/icons';

@NgModule({
  providers: [
    { provide: PGI_ICON_SET_URL, useValue: 'path/to/your/iconSet.svg' }
  ],
  ...
})
export class AppModule { }
```

Weight: 1

Styleguide icons.config
*/

@mixin pgi-md-icon-size($rows){
  width: gp-rows($rows);
  height: gp-rows($rows);
}

@mixin pgi-icon-component-theme($theme){
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  pgi-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    // Align to bottom so we don't take up any extra
    // vertical space but still fit nicely next to text.
    vertical-align: bottom;

    // Make the Material icon component fill its parent.
    .mat-icon {
      display: flex;
      width: auto;
      height: auto;
      padding: 12px;
    }

    @include pgi-md-icon-size(2);

    &[size=xs], &.pgi-xs {
      @include pgi-md-icon-size(1);

      .mat-icon {
        padding: 8px;
      }
    }

    &[size=s], &.pgi-s {
      @include pgi-md-icon-size(1.5);

      .mat-icon {
        padding: 10px;
      }
    }

    &[size=m], &.pgi-m {
      @include pgi-md-icon-size(2);
    }

    &[size=l], &.pgi-l {
      @include pgi-md-icon-size(2.5);
    }

    &[size=xl], &.pgi-xl {
      @include pgi-md-icon-size(3);
    }

    &.pgi-inverse {
      background-color: pgi-color($foreground, icon);
      color: pgi-color($background, background);
      border-radius: 50%;
    }
  }
}

