@import 'theme';
@import '../../halo/halo';

/*
Radio Button component

### Attribute Values

- **ariaLabel** Attached to 'aria-label' attribute of radio button as aid to assistive technology (e.g. screen readers).  Can be omitted if using **ariaLabelledby**.
- **ariaLabelledby** Attached to 'aria-labelledby' attribute of radio button as aid to assistive technology (e.g. screen readers).  Takes precedence over **ariaLabel**.
- **id** A unique ID for the radio button
- **required** Sets whether the radio button is required.  Default is 'false'.
- **labelPosition** Determines whether label should appear before or after the radio button.  Default is 'after'.
- **disabled** Sets disabled property.  Default is 'false'.
- **name** Sets name property. Default is 'undefined'.
- **value** Sets value associated with radio button when submitted.
- **checked** Determines radio button state. Default is 'false'.
- **color** The color scheme of the radio button.  Options include 'primary', 'accent', and 'warn'.  Default is 'primary'.

### Events

- **change** Emitted when the radio button's 'checked' value changes

### Class Modifiers

None

### CSS Sizing

None

Markup:
<p>
  <pgi-radio-button 
    id='primary-button'
    name='enabled'
    labelPosition='before'
    disabled='false'
    ariaLabel='screenhelper'
    ariaLabelledby='stuff'
    value='primaryValue'
    >Primary
  </pgi-radio-button>
</p>
<p>
  <pgi-radio-button 
    id='accent-button'
    name='enabled'
    labelPosition='before'
    disabled='false'
    ariaLabel='screenhelper'
    ariaLabelledby='TomTerrific'
    color='accent'
    >Accent
  </pgi-radio-button>
</p>
<p>
  <pgi-radio-button 
    id='warn-button'
    name='enabled'
    labelPosition='before'
    disabled='false'
    ariaLabel='screenhelper'
    ariaLabelledby='TomTerrific'
    color='warn'
    >Warn
  </pgi-radio-button>
</p>
<p>
  <pgi-radio-button 
    id='disabled-button-unchecked'
    name='disabled'
    labelPosition='after'
    disabled='true'
    >Disabled
  </pgi-radio-button>
</p>
<p>
  <pgi-radio-button 
    id='disabled-button-checked'
    name='disabled'
    labelPosition='after'
    disabled='true'
    checked='true'
    >Disabled
  </pgi-radio-button>
</p>

Styleguide forms.radio-button
*/
@mixin set-mat-radiobutton-frame-colors($palette, $border-color, $background-color) {
  background: pgi-color($palette, $background-color);
  border-color: pgi-color($palette, $border-color);
}
@mixin unchecked-color-circles($color, $bg) {
  .mat-radio-outer-circle {
    background-color: pgi-color($color, A100);
    border: pgi-border(s) solid pgi-color($color, 50);
  }

  .mat-radio-inner-circle {
    background-color: pgi-color($color, $bg);
  }
}
@mixin checked-color-circles($color, $bg-hue-begin, $bg-hue-end, $border-hue) {
  .mat-radio-outer-circle {
    background-color: transparent;
    border: pgi-border(m) solid pgi-color($color, $border-hue);
  }

  .mat-radio-inner-circle {
    background-image: linear-gradient(to bottom, pgi-color($color, $bg-hue-begin), pgi-color($color, $bg-hue-end));
  }
}
@mixin pgi-radio-button-component-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $gray: map-get($theme, grayscale);
  $radio-size: pgi-rem(22);
  $halo-size: pgi-rem(40);
  $bg-hue-begin: 500;
  $bg-hue-end: 300;
  $border-hue: 500;
  $radio-opacity: .25;
  $radio-label-content-top-pos: pgi-rem(1);

  pgi-radio-button {
    .mat-ripple-element {
      display: none;
    }

    .mat-radio-label-content {
      margin: auto;
      position: relative;
      top: $radio-label-content-top-pos;
      white-space: normal;
    }

    .mat-radio-container,
    .mat-radio-inner-circle,
    .mat-radio-outer-circle {
      height: $radio-size;
      margin: auto;
      width: $radio-size;
    }

    &[disabled='false'] {
      @include unchecked-color-circles($primary, $bg-hue-begin);

      .mat-radio-checked {
        @include checked-color-circles($primary, $bg-hue-begin, $bg-hue-end, $border-hue);
      }
    }

    &[color='primary'] {
      @include unchecked-color-circles($primary, $bg-hue-begin);

      .mat-radio-checked {
        @include checked-color-circles($primary, $bg-hue-begin, $bg-hue-end, $border-hue);
      }
    }

    &[color='accent'] {
      @include unchecked-color-circles($accent, $bg-hue-begin);

      .mat-radio-checked {
        @include checked-color-circles($accent, $bg-hue-begin, $bg-hue-end, $border-hue);
      }
    }

    &[color='warn'] {
      @include unchecked-color-circles($warn, $bg-hue-begin);

      .mat-radio-checked {
        @include checked-color-circles($warn, $bg-hue-begin, $bg-hue-end, $border-hue);
      }
    }

    &[disabled='true'] {
      opacity: $radio-opacity;

      .mat-radio-outer-circle {
        background-color: pgi-color($gray, 200);
        border: pgi-border(s) solid pgi-color($gray, 300);
      }

      .mat-radio-checked {
        .mat-radio-inner-circle {
          background-color: pgi-color($gray, 500);
        }
      }
    }

    &:not([disabled='true']) {
      :hover {
        .halo {
          background-color: pgi-color($background, hover);
          display: inline-block;
        }
      }

      :active {
        .halo {
          background-color: pgi-color($background, pressed-stroke);
          display: inline-block;
        }
      }
    }
  }

  .halo {
    @include halo($halo-size);
  }
}
