
$white: #ffffff;
$black: #000000;

// TODO Documentation.
$c-primary-light: #97e7f7;
$c-primary-gradient-end: #10cdf3;
$c-primary: #00aeef;
$c-primary-dark: #367FC2;
$c-primary-a-light: #f9fdfe;

$c-accent-light: #9fea9a;
$c-accent: #1ab210;
$c-accent-dark: #0e870d;
$c-accent-a-light: #e7ffe7;

$c-warn-light: #fecdcd;
$c-warn: #fd4b62;
$c-warn-dark: #b80226;
$c-warn-a-light: #fbeeee;

$c-background-lighter: #fbfcfd;
$c-background-light: #f6f7fa;
$c-background: #93ABBD;
$c-background-dark: #303031;

$pgi_umbra-color: rgba(17, 205, 243, 0.33);
$pgi_penumbra-color: rgba($black, 0.1);
$pgi_ambient-color: rgba($black, 0.05);

// PALETTES
$pgi-brand-colors: (
  50 : #c1f2ff,
  100 : $c-primary-light,
  200 : #55dbf6,
  300 : $c-primary-gradient-end,
  400 : #08bef1,
  500 : $c-primary,
  600 : mix($c-primary-dark, $c-primary, 25%),
  700 : mix($c-primary-dark, $c-primary, 50%),
  800 : mix($c-primary-dark, $c-primary, 75%),
  900 : $c-primary-dark,
  A100 : $c-primary-a-light,
  A200 : #d2e6ed, //#d8ecff,
  A400 : #a5d4ff,
  A700 : #8bc8ff,
  contrast: (
    50 : $black,
    100 : $black,
    200 : $black,
    300 : $black,
    400 : $black,
    500 : $white,
    600 : $white,
    700 : $white,
    800 : $white,
    900 : $white,
    A100 : $black,
    A200 : $black,
    A400 : $black,
    A700 : $black,
  )
);

// In the PGi theme we use the blue palette in
// both primary and secondary situations.
$pgi-primary-colors: $pgi-brand-colors;

$pgi-accent-colors: (
  50 : #dff3de,
  100 : $c-accent-light,
  200 : #60e156,
  300 : #1ed911,
  400 : #1bc510,
  500 : $c-accent,
  600 : #21a61e,
  700 : #169c0e,
  800 : #149113,
  900 : $c-accent-dark,
  A100 :$c-accent-a-light,
  A200 : #ceecd0,
  A400 : #94ff94,
  A700 : #38ff38,
  contrast: (
    50 : $black,
    100 : $black,
    200 : $black,
    300 : $black,
    400 : $black,
    500 : $white,
    600 : $white,
    700 : $white,
    800 : $white,
    900 : $white,
    A100 : $black,
    A200 : $black,
    A400 : $black,
    A700 : $black,
  )
);

$pgi-warn-colors: (
  50 : mix($c-warn-light, $white, 50%),
  100 : $c-warn-light,
  200 : #feb5b6,
  300 : #fd9496,
  400 : #fd7476,
  500 : $c-warn,
  600 : #fe2450,
  700 : #e71942,
  800 : #d00d34,
  900 : $c-warn-dark,
  A100 : $c-warn-a-light,
  A200 : #edd2d2,
  A400 : #ffd1d2,
  A700 : #ffb8b8,
  contrast: (
    50 : $black,
    100 : $black,
    200 : $black,
    300 : $black,
    400 : $black,
    500 : $white,
    600 : $white,
    700 : $white,
    800 : $white,
    900 : $white,
    A100 : $black,
    A200 : $black,
    A400 : $black,
    A700 : $black,
  )
);

$pgi-grayscale-colors: (
  50 : $c-background-lighter,
  100 : $c-background-light,
  200 : #e4eaee,
  300 : mix($c-background, $c-background-light, 50%),
  400 : mix($c-background, $c-background-light, 75%),
  500 : $c-background,
  600 : mix($c-background-dark, $c-background, 25%),
  700 : mix($c-background-dark, $c-background, 50%),
  800 : mix($c-background-dark, $c-background, 75%),
  900 : $c-background-dark,
  A100 : #989898,
  A200 : #494f54,
  A400 : #28282a,
  A700 : #131313,
  contrast: (
    50 : $black,
    100 : $black,
    200 : $black,
    300 : $black,
    400 : $white,
    500 : $white,
    600 : $white,
    700 : $white,
    800 : $white,
    900 : $white,
    A100 : $white,
    A200 : $white,
    A400 : $white,
    A700 : $white,
  )
);

$pgi-light-theme-background: (
  status-bar:     #dde4eb,
  control-bar-v1: #f8f9fb,
  control-bar-v2: #f2f3f7,
  nav-bar:        #fbfcfd,
  app-bar:        map_get($pgi-grayscale-colors, 100),
  background:     $white,
  background-v2:  #f8f9fb,
  button:         rgba(206, 212, 226, 0.15),
  hover:          rgba(206, 212, 226, 0.15),
  hover-stroke:   rgba(206, 212, 226, 0.30),
  card:           map_get($pgi-grayscale-colors, 50),
  pressed:        rgba(206, 212, 226, 0.3),
  pressed-stroke: rgba(206, 212, 226, 0.3),
  dialog:         $white,
  disabled-button:rgba(#93abbd, 0.25),
  raised-button:  rgba(147, 171, 189, 0.25)
);

// Background palette for dark themes.
$pgi-dark-theme-background: (
  status-bar:       black,
  control-bar:      #303031,
  nav-bar:          #28282a,
  app-bar:          map_get($pgi-grayscale-colors, 800),
  background:       #383838,
  background-v2:    #303031,
  button:           rgba($black, 0.40),
  hover:            rgba($black, 0.2),
  hover-stroke:     rgba($white, 0.2),
  card:             map_get($pgi-grayscale-colors, A400),
  pressed:          rgba($black, 0.4),
  pressed-stroke:   rgba($white, 0.5),
  dialog:           map_get($pgi-grayscale-colors, A400),
  disabled-button:  rgba(#93abbd, 0.25),
  raised-button:    rgba(147, 171, 189, 0.25)
);

// Foreground palette for light themes.
$pgi-light-theme-foreground: (
  base:            $black,
  divider:         #f0f0f4,
  dividers:        rgba($black, 0.06),
  divider-focused: rgba($black, 0.09),
  disabled:        rgba($black, 0.38),
  disabled-button: rgba(206, 212, 226, 0.15),
  disabled-text:   rgba(147, 171, 189, 0.25),
  hint-text:       #98cbde,
  secondary-text:  #93abbd,
  icon:            #ced4e2,
  icons:           rgba($black, 0.44),
  text:            #303031,
  background:      map-get($pgi-light-theme-background, background)
);

// Foreground palette for dark themes.
$pgi-dark-theme-foreground: (
  base:            $white,
  divider:         #303031,
  dividers:        rgba($white, 0.06),
  divider-focused: rgba($white, 0.09),
  disabled:        rgba($white, 0.3),
  disabled-button: rgba(147, 171, 189, 0.25),
  disabled-text:   rgba(147, 171, 189, 0.25),
  hint-text:       #98cbde,
  secondary-text:  #93abbd,
  icon:            #ced4e2,
  icons:           $white,
  text:            $white,
  background:      map-get($pgi-dark-theme-background, background)
);

$c-presence-available: #1ab210;
$c-presence-do-not-disturb: #fc5457;
$c-presence-away: #fab32c;
$c-presence-offline: #ced4e2;

// TODO Get these into the palette.
$pgi-colors: (
  presence: (
    available      : $c-presence-available,
    do-not-disturb : $c-presence-do-not-disturb,
    away           : $c-presence-away,
    offline        : $c-presence-offline,
  ),
  shadow: (
    outer-right  : 7px 0 10px 0 rgba(0, 0, 0, 0.15),
    outer-bottom : 0 6px 12px 0 rgba(0, 0, 0, 0.1),
    button-normal-primary : 0 5px 9px 0 rgba($c-primary-gradient-end, 0.33),
    button-pressed-primary : '0 5px 9px 0 ' + rgba($c-primary-gradient-end, 0.33) + ', 0 5px 9px 0 rgba(0, 0, 0, 0.1)',
    toasts : 0 5px 10px 0 rgba(0, 0, 0, 0.2),
    tooltips : '0 2px 2px 0 rgba(0, 0, 0, 0.24)' + ', 0 0 2px 0 rgba(0, 0, 0, 0.12)',
    notifications : 0 5px 9px 0 rgba($c-warn-dark, 0.33),
    slider-toggle : '0 3px 3px 0 rgba(0, 0, 0, 0.05)' + ', 0 2px 2px 0 rgba(0, 0, 0, 0.1)',
    tooltip-horizontal :  0 2px 2px 0 rgba(0, 0, 0, 0.24),
    tooltip-vertical :    0 0 2px 0 rgba(0, 0, 0, 0.12)
  )
);

$pgi-umbra-elevation-map: (
  0: '0px 0px 0px 0px #{$pgi_umbra-color}',
  1: '0px 2px 1px -1px #{$pgi_umbra-color}',
  2: '0px 3px 1px -2px #{$pgi_umbra-color}',
  3: '0px 3px 3px -2px #{$pgi_umbra-color}',
  4: '0px 2px 4px -1px #{$pgi_umbra-color}',
  5: '0px 3px 5px -1px #{$pgi_umbra-color}',
  6: '0px 3px 5px -1px #{$pgi_umbra-color}',
  7: '0px 4px 5px -2px #{$pgi_umbra-color}',
  8: '0px 5px 5px -3px #{$pgi_umbra-color}',
  9: '0px 5px 6px -3px #{$pgi_umbra-color}',
  10: '0px 6px 6px -3px #{$pgi_umbra-color}',
  11: '0px 6px 7px -4px #{$pgi_umbra-color}',
  12: '0px 7px 8px -4px #{$pgi_umbra-color}',
  13: '0px 7px 8px -4px #{$pgi_umbra-color}',
  14: '0px 7px 9px -4px #{$pgi_umbra-color}',
  15: '0px 8px 9px -5px #{$pgi_umbra-color}',
  16: '0px 8px 10px -5px #{$pgi_umbra-color}',
  17: '0px 8px 11px -5px #{$pgi_umbra-color}',
  18: '0px 9px 11px -5px #{$pgi_umbra-color}',
  19: '0px 9px 12px -6px #{$pgi_umbra-color}',
  20: '0px 10px 13px -6px #{$pgi_umbra-color}',
  21: '0px 10px 13px -6px #{$pgi_umbra-color}',
  22: '0px 10px 14px -6px #{$pgi_umbra-color}',
  23: '0px 11px 14px -7px #{$pgi_umbra-color}',
  24: '0px 11px 15px -7px #{$pgi_umbra-color}',
);

$pgi-penumbra-elevation-map: (
  0: '0px 0px 0px 0px #{$pgi_penumbra-color}',
  1: '0px 1px 1px 0px #{$pgi_penumbra-color}',
  2: '0px 2px 2px 0px #{$pgi_penumbra-color}',
  3: '0px 3px 4px 0px #{$pgi_penumbra-color}',
  4: '0px 4px 5px 0px #{$pgi_penumbra-color}',
  5: '0px 5px 8px 0px #{$pgi_penumbra-color}',
  6: '0px 6px 10px 0px #{$pgi_penumbra-color}',
  7: '0px 7px 10px 1px #{$pgi_penumbra-color}',
  8: '0px 8px 10px 1px #{$pgi_penumbra-color}',
  9: '0px 9px 12px 1px #{$pgi_penumbra-color}',
  10: '0px 10px 14px 1px #{$pgi_penumbra-color}',
  11: '0px 11px 15px 1px #{$pgi_penumbra-color}',
  12: '0px 12px 17px 2px #{$pgi_penumbra-color}',
  13: '0px 13px 19px 2px #{$pgi_penumbra-color}',
  14: '0px 14px 21px 2px #{$pgi_penumbra-color}',
  15: '0px 15px 22px 2px #{$pgi_penumbra-color}',
  16: '0px 16px 24px 2px #{$pgi_penumbra-color}',
  17: '0px 17px 26px 2px #{$pgi_penumbra-color}',
  18: '0px 18px 28px 2px #{$pgi_penumbra-color}',
  19: '0px 19px 29px 2px #{$pgi_penumbra-color}',
  20: '0px 20px 31px 3px #{$pgi_penumbra-color}',
  21: '0px 21px 33px 3px #{$pgi_penumbra-color}',
  22: '0px 22px 35px 3px #{$pgi_penumbra-color}',
  23: '0px 23px 36px 3px #{$pgi_penumbra-color}',
  24: '0px 24px 38px 3px #{$pgi_penumbra-color}',
);

$pgi-ambient-elevation-map: (
  0: '0px 0px 0px 0px #{$pgi_ambient-color}',
  1: '0px 1px 3px 0px #{$pgi_ambient-color}',
  2: '0px 1px 5px 0px #{$pgi_ambient-color}',
  3: '0px 1px 8px 0px #{$pgi_ambient-color}',
  4: '0px 1px 10px 0px #{$pgi_ambient-color}',
  5: '0px 1px 14px 0px #{$pgi_ambient-color}',
  6: '0px 1px 18px 0px #{$pgi_ambient-color}',
  7: '0px 2px 16px 1px #{$pgi_ambient-color}',
  8: '0px 3px 14px 2px #{$pgi_ambient-color}',
  9: '0px 3px 16px 2px #{$pgi_ambient-color}',
  10: '0px 4px 18px 3px #{$pgi_ambient-color}',
  11: '0px 4px 20px 3px #{$pgi_ambient-color}',
  12: '0px 5px 22px 4px #{$pgi_ambient-color}',
  13: '0px 5px 24px 4px #{$pgi_ambient-color}',
  14: '0px 5px 26px 4px #{$pgi_ambient-color}',
  15: '0px 6px 28px 5px #{$pgi_ambient-color}',
  16: '0px 6px 30px 5px #{$pgi_ambient-color}',
  17: '0px 6px 32px 5px #{$pgi_ambient-color}',
  18: '0px 7px 34px 6px #{$pgi_ambient-color}',
  19: '0px 7px 36px 6px #{$pgi_ambient-color}',
  20: '0px 8px 38px 7px #{$pgi_ambient-color}',
  21: '0px 8px 40px 7px #{$pgi_ambient-color}',
  22: '0px 8px 42px 7px #{$pgi_ambient-color}',
  23: '0px 9px 44px 8px #{$pgi_ambient-color}',
  24: '0px 9px 46px 8px #{$pgi_ambient-color}',
);
