$f-body: 'Open Sans', sans-serif;
$f-code: menlo, monospace;

$pgi-fonts: (
  faces: (
    body: $f-body,
    heading: $f-body,
    code: $f-code
  ),
  weights: (
    extra-bold: 800,
    bold: 700,
    semi-bold: 600,
    normal: 400,
    light: 300
  ),
  sizes: (
    xxl: 50,
    xl: 24,
    l: 16,
    m: 14,
    s: 12,
    xs: 11
  ),
  letter-spacing: (
    xl:-2.5,
    l:-0.6,
    m:-0.3,
    s:0.2
  ),
  line-height: (
    normal: 1.6,
    tight: 1.42,
    extra-tight: 1.25,
    dense: 1
  )
);

