
// TODO DRY this up.
$pgi-base-font-size: 14;
// For legibility for the visually impaired, it is best to
// keep a line-height of at least 1.5
$pgi-base-line-height: 1.6;

$pgi-sizes: (
  row: round( $pgi-base-font-size * $pgi-base-line-height ),
  nudge: 3,
  borders: (
    l: 4,
    m: 2,
    s: 1
  ),
  radius: (
    l: 10,
    m: 5,
    s: 3
  ),
  z: (
    debug-overlay: 1000,
    modal: 999,
    dropdown: 800,
  )
);

