/*
Typeography

The component library themes also specify the styling for default elements
like `<h1>`, `<p>`, `<code>`, etc. Here you'll find an example of the main
HTML element styles.

Markup:
<h1>Heading 1</h1>
<h2>Heading 2</h2>
<h3>Heading 3</h3>
<h4>Heading 4</h4>
<h5>Heading 5</h5>
<h6>Heading 6</h6>
<p>This is paragraph text. It uses the default font size and line height. It also has a bottom margin.
Here's <a href="#">a link</a>, <b>bold text</b>, <i>italics</i>, <em>emphasized text</em>,
<strong>strong text</strong>, <small>small text</small>, <sub>subscript</sub>, <sup>superscript</sup>,
and <code>code text</code>.</p>
<ul>
  <li>This is</li>
  <li>what <em>unordered</em> list</li>
  <li>items look like.</li>
</ul>
<ol>
  <li>This is</li>
  <li>what <em>ordered</em> list</li>
  <li>items look like.</li>
</ol>
<sub>This is `sub` text.</sub>
<div>This is a plain `div`. It has no margins or padding by default.</div>
<p>Below is an `hr` example.</p>
<hr>
<blockquote>This is an example `blockquote`.</blockquote>
<pre>This is `pre` text.</pre>
<label>This is an input `label` element.</label>
<input type="text" placeholder="This is a text input">
<br>
<input type="textarea" placeholder="This is a textarea">

Weight: 15

Styleguide typeography
*/

/*
Form Elements

Here are te default styles for input fields. Most form elements can
be styled with the primary, accent and warn colors.

### Attributes
- **color** can be primary, accent or warn

### Classes
- **.brand** Does the same thing as [color="brand"].
- **.primary** Does the same thing as [color="primary"].
- **.accent**
- **.warn**

Markup:
<form>
  <p>
    <label>Default Text Input</label>
    <input type="text" placeholder="Howdy">
  </p>
  <p>
    <label>Brand Text Input</label>
    <input type="text" placeholder="Howdy" color="brand">
  </p>
  <p>
    <label>Primary Text Input</label>
    <input type="text" placeholder="Howdy" color="primary">
  </p>
  <p>
    <label>Accent Text Input</label>
    <input type="text" placeholder="Howdy" color="accent">
  </p>
  <p>
    <label>Warn Text Input</label>
    <input type="text" placeholder="Howdy" color="warn">
  </p>
</form>

Styleguide forms
*/

// The full height of the input with margins.
$_pgi-input-full-h: pgi-rem(44);
// The height of the input element with borders (no margins).
$_pgi-input-h: pgi-rem(33);
// Distribute the remaining area between the top and bottom margins.
$_pgi-input-top-m: round(($_pgi-input-full-h - $_pgi-input-h)/2);
$_pgi-input-bottom-m: $_pgi-input-full-h - ($_pgi-input-top-m + $_pgi-input-h);

/*
pgi-text-input-box

Make an element look like an input. This is used to
style the border, padding, margins and height of text input
elements and elements that wish to look like a text input.

// TODO examples

Styleguide typeography.input-box
*/
@mixin pgi-text-input-box($theme){
  $foreground: map-get($theme, foreground);

  border: pgi-border(s) solid pgi-color($foreground, divider);
  border-radius: pgi-radius(s);
  height: pgi-rem($_pgi-input-h - pgi-border(s) * 2);
  padding-top: 0;
  padding-bottom: 0;
  padding-right: pgi-rem(16);
  padding-left: pgi-rem(16);
  margin-top: $_pgi-input-top-m;
  margin-bottom: $_pgi-input-bottom-m;
}

/*
pgi-typeography

Use this mixin to set the theme for global element styles
like headings, divs, etc. This happens for you by default when you
use the `pgi-default-theme($theme)` and `pgi-additional-theme($theme)`
mixins.

If you are creating your own custom theme and you need to style
the base elements differently, you can supply your own implementation
of the pgi-typeography mixin or just override the specific styles you
need to change.

```scss
//[at]import 'theme';

.my-dark-theme {
  // Using the pgi default dark theme here but it
  // could be your own custom theme map.
  @include pgi-base-text($pgi-dark-theme);
  @include pgi-typeography($pgi-dark-theme);
}
```

Styleguide typeography.typeography
*/
@mixin pgi-typeography($theme){
  $brand: map-get($theme, brand);
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  //necessary to reset the opacity that FF automatically adds to placeholder text
  ::-moz-placeholder {
    opacity: 1;
  }

  *:focus {
    outline-color: pgi-color($primary);
    outline-width: pgi-border(m);
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: pgi-font-face(heading);
    font-weight: pgi-font-weight(bold);
  }

  // TODO Not sure if header elements should include spacing
  // by default or if they should only specify font size/height.
  // It will depend on how these elements are used in the style guide
  // and apps. If we end up having to override the spacing frequently,
  // we should remove it from the defaults and let developers add it
  // where necessary.
  h1 {
    @include pgi-text(h1);
  }

  h2 {
    @include pgi-text(h2);
  }

  h3 {
    @include pgi-text(h3);
  }

  h4 {
    @include pgi-text(h4);
  }

  h5 {
    @include pgi-text(large);
    color: pgi-color($foreground, secondary-text);
    font-weight: pgi-font-weight(light);
  }

  h6 {
    font-size: pgi-font-size(m);
    font-weight: pgi-font-weight(semi-bold);
  }

  p, ul, ol, pre, table, blockquote {
    // Only set the margins so font size is defined by the root font.
    @include pgi-text-margins(p);
  }

  blockquote {
    font-size: 0.9em;
  }

  input {
    font-family: pgi-font-face(body);
    @include pgi-text(normal);
  }

  sub, sup, label {
    @include pgi-text-size(sub);
  }

  /* No nested margins */
  ul ul, ol ol, ul ol, ol ul {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  /* Let's make sure all's aligned */
  hr, .hr {
    $b: pgi-border(s);
    border: $b solid;
    margin: $b * -1 0;
  }

  a, b, i, strong, em, small, code {
    line-height: 0;
  }

  a {
    color: pgi-color($primary, 500);
    text-decoration: none;
  }

  label {
    display: block;
    color: pgi-color($foreground, secondary-text);
  }

  // TODO input[type=text] is a very inefficient selector.
  // We should find a better way to style all text inputs.
  input[type='text'],
  input[type='password'],
  input[type='email'] {
    @include pgi-text-input-box($theme);
    color: pgi-color($foreground, text);
    border-color: pgi-color($primary, A200);
    background-color: pgi-color($primary, A100);

    &::placeholder {
      color: pgi-color($foreground, hint-text);
    }

    &:disabled {
      border: pgi-border('s') solid pgi-color($foreground, divider);
      background-color: pgi-color($foreground, disabled-button);

      &::placeholder {
        color: pgi-color($background, disabled-button);
      }
    }

    &:hover:not(:focus):not(:disabled) {
      outline: pgi-border('s') solid pgi-color($primary, A200);
    }

    &[color=brand], &.brand {
      border-color: pgi-color($brand, A200);
      background-color: pgi-color($brand, A100);

      &::placeholder{
        color: pgi-color($foreground, hint-text);
      }
    }

    &[color=primary], &.primary {
      border-color: pgi-color($primary, A200);
      background-color: pgi-color($primary, A100);

      &::placeholder{
        color: pgi-color($foreground, hint-text);
      }
    }

    &[color=accent], &.accent {
      border-color: pgi-color($accent, A200);
      background-color: pgi-color($accent, A100);

      &::placeholder{
        color: pgi-color($accent, 200);
      }

      &:focus {
        outline-color: pgi-color($accent);
      }
    }

    &[color=warn], &.warn {
      border-color: pgi-color($warn, A200);
      background-color: pgi-color($warn, A100);

      &::placeholder{
        color: pgi-color($warn, 200);
      }

      &:focus {
        outline-color: pgi-color($warn);
      }
    }
  }

  sub, sup {
    line-height: 0;
    position: relative;
    vertical-align: baseline;
  }
  sup {
    top: -0.5em;
  }
  sub {
    bottom: -0.25em;
  }

  code {
    font-size: 0.8rem;
    padding: pgi-nudge();
  }

  pre, pre code {
    font-size: 0.9rem;
  }

  pre {
    padding: gp-rows(1);
  }

  code, pre {
    background: pgi-color($primary, 50);
    color: pgi-color($primary, "50-contrast");
    font-family: pgi-font-face(code);

    code {
      background-color: transparent;
    }
  }

  blockquote {
    margin: gp-rows(1) 0;
    padding: 0 gp-rows(1);
    border-left: gp-rows(1) solid pgi-color($primary, 200);
    background-color: pgi-color($background, card);
  }

  button {
    outline: 0;
    border: none;
    @include pgi-text(button);

  }
}

