/*
Theme Assets

In addition to colors and variables, a theme also contains
assets such as fonts, icons, sounds, etc. Some of these assets get
compiled into the theme and therefore get built into your
final app (for example, fonts). Some assets get loaded at
runtime and as a result your application is responsible for
copying the assets from the theme into your own project
(for example, icons and sounds).

See the sections below for details about how different
assets are built and need to be included in your app.

### What if my theme doesn't include any assets?

Not all themes need to define their own assets. For example,
the minimal theme in `themes/examples` uses all of the same
assets as the PGi theme. The build has been setup to fallback
to the PGi theme assets if necessary.

Styleguide assets
*/

/*
Fonts

Fonts are compiled each theme as part of the component library's
build. With a clean checkout of this project, you will
notice that the `src/component-lib/themes/pgi/fonts` folder
only contains a `google-fonts.neon` file. This file defines
the fonts used in the PGi theme. The build system uses this
file to download the font faces from Google Fonts into the
PGi theme's font folder. The build then compiles the font
data into a css file that is included in the CSS output of
the PGi theme. This way your application does not need to
do anything to load the theme's fonts.

### Using different fonts

To use a different font in your application, you will need
to create a new theme which defines it's own `google-fonts.neon`
file. When you run the build, it will use your font definitions
to download and compile the fonts into your theme. Make sure
you place the neon file in an `assets/fonts` folder inside your
theme.

If you do not want to use a Google Font in your theme,
you will need to update the build to use your custom fonts.
You should make sure that your fonts still get compiled
into CSS so that applications do not need to do anything
specific in order to get your theme's fonts.

Styleguide assets.fonts
*/

/*
Icons

Unlike fonts, the PGi icons do not get compiled into your projects.
Instead, your project will need to copy assets from the theme's
`assets` folder into a place the app can access. For example,
you might use a gulp task like the following to copy
the correct assets into your project's dist folder.

```js
// Get the theme from a commandline argument.
var yargs = require('yargs')
  .default('theme', 'pgi')
  .alias('t', 'theme')
  .argv;

gulp.task( 'copy-theme-assets', function(){
  var theme = yargs.theme;
  var assets = 'node_modules/@pgi/ng-component-lib/themes/' + theme + '/assets/**/*';
  var outputDir = 'build/assets';

  // Copy all assets from the theme into your local build folder.
  return gulp.src( assets ).pipe( gulp.dest( outputDir ) );
});
```

Once you have the assets in your project, you will need to
configure your app to load the icon set as described in the
[PGi Icon Set documentation](/icons#config).

### Adding new icons

In this project, you'll notice that in the `themes/pgi/assets/` folder there is an
`icon-src` folder. This folder contains SVGs for each icon
available to the [PGi Icon Set](/icons#all). When you run the
component-lib build, those individual SVGs get compiled into
an aggregate `iconSet.svg` file. This is the file that will be
included in the component library package and available to your application.

The build takes care of compiling the `iconSet.svg` file. To add
a new icon, simply add an icon SVG to the `icon-src` folder and
re-run the build. Now you new icon will be available in the iconSet
as `pgi:icon-file-name`. For example, if you add `icons-src/foo.svg`,
you can now use `<pgi-icon icon="pgi:foo"></pgi-icon>` in your app.

Styleguide assets.icons
*/

/*
Sounds

Similar to icons, a theme's sounds are not compiled into the
application. Your projects will need to copy assets from the
`themes/${theme}/assets/sounds` folder into your own assets
folder (see the Icon docs above).

Once you have the sounds in your project, you will need to
configure sound loading and playback as described in the
[Sound Service docs](/sounds).

Styleguide assets.sounds
*/

/*
Shared Variables

Sometimes you will find it necessary to share variables between
a theme's CSS and the Javascript logic. For example, you may want
to implement some custom animation logic, but you want the timing
of your animation to be theme-able or to match values in the current
theme. You can do this by adding properties to the `assets/shared-variables.json`
file in each theme. That JSON file gets compiled into SASS (using
[JSON-SASS](https://github.com/acdlite/json-sass)) which is
loaded by each theme. You can also `require()` the JSON file in
your Javascript files to access those same variables.

Styleguide assets.shared-variables
*/

