/*
Getting Started

Start by installing this library as a dependency in your project.

```
npm install --save @pgi/ng-component-lib
```

> The @pgi namespace is pulled from the PGi NPM repository on our Artifactory servier.
If you receive an error that the `@pgi/ng-component-lib` doesn't exist in NPM, you will
need to configure your environment to use our Artifactory instance. One easy way to do
that is to run the `initialize.sh` file in this project (which can also be copied into
your own project for others to use).

Next configure the SASS include paths for the theme you want to use with your
project. For example, if you want to use the default PGi theme, you'll need
to add `node_modules/@pgi/ng-component-lib/themes/pgi` to your SASS include
paths so your project's build can find those files.

Information on how to configure your SASS include paths can be found in the
[Configuring SASS](/starting#configuring-sass) section.

Now add the correct theme to your project by importing the `theme-main` file
into a SASS file in your project (usually the root `styles.scss` file)
and then calling the `pgi-default-theme()` mixin.

```scss
// Get access to the main theming mixin for the theme you want to use.
//[at]import 'theme-main';

// This mixin should only be called once in your application.
@include pgi-default-theme( $pgi-light-theme );
```

> IMPORTANT: You should only call `pgi-default-theme()` once in your
project. Calling it multiple places will result in
duplicate stylesheet definitions which can impact page render speed.

Now you can import modules and components from the library into your own Angular components.

```js
import PGiButtonsModule from '@pgi/ng-component-lib/buttons';

@NgModule({
  imports: [
    PGiButtonsModule
  ],
})
export class ...
```

And finally use components in your html templates.

```html
<pgi-text-button color="primary">Hello</pgi-text-button>
```

> If you need to import the entire library (rather than one component at a time)
you can use the `@pgi/ng-component-lib/components.module` to do so.

Weight: 0

Styleguide starting
*/

/*
Configuring SASS Include Paths

Depending on the technology you are using to build your apps, there are
different ways to specify the include paths SASS uses to lookup file imports.
Below you'll find examples for different build tools.

### Angular-CLI

```js
{
  ...
  "apps":[{
    ...
    "styles": [ "styles.scss" ],
    "stylePreprocessorOptions": {
      "includePaths": [
        ".",
        "../node_modules/@pgi/ng-component-lib/themes/pgi"
      ]
    },
    ...
  }]
  ...
}
```

### Webpack

```js
// Set the path to the root folder of the theme you want to use.
const themePath = 'node_modules/@pgi/ng-component-lib/themes/pgi';

// These are the options we'll use to setup SASS.
const sassLoaderOptions = {
  includePaths: [
    return path.join(process.cwd(), themePath);
  ]
};

module.exports = {
  ...
  "module": {
    "rules": [
      ...
      // Setup all of your SASS loader definitions with
      // our include paths and outputStyle settings.
      {
        "test": /\.scss$|\.sass$/,
        ...
        "loaders": [
          ...
          // Repeat this for all of your sass-loader definitions.
          {
            loader: "sass-loader",
            options: sassLoaderOptions
          }
        ]
      },
      ...
    ]
  }
}
```

### JSPM

If your project uses SystemJS or some other build system, please
help us out by adding docs for it.

Styleguide starting.configuring-sass
*/


/*
Using Different Themes In Your Project

The previous example showed how to apply the pgi light theme to your project.
However, this can be changed by passing a different theme map when you call `pgi-default-theme()`.

The available theme maps are defined in the `component-lib/themes/*/_theme.scss`
files. For example, `themes/pgi` exports `$pgi-light-theme` and `$pgi-dark-theme` variables.

```scss
//[at]import 'theme-main';

@include pgi-default-theme($pgi-dark-theme);
```

### Using Multiple Themes

You can also define multiple themes for a project.

```scss
//[at]import 'theme-main';

// Include the default theme.
@include pgi-default-theme($pgi-dark-theme);

// And then nest your additional themes under a more specific CSS selector.
.my-dark-theme {
  // This assumes your _theme.scss file creates a global $my-dark-theme variable.
  $bg: map-get($my-dark-theme, background);

  // Apply the background color for your theme.
  background-color: pgi-color($bg, background);

  // Apply your theme to all components.
  @include pgi-additional-theme($my-dark-theme);
}
```

This gives you the ability to switch the theme for the entire app
by applying the `my-dark-theme` class to the body element of your app
or to specific subsections by applying that class to another element
on the page.

Give it a try:

Markup:
<ex-dark-theme></ex-dark-theme>

Styleguide starting.applying-themes
*/

/*
Specifying Themes at Build Time

If you want to build multiple versions of your project using different
themes, you can switch the target theme with a commandline parameter.
Do this by dynamically switching the SASS include paths for
your project.

If your project uses Webpack, modify the previous Webpack
example to access the theme folder from an environment variable
as follows (this is just one way to set the paths).

```js
// Can be used from the command line as:
// THEME_DIR=path/to/theme webpack-dev-server --port 8090
const defaultThemePath = 'node_modules/@pgi/ng-component-lib/themes/pgi';
const themePath = process.env.THEME_DIR ? process.env.THEME_DIR : defaultThemePath;

// These are the options we'll use to setup SASS.
const sassLoaderOptions = {
  includePaths: [
    return path.join(process.cwd(), themePath);
  ],
  ...
}
```

Give it a try with this poject by running:

```console
$ npm start -- -c -t examples/unicorn-barf
```

Styleguide starting.build-time-themes
*/

/*
Writing Custom Themes

Themes are composed of two parts; 1. colors and 2. variables.

### Theme Colors
Colors are applied to a theme by creating a SASS map that defines the
primary, accent, warn, background and foreground palettes of an application.
The theme maps are then passed to one of the `pgi-*-theme()` mixins in order
to write all of the component styles using the colors in that theme map.

Full documentation describing the theme map structure and usage can be
found in the [Colors section](/colors) of this guide.

### Theme Variables
All other properties of a component can be themed using the `pgi-*()` functions
on the [Theming page](/theming). These functions access theme specific variables
for borders, drop shadows, animations, etc. By using these functions, a new
theme can do things like change the thickness of element borders or make
a flat version of a theme without drop shadows.

For details about how this is implemented, take a look at some of the
example themes in the `src/component-lib/themes/examples` folder. At a
high level, you'll notice that custom themes define a set of `pgi-*-data.scss`
files. Each of those files construct SASS maps defining the theme
specific values for sizes, borders, shadows, etc. These variables are
then exposed by the `pgi-*()` functions used inside components.

For an example of how a theme is used in a component, see the
[Theming your Components](/starting#theming) section below.

Styleguide starting.custom-themes
*/

/*
Creating New Components

### TLDR;
- Create modules for unique components (or groups of components).
- Make your components theme-able for size and color.
- Make sure your component styles don't bleed outside of your component.
- Set your component's ViewEncapsulation to none.
- Document your component's usage.
- Export your component module from `src/components-lib/components.module.ts`.
- Call your component style mixin in `src/component-lib/components.scss`.

### In Detail
To add new components to this library, you can use the
[Angular CLI generators](https://github.com/angular/angular-cli#generating-components-directives-pipes-and-services)
to get started (though that is not required). Components should
be added in their own modules under the `src/component-lib` folder.
Giving components their own module allows them to be imported individually
without having to import the rest of the library. However,
feel free to group related components into a single module where it
makes sense. A good example of this is the buttons module
which contains multiple types of button components.

Next, add your component module to the imports and exports sections
of the `src/components-lib/components.module.ts` file. This allows
your new component to be dynamically imported by this style guide
website and also provides a convenient way for other projects to import
the entire component suite should they need it.

Components do not always need to be written from scratch. For example,
we've created a `<pgi-text-button>` component that wraps the Angular 2 Material
button component. This way we can change the way buttons work across all
PGi apps if we choose to do so but we still get a head start by using the
Material library.

When writing your custom components, you'll need to provide documentation
for their usage by adding [KSS documentation](https://github.com/kss-node/kss/blob/spec/SPEC.md)
to the SASS files for your component. Some components/services may not require
any SASS/CSS declarations but it is still helpful to include a SASS
file for your component with its documentation. The KSS format looks like this:

```scss
/ *
Component Title

Describe it using markdown here.

Markup
<p>Show the markup for your component here</p>

Styleguide page-section-here
* /
```

When writing your custom component, you should also set the component's
view encapsulation to none. This will make it easier to override your
component's styles when it is used with multiple themes or apps.

```js
import { Component, ViewEncapsulation} from '@angular/core'

@Component({
  encapsulation: ViewEncapsulation.None
  ...
})
export class MyComponent {}
```

You should also wrap your
style declarations in a component selector. This will ensure
that the styles for your component don't bleed into other components.

```css
@mixin pgi-my-component-theme($theme){
  my-component {
    // All "<my-component>" styles should go here.
    ...
  }
}
```

And don't forget to call your component's mixin from the `src/component-lib/components.scss`
file. This way it's styles can be easily imported with the rest of the component library styles.

Styleguide starting.new
*/


/*
Theming Your Components

When writing new components, it is important to make them themable.
This allows them to be used in multiple projects with different
look and feels. The theming infrastructure for this library borrows heavily from
[Angular 2 Material](https://material.angular.io/guide/theming-your-components)
theming with a few changes.

Here's an example of how you would setup the styles for a `PGiXYZ` component.

```scss
// Import the `_theme.scss` file for the theme you are using.
//[at]import 'theme';

// 1. Your component styles should be wrapped in a mixin.
// 2. Prefix the mixin with "pgi-"
// 3. Suffix the mixin with "-component-theme"
// 4. The mixin should take a $theme argument.
@mixin pgi-xyz-component-theme($theme){
  // 5. The theme parameter will be a map with the following properties:
  $primary: pgi-get($theme, primary);
  $accent: pgi-get($theme, accent);
  $warn: pgi-get($theme, warn);
  $background: pgi-get($theme, background);
  $foreground: pgi-get($theme, foreground);
  $grayscale: pgi-get($theme, grayscale);
  $pgi: pgi-get($theme, pgi);
  $is-dark: pgi-get($theme, is-dark);

  // You can also see what's in the theme like this:
  @debug($theme);

  // 6. Your component styles should be wrapped in a root selector
  // so they never get applied outside your component.
  xyz {
    // 7. To use the theme colors, use the pgi-color function with the
    // appropriate palette variable. By default you will get the 500 color
    // from the palette.
    color: pgi-color($primary);

    .foo {
      // 8. You can get a specific color from the palette by passing it
      // as the second parameter to pgi-color.
      background-color: pgi-color($primary, 800);

      // 9. If you use a palette color for the background of an element,
      // you can find the correct text color to go ontop of that background
      // by using the contrast map of the palette.
      $primary-contrast: map-get($primary, contrast);
      color: pgi-color($primary-contrast, 800);
    }

    .bar {
      // 10. You can also specify an opacity for your color.
      background-color: pgi-color($primary, 900, 0.5);
    }

    .baz {
      // 11. For default styles, you'll want to use the background
      // and foreground palettes rather than the primary, accent and warn palettes.
      color: pgi-color($foreground, text);
      background-color: pgi-color($background, background);
    }

    .boz {
      // 12. For sizing, use the pgi-rem() function to size elements
      // relative on the base font size. When using it,
      // you pass the pixel value you want to use and the function will
      // calculate the correct rem value for you. This way, your application
      // can change the base font size and all elements will scale to match that
      // font size.
      margin-top: pgi-rem(15);

      // 13. There are also functions you can use to access other theme
      // settings like border widths, font sizes, transition parameters, etc.
      border: pgi-border(s) solid pgi-color($primary);
      border-radius: pgi-radius(s);
      z-index: pgi-depth(autocomplete);
      transition: all pgi-time(s) pgi-easing(ease);
    }
  }
}
```

> Notice that there were no hardcoded numbers or colors in the component above.
If you see numbers and color values in a PR, that's a code smell. It means
your component is not fully theme-able.

Styleguide starting.theming
*/


/*
Organizing Documentation Pages

We've created a theme-able component, added it to all the right files and documented
it's usage with KSS. Where do I find it in this Styleguide?

By default, the new components are placed near the bottom of
the site. You probably noticed that you can group and order your documentation
using the [`Styleguide page.child` notation](https://github.com/kss-node/kss/blob/spec/SPEC.md#the-styleguide-reference)
in your KSS as well as the [`Weight: X` notation](https://github.com/kss-node/kss/blob/spec/SPEC.md#the-weight-property).

You can then further organize the style guide pages using the
`src/app/page-hierarchy.json` file. This file allows you to override the weights
defined in the KSS documentation so you can easily re-order pages without
having to update the inline documentation.

Given the following KSS comment blocks:

```scss
/ *
Foo

Styleguide foo
* /

/ *
Page 1

Styleguide foo.page-1
* /

/ *
Page 2

Styleguide foo.page-2
* /

/ *
Page 3

Styleguide foo.page-3
* /
```

And then the following routes file.

```json
[
  {
    "name": "foo",
    "childOrder": [
      "page-3",
      "page-2"
    ]
]
```

You will end up with the docs in reverse order. Any pages not listed in
the `childOrder` node were added at the end of the page in the order
defined by KSS.

Weight: 10

Styleguide starting.navigation
*/
