@import 'theme';

/*
Layouts

These components and styles can be used to layout content in various ways.

Styleguide layout
*/

// TODO Documentation
// TODO Create a layout module and component.
@mixin pgi-side-menu-app-layout-theme($theme){
  $foreground: map-get($theme, foreground);

  .pgi-side-menu-app {
    display: flex;
    height: 100vh;
    overflow: hidden;

    pgi-side-menu {
      width: 100%;
    }

    pgi-tool-bar.app-header {
      flex-grow: 0;
      flex-shrink: 0;
      align-items: center;
      border-bottom: pgi-border(s) solid pgi-color($foreground, divider);
    }

    .pgi-side-menu-app-content {
      display: flex;
      flex-direction: column;
      height: 100vh;
    }

    .app-content {
      overflow-y: scroll;
      padding: gp-rows(1);
    }
  }
}
