@import 'theme';

/*
Autocomplete

The autocomplete component adds a floating list of options that floats
below (or above) an input element. You have full control of the input
element, results markup and styling. This component only controls displaying
the results in the correct location and showing them on focus.

### Attributes

- **pgi-top** Force the dropdown to open above the autocomplete element.

To start, wrap your input in a `pgi-autocomplete` element:

```html
<pgi-autocomplete>
  <pgi-icon-input icon="pgi:search" placeholder="My favorite rapper is...">
</pgi-autocomplete>

<!-- or you could use a vanilla input -->
<pgi-autocomplete>
  <input type="text" placeholder="My favorite rapper is...">
</pgi-autocomplete>
```

Next, you need to add the autocomplete results that will appear in the
dropdown. You can place anything in your results as long as each result
is wrapped in a `pgi-autocomplete-result` element.

```html
<pgi-autocomplete>
  <pgi-icon-input icon="pgi:search" placeholder="My favorite rapper is...">
  <pgi-autocomplete-result>First Result<pgi-autocomplete-result>
  <pgi-autocomplete-result>Second Result<pgi-autocomplete-result>
  <pgi-autocomplete-result>Third Result<pgi-autocomplete-result>
</pgi-autocomplete>

<!-- or better yet, use ngFor -->
<pgi-autocomplete>
  <pgi-icon-input icon="pgi:search" placeholder="My favorite rapper is...">
  <pgi-autocomplete-result *ngFor="let rapper of rappers">
    <div>{{rapper.name}}</div>
    <button>Dope!</button>
  <pgi-autocomplete-result>
</pgi-autocomplete>
```

After that you can use the standard Angular forms module to react to
user input. Here's the code for the example below:

```html
<pgi-autocomplete>
  <pgi-icon-input [formControl]="myControl" icon="pgi:search" placeholder="My favorite rapper is..."></pgi-icon-input>
  <pgi-autocomplete-result *ngFor="let rapper of filteredRappers | async">
    <div>{{rapper.name}}</div>
    <div><pgi-icon-button icon="pgi:call-filled"></pgi-icon-button></div>
  </pgi-autocomplete-result>
</pgi-autocomplete>
```

```js
export class AutocompleteExample {
  rappers = [
    ...
  ];

  filteredRappers: Observable<any[]>;
  myControl: FormControl;

  constructor(){
    this.myControl = new FormControl();
  }

  ngOnInit(){
    this.filteredRappers = Observable.of( this.rappers )
      .merge( this.myControl.valueChanges )
      .scan( (list, value) => {
        return this.rappers.filter( (rapper) => {
          return rapper.name.toLowerCase().includes( value.toLowerCase() );
        });
      });
  }
}
```

Most of the styling for this component is left up to the implementation with
the exception of the max-height. You can easily override the height as follows:

```scss
pgi-autocomplete.pgi-open .pgi-autocomplete-results {
  max-height: 100px;
}
```

Markup:
<ex-autocomplete></ex-autocomplete>

Weight: 5

Styleguide forms.autocomplete
*/
@mixin pgi-autocomplete-component-theme($theme){
  $background: map-get($theme, background);

  pgi-autocomplete {
    display: inline-flex;
    position: relative;

    .pgi-autocomplete-results {
      position: absolute;
      top: 100%;
      z-index: pgi-depth(dropdown);
      overflow-y: scroll;
      background-color: pgi-color($background, background);
      box-shadow: pgi-shadow(outer-bottom);
      transition: opacity pgi-time(s) linear, max-height pgi-time(m) pgi-easing(ease);
      // Default to closed.
      max-height: 0;
    }

    // Hide the results in the closed state.
    &.pgi-open {
      .pgi-autocomplete-results {
        max-height: gp-rows(15);
      }
    }

    // Place the results above the input when in the top state.
    &.pgi-top {
      .pgi-autocomplete-results {
        bottom: 100%;
        top: initial;
      }
    }
  }
}
