@import 'theme';

@mixin pgi-autocomplete-result-component-theme($theme){
  $background: map-get($theme, background);

  pgi-autocomplete-result {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 gp-rows(0.5);

    &:hover {
      background-color: pgi-color($background, hover);
    }
  }
}
