@import 'theme';
@import '../halo/halo';

/*
Checkbox component

### Attribute Values

- **ariaLabel** Attached to 'aria-label' attribute of checkbox as aid to assistive technology (e.g. screen readers).  Can be omitted if using **ariaLabelledby**.
- **ariaLabelledby** Attached to 'aria-labelledby' attribute of checkbox as aid to assistive technology (e.g. screen readers).  Takes precedence over **ariaLabel**.
- **id** A unique ID for the checkbox
- **required** Sets whether the checkbox is required.  Default is 'false'.
- **labelPosition** Determines whether label should appear before or after the checkbox.  Default is 'after'.
- **disabled** Sets disabled property.  Default is 'false'.
- **name** Sets name property. Default is 'undefined'.
- **value** Sets value associated with checkbox when submitted.
- **checked** Determines checkbox state. Default is 'false'.
- **color** The color scheme of the checkbox.  Options include 'primary', 'accent', and 'warn'.  Default is 'primary'.

### Events

- **change** Emitted when the checkbox's 'checked' value changes

### Class Modifiers

None

### CSS Sizing

None

Markup:
<p>
  <pgi-check-box 
    id='primary'
    labelPosition='before'
    disabled='false'
    ariaLabel='screenhelper'
    ariaLabelledby='TomTerrific'
    required='true'
    color='primary'
    value='primaryValue'
    >Primary
  </pgi-check-box>
</p>
<p>
  <pgi-check-box 
    id='accent'
    labelPosition='before'
    disabled='false'
    ariaLabel='screenhelper'
    ariaLabelledby='TomTerrific'
    required='true'
    color='accent'
    >Accent
  </pgi-check-box>
</p>
<p>
  <pgi-check-box 
    id='warn'
    labelPosition='before'
    disabled='false'
    ariaLabel='screenhelper'
    ariaLabelledby='TomTerrific'
    required='true'
    color='warn'
    >Warn
  </pgi-check-box>
</p>
<p>
  <pgi-check-box 
    id='disabled'
    labelPosition='after'
    disabled='true'
    >Disabled
  </pgi-check-box>
</p>
<p>
  <pgi-check-box 
    id='disabled'
    labelPosition='after'
    disabled='true'
    checked='true'
    >Disabled
  </pgi-check-box>
</p>

Styleguide forms.checkbox
*/

@mixin set-mat-checkbox-frame-colors($palette, $border-color, $background-color) {
  background: pgi-color($palette, $background-color);
  border-color: pgi-color($palette, $border-color);
}

@mixin pgi-check-box-component-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);

  $halo-size: pgi-rem(40);
  $check-box-size: pgi-rem(22);
  $gradient-hue-begin: 500;
  $gradient-hue-end: 300;
  $border-hue: A200;
  $border-pressed-hue: 500;
  $bg-hue: A100;

  pgi-check-box {
    .mat-checkbox-background {
      .mat-checkbox-frame {
        height: $check-box-size;
        width: $check-box-size;
      }
    }

    .mat-checkbox-frame {
      border: pgi-border(s) solid;
      border-radius: pgi-radius(s);
    }

    .mat-checkbox-checked,
    &.mat-checkbox-indeterminate {
      @each $color-name, $color in (primary: $primary, accent: $accent, warn: $warn) {
        &.mat-#{$color-name} {
          &:not(.mat-checkbox-disabled) {
            .mat-checkbox-background {
              background: linear-gradient(to bottom, pgi-color($color, $gradient-hue-begin), pgi-color($color, $gradient-hue-end));
            }
          }
        }
      }
    }

    :not(.mat-checkbox-checked) {
      &:not(.mat-checkbox-disabled) {
        &.mat-primary {
          .mat-checkbox-frame {
            @include set-mat-checkbox-frame-colors($primary, $border-hue, $bg-hue);
          }
        }

        &.mat-accent {
          .mat-checkbox-frame {
            @include set-mat-checkbox-frame-colors($accent, $border-hue, $bg-hue);
          }
        }

        &.mat-warn {
          .mat-checkbox-frame {
            @include set-mat-checkbox-frame-colors($warn, $border-hue, $bg-hue);
          }
        }
      }
    }

    .mat-checkbox-disabled {
      &.mat-checkbox-checked, &.mat-checkbox-indeterminate {
        .mat-checkbox-background {
          background-color: pgi-color($background, disabled-button);
        }

        .mat-checkbox-frame {
          opacity: 0;
        }
      }

      &:not(.mat-checkbox-checked) {
        .mat-checkbox-background {
          background-color: pgi-color($background, card);
        }

        .mat-checkbox-frame {
          border-color: pgi-color($background, disabled-button);
          z-index: 1;
        }
      }
    }

    &:hover {
      &:not([disabled='true']) {
        .halo {
          background-color: pgi-color($background, hover);
          display: inline-block;
        }

        .mat-checkbox-frame {
          border: pgi-border(m) solid;
        }
      }
    }

    &:active {
      &:not([disabled='true']) {
        .halo {
          background-color: pgi-color($background, pressed);
          display: inline-block;
        }

        .mat-checkbox-frame {
          border: pgi-border(m) solid;
        }

        .mat-primary {
          .mat-checkbox-frame {
            @include set-mat-checkbox-frame-colors($primary, $border-pressed-hue, $bg-hue);
          }
        }

        .mat-accent {
          .mat-checkbox-frame {
            @include set-mat-checkbox-frame-colors($accent, $border-pressed-hue, $bg-hue);
          }
        }

        .mat-warn {
          .mat-checkbox-frame {
            @include set-mat-checkbox-frame-colors($warn, $border-pressed-hue, $bg-hue);
          }
        }
      }
    }

    .mat-ripple-element {
      // this is necessary to avoid ripple display when focus
      display: none;
    }

    .cdk-keyboard-focused ~ .halo {
      background-color: pgi-color($background, hover);
      display: inline-block;
    }

    .cdk-keyboard-focused ~ .mat-checkbox-frame {
      border: pgi-border(m) solid;
    }
  }

  .halo {
    @include halo($halo-size);
  }
}
