// tslint:disable:max-line-length
@import 'theme';

/*
Tooltip

The tooltip is an attribute directive that you can
add to any element and pass the text you want to
display. There are additional attributes you can
add for positioning; refer to the [Angular Material tooltip](https://material.angular.io/components/component/tooltip) docs.

### Attributes
- **pgiTooltip** Marks the element to have a tooltip. You can pass
text to display as the value of the attribute.
- **pgiTooltipPosition** Sets the position of the tooltip. Options include:
above, below, left, right, before, and after.

### To-Do
- Implement disabled, showDelay, hideDelay


Markup:
<span pgiTooltip="Lorem ipsum dolor sit amet con adipiscing elit. Nullam">
Tip me please</span>

Styleguide tooltips
*/

@mixin pgi-tooltip-directive-theme($theme) {
  $grayscale: map-get($theme, grayscale);
  $gray-contrast: map-get($grayscale, contrast);

  .cdk-overlay-container div.mat-tooltip {
    background-color: pgi-color($grayscale, A700);
    color: pgi-color($gray-contrast, A700);

    font-size: pgi-font-size(s);
    padding: 4.5px gp-rows(0.5);
    text-align: center;
    max-width: gp-rows(9);
    font-weight: pgi-font-weight(bold);
    line-height: pgi-line-height(tight);
    letter-spacing: pgi-spacing(s);

    box-shadow: pgi-shadow(tooltip-horizontal), pgi-shadow(tooltip-vertical);

  }
}
