@import 'theme';
/*
Dialogs

These are the components for popup modals. Dialogs are implemented
as a service which extends MdDialog. All dialogs must be included
as both a declaration and entryComponent in NgModules.

### Function calls

- ***open(ComponentRef or TemplateRef, boolean)*** Pass the component
content to the dialog via the first argument, and a boolean for whether
you want a large-panel as the second argument (default=false).
- ***closeDialog()*** Close all open dialogs.

Styleguide dialog
*/

/*
Base Dialog

All dialogs should either extend this base dialog or include it
with other dialog elements. The base dialog is implemented as
a flex container with no other styles applied to it. These need
to be provided by the consumers of the base dialog.

Markup:
<ex-dialog></ex-dialog>

Example of using the dialog:

```JavaScript
// To start, you will need a component that you can pass into the
// dialog.open() method. This display component should wrap its contents
// in a pgi-base-dialog so it will include the close button.
// pgi-base-dialog is a flexbox, but does not contain any other styling.
@Component({
  template: `
    <pgi-base-dialog>
      <h1>Na na na na na na na</h1>
      <h1>Batman!</h1>
    </pgi-base-dialog>
  `
})
// Ensure that DialogExampleContent is both a declaration and
// an entrycomponent in the NgModule
export class DialogExampleContent {}

// Here is an example page that would pop a modal.
@Component({
  template: `<pgi-text-button (click)="openDialog()">Open Dialog</pgi-text-button>`
})
export class DialogExample {

  // Ask for the PGiDialog service so you can open the dialog on click.
  constructor(private dialog: PGiDialog) { }

  openDialog() {
    // Pass the component you want to populate into the dialog.
    this.dialog.open(DialogExampleContent);
  }
}
```

Styleguide dialog.base
*/

@mixin pgi-base-dialog-component-theme($theme) {

  .cdk-overlay-container .mat-dialog-container {
    $background: map-get($theme, background);
    $foreground: map-get($theme, foreground);

    padding: 0;
    overflow: visible;

    ng-component {
      display: block;
      height: 100%;
    }

    .body {
      flex: 1;
      overflow: scroll;
    }

    // TODO: replace reference with pgi-navigation-button when merged with master
    .pgi-close {
      position: absolute;
      left: 100%;
      bottom: 100%;
    }

    pgi-base-dialog {
      overflow: visible;
      display: flex;
      flex-direction: column;
      height: 100%;
      position: relative;
    }
  }
}
