@import 'theme';
/*
Large Panel

The large panel contains the base dialog as its content box
and applies a header and footer wrapping the base dialog.

### Input Attributes
- ***[title]*** Set the title of the header

Markup:
<ex-large-panel></ex-large-panel>

Example of the large panel:

```JavaScript
// Create a component that you want to be displayed inside the dialog modal. This
// component will get passed to the dialog.open() method in the dialog service.
// The pgi-large-panel is organized as a pgi-base-dialog wrapping a <header>,
// <div class="body">, <footer>.
// The pgi-large-panel is a flexbox with styling on the header and footer,
// but no styling on the body contents.
@Component({
  template: `
    <pgi-large-panel #panel [title]='title'>
      <div body style="padding: 0 60px">
        <h1></h1>
        <p></p>
      </div>
      <pgi-text-button footer type="secondary" (click)="panel.closeDialog()">Close</pgi-text-button>
      <pgi-text-button footer type="primary">Save Changes</pgi-text-button>
    </pgi-large-panel>`
})
// Include the content component as both a declaration and an entrycomponent in the module
export class LargePanelExampleContent {
  // Large panel accepts a data binding to the title. This gets displayed in <header> tags
  title = 'Wild Style Information';
}

@Component({
  // Example page to be able to open a panel
  template: `<pgi-text-button (click)="openPanel()">Open Large Panel</pgi-text-button>`,
})
export class LargePanelExample {

  // Instantiate the PGiDialog service to be able to create the modal
  constructor(private dialog: PGiDialog) { }

  openPanel() {
    // Pass the component you want to pop in the dialog into the open() function
    // Set the boolean flag to true to indicate that it is a large panel
    this.dialog.open(LargePanelExampleContent, true);
  }
}
```

The large panels are styled to 80% of the window with a max width of 768px.
A flexbox is used to house the elements (header, base-dialog, footer) and
styling is provided to the buttons. All base-dialog content needs to be
styled with its own provided styles.

Styleguide dialog.large
*/

@mixin pgi-large-panel-component-theme($theme) {

  .pgi-large-panel-overlay {
    width: 80%;
    height: 80%;
    max-width: pgi-rem(768);
  }

  .cdk-overlay-container .mat-dialog-container {
    $background: map-get($theme, background);
    $foreground: map-get($theme, foreground);

    padding: 0;
    overflow: visible;

    ng-component {
      display: block;
      height: 100%;
    }

    pgi-large-panel {
      height: 100%;
    }

    .body {
      flex: 1;
      overflow: scroll;
    }

    header {
      flex-grow: 0;
      flex-shrink: 0;
      background-color: pgi-color($background, hover);
      padding: pgi-rem(11) pgi-rem(60);
      font-size: pgi-font-size(l);
      font-weight: pgi-font-weight(bold);
      letter-spacing: pgi-spacing(m);
      line-height: pgi-line-height(extra-tight);
      text-align: left;
      border-bottom: pgi-border(s) solid pgi-color($foreground, divider);
    }

    footer {
      flex-grow: 0;
      flex-shrink: 0;
      text-align: right;
      padding: pgi-rem(10) pgi-rem(24) pgi-rem(18);

      border-top: pgi-border(s) solid pgi-color($foreground, divider);

      pgi-text-button {
        margin-left: pgi-rem(12);
      }
    }
  }
}
