@import 'theme';

/*
Sass Mixin pgi-debug-grid-lines($theme)

You can use this mixin to add grid lines to any element.

```scss
//[at]import '~@pgi/ng-component-lib/debug-grid/debug-grid';

body {
  @include 'pgi-debug-grid-lines($my-theme);
}
```

Styleguide debug-grid.grid-lines
*/
@mixin pgi-debug-grid-lines($theme) {
  $primary: map-get($theme, primary);
  $color: pgi-color($primary, 0.3);

  background-image: linear-gradient(to right, $color 1px, transparent 1px), linear-gradient(to bottom, $color 1px, transparent 1px);
  background-size: gp-rows(1) gp-rows(1);
  background-position: left top;
}

/*
Sass Mixin pgi-debug-backgrounds($theme)

You can use this mixin to add a background to every child element.
This is useful for seeing how elements are sized.

```scss
//[at]import '~@pgi/ng-component-lib/debug-grid/debug-grid';

body {
  @include 'pgi-debug-backgrounds($my-theme);
}
```

Styleguide debug-grid.backgrounds
*/
@mixin pgi-debug-backgrounds($theme) {
  $primary: map-get($theme, primary);

  * {
    background-color: pgi-color($primary, 0.1);
  }
}

