@import './debug-grid';

/*
Debug Grid Overlay

This component will add a debug overlay to it's container.
To work, the outer container needs to be `postion: relative`.
You'll usually want the overlay on the entire page which you
can do as follows:

```scss
//[at]import '~@pgi/ng-component-lib/debug-grid/debug-grid-overlay';

body {
  position: relative;
  @include pgi-debug-grid-component-theme($my-theme);
}
```

Styleguide debug-grid
*/
@mixin pgi-debug-grid-overlay-component-theme($theme){
  pgi-debug-grid-overlay {
    [pgi-debug-grid] {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      pointer-events: none;

      &.pgi-debug-grid {
        @include pgi-debug-grid-lines($theme);
      }
    }
  }
}
