@import 'theme';

@mixin pgi-side-menu-item-component-theme($theme) {
  pgi-side-menu-item {
    $is-dark-theme: map-get($theme, is-dark);
    $brand: map-get($theme, brand);
    $accent: map-get($theme, accent);
    $warn: map-get($theme, warn);
    $background: map-get($theme, background);
    $foreground: map-get($theme, foreground);
    $brand-contrast: map-get($brand, contrast);
    
    $closedSize: 2;

    display: flex;
    flex-shrink: 0;
    cursor: default;
    @include pgi-text(large);

    &:focus {
      outline: none;
      background-color: pgi-color($brand, 0.5);
      color: pgi-color($brand-contrast, 500);
    }

    &[routerLinkActive], &.pgi-router-link {
      cursor: pointer;
      color: pgi-color($foreground, secondary-text);
      transition: background linear pgi-time(m), color linear pgi-time(m);

      &:hover {
        background-color: pgi-color($brand, 0.75);
        color: pgi-color($brand-contrast, 500);
        // Make the fade-in shorter than the fade-out.
        transition: background linear pgi-time(xs), color linear pgi-time(xs);
      }

      &.active {
        background-image: linear-gradient(180deg, pgi-color($brand, 500), pgi-color($brand, 300));  
        color: pgi-color($brand-contrast, 500);
      }
    }

    &.long {
      .left {
        white-space: nowrap;
        justify-content: flex-start;
        width: 100%;

        [icon] {
          @include pgi-ellipsis();
        }
      }
    }

    .left {
      display: flex;
      flex-grow: 0;
      flex-shrink: 0;
      // Not sure of a good way to make the left column size itself to the content.
      width: gp-rows($closedSize);
      height: gp-rows($closedSize);
      justify-content: center;
      align-items: center;
    }

    .right {
      display: flex;
      flex: 1;
      align-items: center;
      white-space: nowrap;
    }
  }
}
