<div class="menuTrigger"
  [mdMenuTriggerFor]="menu"
  #menuTrigger="mdMenuTrigger">
  <ng-content select="pgi-menu-trigger"></ng-content>
</div>
<md-menu #menu
  class="pgi-menu-container {{size}} {{classList}}"
  [xPosition]="xPosition"
  [yPosition]="yPosition"
  [overlapTrigger]="overlapTrigger">
  <ng-content></ng-content>
</md-menu>