@import 'theme';
/*
Menu

This component is a floating panel containing list of options.
The menu consists of three components (menu container, a menu item "label", and a menu trigger).
Use the `<pgi-menu>` element to wrap your entire menu content and the `<pgi-label-menu-item>` elements
to wrap your individual menu items. The `<pgi-menu-trigger>` element is responsible for toggling the
display of the provided `<pgi-menu>` instance.

**Attribute options and methods of `<pgi-menu>`**
- **size** : Input - The size attribute can be used to set the size of the `<pgi-menu>` container. Values could be small, medium, large, x-large, xx-large. Default is large.
- **xPosition** : Input - Position of the menu in the X axis. The value of this property could be either `before` or `after`. Default is set to `after`.
- **yPosition** : Input - Position of the menu in the Y axis.The value of this property could be either `above` or `below`. Default is set to `above`.
- **overlapTrigger** : Input - Whether the menu should overlap its trigger. Default is set to true.
- **classList** : Input - This method takes classes set on the host menu element and applies them on the menu template that displays in the overlay container. Otherwise, it's difficult to style the containing menu from outside the component.
- **focusFirstItem()** : Focus the first item in the menu. This method is used by the menu trigger to focus the first item when the menu is opened by the ENTER key.
- **setPositionClasses(posX?: "before" | "after", posY?: "above" | "below")** : It's necessary to set position-based classes to ensure the menu panel animation folds out from the correct direction.
 
**Attribute options and methods of `<pgi-label-menu-item>`**
- **labelText** : Input - Text for the menu item.
- **description** : Input - If you need a description for the menu item, then add it here.
- **type** : Input - Set `type=destructive` if you want a destructive menu item i.e label color is red.
- **hr** : Input - Set `hr=true` if you want a horizontal rule added after the menu item. Default is set to false.
- **disabled**: Input - Whether the menu item is disabled. Default is set to false.
- **clickItemEvent** : Output - Event emitted when menu item is clicked.
- **focusMenuItem()**: Focuses the menu item.

**Methods of `<pgi-menu-trigger>`**
- **toggleMenu()** : Toggles the menu between the open and closed states.
- **openMenu()**: Opens the menu.
- **closeMenu()**: Closes the menu.
- **destroyMenu()**: Removes the menu from the DOM.
- **focusMenuTrigger()**: Focuses the menu trigger.

See the examples below :

Markup:
<h3 class="example">Menu trigger with icon</h3>
<pgi-menu>
  <pgi-menu-trigger><pgi-icon size="2" aria-label="list" icon="pgi:list"></pgi-icon></pgi-menu-trigger>
  <pgi-label-menu-item labelText="Item 1" description="hello" type="destructive" hr="true"></pgi-label-menu-item>
  <pgi-label-menu-item labelText="Item 2" description="hello" disabled></pgi-label-menu-item>
  <pgi-label-menu-item labelText="Item 3" ></pgi-label-menu-item>
</pgi-menu>
<h3 class="example">Menu trigger with button</h3>
<pgi-menu size="x-large">
  <pgi-menu-trigger><pgi-text-button class="pgi-small" color="primary">Menu</pgi-text-button></pgi-menu-trigger>
  <pgi-label-menu-item labelText="Item 1" description="hello" type="destructive"></pgi-label-menu-item>
  <pgi-label-menu-item labelText="Item 2" description="hello" hr="true"></pgi-label-menu-item>
  <pgi-label-menu-item labelText="Item 3"></pgi-label-menu-item>
  <pgi-label-menu-item labelText="Item 4" hr="true"></pgi-label-menu-item>
  <pgi-label-menu-item labelText="Item 5"></pgi-label-menu-item>
  <pgi-label-menu-item labelText="Item 6"></pgi-label-menu-item>
  <pgi-label-menu-item labelText="Item 1" description="hello" type="destructive" disabled></pgi-label-menu-item>
</pgi-menu>

Styleguide menu
*/

/** Sets theme to pgi-menu-component*/
@mixin pgi-menu-component-theme($theme) {
  $background: map-get($theme, background);
  $pgi-menu-content-padding-offset : 2;

  .pgi-menu-container {
    &.small {
      width: gp-rows(5.5);
    }

    &.medium {
      width: gp-rows(8.5);
    }

    &.large {
      width: gp-rows(11.5);
    }

    &.x-large {
      width: gp-rows(14.5);
    }

    &.xx-large {
      width: gp-rows(17.5);
    }

    &.mat-menu-panel {
      box-shadow: pgi-shadow(outer-bottom);
      max-width: none;
      min-width: gp-rows(5.5);
      border-radius: pgi-nudge();
    }

    .mat-menu-content {
      background: pgi-color($background, background);
      padding: pgi-nudge() * $pgi-menu-content-padding-offset 0;
    }
  }
  .menuTrigger {
    display: inline-block;
    cursor: pointer;
  }
}
