<pgi-side-menu #sideMenu class="pgi-collapse-fully">
  <pgi-side-menu-item class="long pgi-router-link main-nav"
    *ngFor="let page of navigation"
    routerLink="{{page.path}}"
    routerLinkActive="active">
    <div icon>{{page.title}}</div>
  </pgi-side-menu-item>
  <pgi-side-menu-content class="sg pgi-side-menu-app-content"
    pgi-debug-grid
    pgi-debug-grid-key=';'
    pgi-debug-grid-class="pgi-debug-backgrounds">
    <pgi-tool-bar class="app-header">
      <div left>
        <pgi-menu-button (click)="sideMenu.toggleCollapse()" aria-label='Toggle Side Menu'></pgi-menu-button>
      </div>
      <div center>
        PGi Component Library
      </div>
    </pgi-tool-bar>
    <div class="app-content">
      <router-outlet></router-outlet>
    </div>
  </pgi-side-menu-content>
</pgi-side-menu>
<pgi-debug-grid-overlay></pgi-debug-grid-overlay>
