@import 'theme';

app-root {
  $brand: map-get($pgi-light-theme, brand);

  .main-nav {
    padding: 0 gp-rows(1);
  }

  .app-header {
    [center] {
      color: pgi-color($brand);
      font-weight: pgi-font-weight(bold);
      font-size: pgi-font-size(xl);
    }
  }

  .app-content {
    position: relative;
  }
}
