@import '../../pgi/color-data';
@import '../../utils';

$white: #ff00ff;
$black: #00ff00;

$uni-colors: (
  presence: (
    available: green,
    do-not-disturb: red,
    away: yellow,
    offline: grey
  ),
  shadow: (
    outer-right: 7px 0 10px 0 rgba(0, 0, 0, 0.15),
    outer-bottom: 0 6px 12px 0 rgba(0, 0, 0, 0.1)
  )
);

$uni-primary: (
  50 : #fce4ec,
  100 : #f8bcd0,
  200 : #f48fb1,
  300 : #f06292,
  400 : #ec407a,
  500 : #e91e63,
  600 : #e61a5b,
  700 : #e31651,
  800 : #df1247,
  900 : #d90a35,
  A100 : #ffffff,
  A200 : #ffd0d8,
  A400 : #ff9dae,
  A700 : #ff8498,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$uni-accent: (
  50 : #e1f5fe,
  100 : #b3e5fc,
  200 : #81d4fa,
  300 : #4fc3f7,
  400 : #29b6f6,
  500 : #03a9f4,
  600 : #03a2f3,
  700 : #0298f1,
  800 : #028fef,
  900 : #017eec,
  A100 : #ffffff,
  A200 : #e0efff,
  A400 : #add4ff,
  A700 : #93c7ff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$uni-warn: (
  50 : #fdf8e2,
  100 : #fbecb7,
  200 : #f8e087,
  300 : #f5d456,
  400 : #f2ca32,
  500 : #f0c10e,
  600 : #eebb0c,
  700 : #ecb30a,
  800 : #e9ab08,
  900 : #e59e04,
  A100 : #ffffff,
  A200 : #fff2d9,
  A400 : #ffe0a6,
  A700 : #ffd78c,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$uni-light-theme-background: (
  background      : $white,
  status-bar      : mix($black, $white, 50%),
  app-bar         : mix($black, $white, 25%),
  hover           : mix($black, $white, 15%),
  card            : mix($black, $white, 10%),
  dialog          : mix($black, $white, 10%),
  disabled-button : mix($black, $white, 25%),
  raised-button   : mix($black, $white, 25%),
);

$uni-dark-theme-background: (
  background      : $black,
  status-bar      : mix($white, $black, 50%),
  app-bar         : mix($white, $black, 25%),
  hover           : mix($white, $black, 15%),
  card            : mix($white, $black, 10%),
  dialog          : mix($white, $black, 10%),
  disabled-button : mix($white, $black, 25%),
  raised-button   : mix($white, $black, 25%),
);

// Foreground palette for light themes.
$uni-light-theme-foreground: (
  base:            $black,
  divider:         rgba($black, 0.12),
  dividers:        rgba($black, 0.12),
  disabled:        rgba($black, 0.38),
  disabled-button: rgba(147, 171, 189, 0.25),
  disabled-text:   rgba($black, 0.38),
  hint-text:       rgba($black, 0.38),
  secondary-text:  rgba($black, 0.44),
  icon:            rgba($black, 0.44),
  icons:           rgba($black, 0.44),
  text:            rgba($black, 0.87),
  background:      map-get($pgi-light-theme-background, background)
);

// Foreground palette for dark themes.
$uni-dark-theme-foreground: (
  base:            $white,
  divider:         rgba($white, 0.12),
  dividers:        rgba($white, 0.12),
  disabled:        rgba($white, 0.3),
  disabled-button: rgba($white, 0.3),
  disabled-text:   rgba($white, 0.3),
  hint-text:       rgba($white, 0.3),
  secondary-text:  rgba($white, 0.4),
  icon:            $white,
  icons:           $white,
  text:            $white,
  background:      map-get($pgi-dark-theme-background, background)
);

$pgi-colors                 : pgi-deepish-merge($pgi-colors, $uni-colors);
$primary                    : map-merge($pgi-primary-colors, $uni-primary);
$accent                     : map-merge($pgi-accent-colors, $uni-accent);
$warn                       : map-merge($pgi-warn-colors, $uni-warn);
$pgi-light-theme-foreground : map-merge($pgi-light-theme-foreground, $uni-light-theme-foreground);
$pgi-light-theme-background : map-merge($pgi-light-theme-background, $uni-light-theme-background);
$pgi-dark-theme-foreground  : map-merge($pgi-dark-theme-foreground, $uni-dark-theme-foreground);
$pgi-dark-theme-background  : map-merge($pgi-dark-theme-background, $uni-dark-theme-background);

