@import '../../pgi/font-data';

$title-font: 'Pacifico', cursive;
$code-font: 'VT323', monospace;

$unicorn-fonts: (
  faces: (
    body: sans-serif,
    heading: $title-font,
    code: $code-font
  ),
  weights: (
    extra-bold: 800,
    bold: 700,
    semi-bold: 600,
    normal: 400,
    light: 300
  ),
  sizes: (
    xxl: 60,
    xl: 35,
    l: 20,
    m: 18,
    s: 12,
    xs: 8
  )
);

$pgi-fonts: map-merge($pgi-fonts, $unicorn-fonts);

