@import '../../pgi/size-data';

// TODO DRY this up.
$pgi-base-font-size: 18;
// For legibility for the visually impaired, it is best to
// keep a line-height of at least 1.5
$pgi-base-line-height: 1.6;

$unicorn-sizes: (
  row: round( $pgi-base-font-size * $pgi-base-line-height ),
  nudge: 3,
  borders: (
    l: 4,
    m: 3,
    s: 1
  ),
  radius: (
    l: 10,
    m: 6,
    s: 3
  ),
  z: (
    autocomplete: 800,
    debug-overlay: 1000,
    dropdown: 800,
  )
);

