<div class="menu-container {{menuClasses}}" [class.collapsed]="isMenuCollapsed()">
  <div class="bottom-items">
    <ng-content select="pgi-side-menu-item[bottom]"></ng-content>
  </div>
  <div class="top-items">
    <ng-content select="pgi-side-menu-item"></ng-content>
  </div>
</div>
<div class="content {{contentClasses}}">
  <ng-content select="pgi-side-menu-content"></ng-content>
</div>
