@import 'theme';

/*
Navigation

These components can be used to add navigation or menus to your application.

Styleguide menus
*/

/*
Side Menu

The Side Menu Item consists of three components (a menu item "icon",
a menu item "label", and the "content" that appears outside of the menu).
The Label will hide when the menu is collapsed and Icon will remain
visisble. The content will be placed to the right of the menu.

Use the `<pgi-side-menu>` element to wrap your entire menu content and
the `<pgi-side-menu-item>` elements to wrap your individual menu items.
The `<pgi-side-menu-content>` element wraps the non-menu content on the right.
See the example below.

For each menu item, use the attributes `icon` and `label` to specify which content
node you would like to be the icon and label. If you want to supply a single
item as the icon and label, you can add a `long` class to the icon node
(see example below).

### Attribute parameters
- **icon** Denotes which element should be the icon for a menu item. This node
  will remain visible when the menu is collapsed.
- **label** Denotes which element is the text label for a menu item. This node
  will be hidden when the menu is collapsed.
- **menuClasses** A classlist that will be applied to the menu area. You can
  use this to define different styles to apply to the menu which shouldn't
  apply to the content.
- **contentClasses** A class list that will be applied to the content area
  (the inverse of `menuClasses`).
- **routerLink** The route you would like to go to when a menu item is selected.
- **routerLinkActive** ?

You can use the menu item as an angular router link by adding `routerLink` and
`routerLinkActive` attributes to the `<pgi-side-menu-item>` elements.

To change the sizing of elements in the menu, you can:

```scss
pgi-side-menu.my-version {
  // Change the overall width of the menu.
  .menu-container {
    width: 300px;
  }

  // Change the width of the icon column in the menu.
  // (you'll need to set both the left column width and
  // the menu's collapsed width).
  .left, .menu-container.collapsed {
    width: 100px;
  }

  // You cannot change the width of the label column directly.
  // However, it's size is whatever is left over in the `.menu-container`
  // after the `.left` column.
  // You can however style other properties of the label column using:
  .right {
    background-color: red;
  }

  // By default, the content of the icon column is centered.
  // If you do not want that for some or all items in that column,
  // you can do:
  .left.my-left-aligned-item {
    justify-content: flex-start;
  }

  // You can style the content using the menuClasses attribute.
  // For example, if you set '<pgi-side-menu contentClasses="foo">',
  // you could then style the content area with:
  .foo {
    background-color: lightcyan;
  }
}
```

Markup:
<!-- Use pgi-side-menu to wrap the menu and non-menu content -->
<pgi-side-menu #sideMenu>
  <!-- Side Menu Items are designated with the pgi-side-menu-item element. -->
  <pgi-side-menu-item routerLink="/example" routerLinkActive="active">
    <!-- You can place any type of content inside the pgi-side-menu-item
         as long as you give it the "icon" and "label" attributes to designate
         which is which. -->
    <div icon>Icon</div>
    <div label>1. Label</div>
  </pgi-side-menu-item>
  <pgi-side-menu-item routerLink="/example-2" routerLinkActive="active" class="active">
    <pgi-icon icon="pgi:call-filled" size="4">2nd</pgi-icon>
    <div label>2. Other</div>
  </pgi-side-menu-item>
  <!-- Use `bottom` selector to keep pgi-side-menu-item at the bottom section.
       Can have multiple items moved to the bottom section with the `bottom` selector -->
  <pgi-side-menu-item bottom class="long">
    <div icon>Bottom Item</div>
  </pgi-side-menu-item>
  <pgi-side-menu-item bottom class="long">
    <div icon>verson 7.0.3</div>
  </pgi-side-menu-item>
  <!-- Use the pgi-side-menu-content element to define the content that
       falls outside of the menu (to the right). This is generally your
       site content. -->
  <pgi-side-menu-content>
    <pgi-tool-bar>
      <pgi-icon-button left (click)="sideMenu.toggleCollapse()"
        icon="pgi:menu" aria-label="Toggle Menu">
      </pgi-icon-button>
    </pgi-tool-bar>
  </pgi-side-menu-content>
</pgi-side-menu>

Styleguide menus
*/

@mixin pgi-side-menu-component-theme($theme) {
  pgi-side-menu {
    $is-dark-theme: map-get($theme, is-dark);
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $warn: map-get($theme, warn);
    $background: map-get($theme, background);

    $openSize: 10;
    $closedSize: 2;

    display: flex;

    &.pgi-collapse-fully {
      > .menu-container.collapsed {
        width: 0;
      }
    }

    .menu-container {
      width: gp-rows($openSize);
      flex-shrink: 0;
      background-color: pgi-color($background, background);
      box-shadow: pgi-shadow(outer-right);
      overflow-x: hidden;
      overflow-y: scroll;

      transition: width pgi-time(l) pgi-easing(ease);

      display: flex;
      flex-direction: column-reverse;

      .top-items{
        display: flex;
        flex-direction: column;
        flex: 1;
        overflow: auto;
      }

      .bottom-items {
        display: flex;
        flex-direction: column;
      }

      &.collapsed {
        width: gp-rows($closedSize);

        .menu-wrapper {
          width: gp-rows($closedSize);
        }
      }
    }

    .content {
      flex: 1;
    }
  }
}

