/*
Focus Events Directive

This component can be used to receive enter and leave events from an element.
It can be used as either an attribute directive or as a base class for components
that need to know when focus enters or leaves them (see PGiAutocomplete for an example).

For example, the following html template will notifiy its component when
either the input or button receive focus and when focus leaves the elements
inside that div. However, no events will be raised when focus changes between
the input and button (unlike attaching focus listeners directly to the input and
button).

```js
<div pgi-focus-events (enter)="doStuffOnEnter()" (leave)="doStuffOnLeave()">
  <input type="text">
  <button>Click</button>
</div>
```

To use this as a base class for a custom component, your template must
include elements that can receive focus. You can then extend PGiFocusEvents
as follows:

```js
export class MyComponent extends PGiFocusEvents {
  @HostListener('enter')
  handleEnter(){
    // Respond when focus enters your component.
  }

  @HostListener('leave')
  handleLeave(){
    // Respond when focus leaves your component.
  }
}
```

> **NOTE:** This component attaches listeners to the document which can have
performance implications if you attach a lot of instances/subclasses of it
to the DOM.

Styleguide forms.focus-events
*/
