@import 'theme';

$margins-and-padding: 16;

@mixin pgi-shared-input-styles-theme($theme) {
  display: inline-flex;
  position: relative;

  input[type=text],
  input[type=password],
  input[type=email] {
    flex-grow: 1;
  }
}
