@import './icon-button.component';

/*
Fab Button

Wraps the material design fab button.

### Attribute Values

- **disabled** - Disable the button.
- **color** - Set the color of this button. Color values are the same as
  `<pgi-text-button>`.
- **icon** - One of the icons defined in the PGi icon set or your app.
- **size** - An icon size (same as pgi-icon)
- **aria-label** - You should always specify an arial-label with icon
  buttons for screen readers.
- **iconClasses** - A class list that will be applied to the icon inside this button.

### Events

- **click**

### Class Modifiers

- **pgi-small-icon** Make the icon inside the button smaller but leave the button dimensions.
- **pgi-inverse** Use the regular icon color as a background color and make the text the background color.
- **pgi-outline** Outline the button using the primary color

**TODO** Localization of aria-label

Markup:
<pgi-fab-button aria-label='call' icon='pgi:call-filled' color="brand"></pgi-fab-button>
<pgi-fab-button aria-label='call' icon='pgi:call-filled' color='primary'></pgi-fab-button>
<pgi-fab-button aria-label='mute' icon='pgi:call-filled' color='warn'></pgi-fab-button>
<pgi-fab-button aria-label='mute' icon='pgi:call-filled' color='accent'></pgi-fab-button>
<pgi-fab-button aria-label='mute' icon='pgi:call-filled' disabled></pgi-fab-button>
<pgi-fab-button aria-label='call' icon='pgi:call-filled' color='brand' class='pgi-inverse'></pgi-fab-button>
<pgi-fab-button aria-label='call' icon='pgi:call-filled' color='primary' class='pgi-inverse'></pgi-fab-button>
<pgi-fab-button aria-label='mute' icon='pgi:call-filled' color='warn' class='pgi-inverse' ></pgi-fab-button>
<pgi-fab-button aria-label='call' icon='pgi:call-filled' color='brand' class='pgi-inverse pgi-outline'></pgi-fab-button>
<pgi-fab-button aria-label='mute' icon='pgi:call-filled' color='accent' class='pgi-inverse' ></pgi-fab-button>
<pgi-fab-button aria-label='call' icon='pgi:call-filled' color='primary' class='pgi-inverse pgi-outline'></pgi-fab-button>
<pgi-fab-button aria-label='mute' icon='pgi:call-filled' color='warn' class='pgi-inverse pgi-outline' ></pgi-fab-button>
<pgi-fab-button aria-label='mute' icon='pgi:call-filled' color='accent' class='pgi-inverse pgi-outline' ></pgi-fab-button>

Styleguide buttons.fab
*/

@mixin pgi-fab-button-component-theme($theme) {
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);
  $primary: map-get($theme, primary);
  $primary-contrast: map-get($primary, contrast);
  $accent: map-get($theme, accent);
  $accent-contrast: map-get($accent, contrast);
  $warn: map-get($theme, warn);
  $warn-contrast: map-get($warn, contrast);

  pgi-fab-button {
    &.pgi-outline {
      button {
        &.mat-fab {
          &.mat-primary {
            border: pgi-border(s) solid pgi-color($primary);
          }

          &.mat-accent {
            border: pgi-border(s) solid pgi-color($accent);
          }

          &.mat-warn {
            border: pgi-border(s) solid pgi-color($warn);
          }
        }
      }
    }

    button {
      &.mat-fab {
        display: inline-flex;
        padding: 15px;

        .mat-button-wrapper {
          display: flex;
          flex: 1;
        }

        pgi-icon {
          display: flex;
          flex: 1;
          height: auto;
          width: auto;
        }

        .mat-icon {
          padding: pgi-rem(0);
        }
      }
    }

    &.pgi-inverse {
      button {
        &.mat-fab {
          background-color: pgi-color($background, background);
          color: pgi-color($foreground, icon);

          &.mat-primary {
            background-color: pgi-color($primary-contrast, 500);
            color: pgi-color($primary);
          }

          &.mat-accent {
            background-color: pgi-color($accent-contrast, 500);
            color: pgi-color($accent);
          }

          &.mat-warn {
            background-color: pgi-color($warn-contrast, 500);
            color: pgi-color($warn);
          }
        }
      }
    }
  }
}
