@import 'theme';
@import './shared-button-styles';

/*
Icon Button

This button can only display an icon.

### Attribute Values

- **disabled** - Disable the button.
- **color** - Set the color of this button. Color values are the same as
  `<pgi-text-button>`.
- **icon** - One of the icons defined in the PGi icon set or your app.
- **size** - An icon size (same as pgi-icon)
- **aria-label** - You should always specify an arial-label with icon
  buttons for screen readers.
- **iconClasses** - A class list that will be applied to the icon inside this button.

### Events

- **click**

### Class Modifiers

- **pgi-small-icon** Make the icon inside the button smaller but leave the button dimensions.
- **pgi-inverse** Use the regular icon color as a background color and make the text the background color.
- **pgi-squared** Remove the border radius completely. This is useful if your component is meant to fill
    up to the edges of its container.

### CSS Sizing

In addition to the size attribute, it is simple to size buttons with CSS.

```scss
pgi-icon-button.my-button {
  // Set the width and height of this button.
  width: 100px;
  height: 80px;

  // Set the width and height of the icon inside this button.
  pgi-icon {
    width: 50px;
    height: 50px;
  }
}
```

**TODO** Localization of aria-label

Markup:
<h3 class="example">Default Size</h3>
<pgi-icon-button aria-label="photo" icon="pgi:camera">Default</pgi-icon-button>
<pgi-icon-button aria-label="photo" icon="pgi:camera" color="brand">Primary</pgi-icon-button>
<pgi-icon-button aria-label="photo" icon="pgi:camera" color="primary">Primary</pgi-icon-button>
<pgi-icon-button aria-label="photo" icon="pgi:camera" color="accent">Accent</pgi-icon-button>
<pgi-icon-button aria-label="photo" icon="pgi:camera" color="warn">Warn</pgi-icon-button>
<pgi-icon-button aria-label="photo" icon="pgi:camera" disabled>Disabled</pgi-icon-button>
<h3 class="example">Specific Sizes</h3>
<pgi-icon-button aria-label="photo" icon="pgi:camera" size="xs">Default</pgi-icon-button>
<pgi-icon-button aria-label="photo" icon="pgi:camera" size="s" color="brand">Primary</pgi-icon-button>
<pgi-icon-button aria-label="photo" icon="pgi:camera" size="s" color="primary">Primary</pgi-icon-button>
<pgi-icon-button aria-label="photo" icon="pgi:camera" size="m" color="accent">Accent</pgi-icon-button>
<pgi-icon-button aria-label="photo" icon="pgi:camera" size="l" color="warn">Warn</pgi-icon-button>
<pgi-icon-button aria-label="photo" icon="pgi:camera" size="xl" disabled>Disabled</pgi-icon-button>
<h3 class="example">Squared (removes corner radius)</h3>
<div>
  <pgi-icon-button aria-label="photo" icon="pgi:camera" class="pgi-squared" color="primary">Default</pgi-icon-button>
</div>
<h3 class="example">Inverse</h3>
<pgi-icon-button aria-label="photo" icon="pgi:camera" class="pgi-inverse">Default</pgi-icon-button>
<pgi-icon-button aria-label="photo" icon="pgi:camera" class="pgi-inverse" color="brand">Default</pgi-icon-button>
<pgi-icon-button aria-label="photo" icon="pgi:camera" class="pgi-inverse" color="primary">Default</pgi-icon-button>
<pgi-icon-button aria-label="photo" icon="pgi:camera" class="pgi-inverse" color="accent">Default</pgi-icon-button>
<pgi-icon-button aria-label="photo" icon="pgi:camera" class="pgi-inverse" color="warn">Default</pgi-icon-button>
<pgi-icon-button aria-label="photo" icon="pgi:camera" class="pgi-inverse" disabled>Default</pgi-icon-button>
<h3 class="example">Useful Combinations</h3>
<pgi-icon-button aria-label="photo" icon="pgi:camera" class="pgi-inverse">Default</pgi-icon-button>
<pgi-icon-button aria-label="photo" icon="pgi:camera" class="pgi-inverse" color="brand">Default</pgi-icon-button>
<pgi-icon-button aria-label="photo" icon="pgi:camera" class="pgi-inverse" color="primary">Default</pgi-icon-button>
<pgi-icon-button aria-label="photo" icon="pgi:camera" class="pgi-inverse" color="accent">Default</pgi-icon-button>
<pgi-icon-button aria-label="photo" icon="pgi:camera" class="pgi-inverse" color="warn">Default</pgi-icon-button>
<pgi-icon-button aria-label="photo" icon="pgi:camera" class="pgi-inverse" disabled>Default</pgi-icon-button>

Weight: 30

Styleguide buttons.icon
*/

// TODO This styling would be simpler if we did not use MdButton.
// I'm not sure that MdButton is gaining us much.
@mixin pgi-icon-button-component-theme($theme) {
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);
  $grayscale: map-get($theme, grayscale);
  $gray-contrast: map-get($grayscale, contrast);
  $brand: map-get($theme, brand);
  $brand-contrast: map-get($brand, contrast);
  $primary: map-get($theme, primary);
  $primary-contrast: map-get($primary, contrast);
  $accent: map-get($theme, accent);
  $accent-contrast: map-get($accent, contrast);
  $warn: map-get($theme, warn);
  $warn-contrast: map-get($warn, contrast);

  pgi-icon-button {
    @include pgi-shared-button-styles-theme($theme);

    border-radius: 50%;
    color: pgi-color($grayscale, 300);
    display: inline-flex;

    // Make sure the button doesn't take up any more space than necessary
    // by aligning to the line bottom.
    vertical-align: bottom;

    .mat-button-focus-overlay {
      display: none;
    }

    &:not([disabled]) {
      &:hover {
        background-color: pgi-color($background, hover);
        color: pgi-color($grayscale, 900);
      }

      &:active {
        background-color: pgi-color($background, pressed);
        color: pgi-color($grayscale, 900);
      }
    }

    &[disabled] {
      .mat-button {
        color: pgi-color($background, disabled-button);
      }
    }

    button {
      &.mat-button {
        // Force the button to fill the size of it's parent.
        flex-grow: 1;

        // Align to bottom so we don't take up any extra
        // vertical space but still fit nicely next to text.
        vertical-align: bottom;

        .mat-button-wrapper {
          // When the button content is an icon, the span wrapping
          // the icon should size act like a block element that is
          // the size of its content.
          display: block;
          line-height: 0;
        }
      }
    }

    &.pgi-squared {
      border-radius: 0;
    }

    &.pgi-inverse {
      button {
        &.mat-button {
          background-color: pgi-color($foreground, icon);
          color: pgi-color($background, background);
        }
      }

      &[color='brand'] {
        button.mat-button {
          color: pgi-color($brand-contrast, 500);
          background-color: pgi-color($brand);
        }
      }

      &[color='primary'] {
        button {
          &.mat-button {
            background-color: pgi-color($primary);
            color: pgi-color($primary-contrast, 500);
          }
        }
      }

      &[color='accent'] {
        button {
          &.mat-button {
            background-color: pgi-color($accent);
            color: pgi-color($accent-contrast, 500);
          }
        }
      }

      &[color='warn'] {
        button {
          &.mat-button {
            background-color: pgi-color($warn);
            color: pgi-color($warn-contrast, 500);
          }
        }
      }

      &[disabled] {
        button {
          &.mat-button {
            background-color: pgi-color($foreground, disabled-button);
            color: pgi-color($background, background);
          }
        }
      }
    }
  }
}
