@import 'theme';

// Button standards
@mixin pgi-shared-button-styles-theme($theme) {
  // Set the text size for small buttons.
  $sm-btn-min-height: pgi-rem(28);
  $lg-btn-min-height: pgi-rem(41);
  
  $sm-btn-min-width: pgi-rem(22);
  $lg-btn-min-width: pgi-rem(11);

  &.pgi-small {
    button.mat-raised-button,
    .pgi-btn-layout {
      @include pgi-text(base);

      min-height: $sm-btn-min-height;
      min-width: $sm-btn-min-width;
    }
  }

  // Standard size.
  button {
    &.mat-button {
      @include pgi-text(large);

      min-height: pgi-rem(22);
      min-width: pgi-rem(22);
      padding: 0;
    }
  }

  button.mat-raised-button,
  .pgi-btn-layout {
    @include pgi-text(large);

    font-family: pgi-font-face(body);
    font-weight: pgi-font-weight(bold);
    min-height: $lg-btn-min-height;
    min-width: $lg-btn-min-width;
    padding: 0;
  }

  &:not([disabled]) {
    .mat-button-focus-overlay {
      transition: opacity linear pgi-time(s), background-color linear pgi-time(s);
    }
  }
}
