@import 'theme';

/*
Buttons

Add interactivity to your app with these button components.

Styleguide buttons
*/

/*
Text-Button

This button can only display text input. To show an icon inside a
button, use one of the pgi-icon-* buttons.

### Attribute Values

- **disabled** - Disable the button.
- **type** - Set the type of this button. Possible type values are
  1. **Default** - This style of button should be used in most cases it is same as `type=primary`.
  1. `type=primary` - Use this style of button to call out an action
    that is more important than other actions on the page. A good example
    of this would be to call out the 'OK' button in an OK/CANCEL pair.
  1. `type=secondary` - Use this style of button when you need to place
    a button on top of a background color that closely matches the color
    of the default or primary button. Do **NOT** use this style as an alternate
    version of the primary button or next to primary buttons.
  1. `type=destructive` - Use this style of button to call out actions that
    require special attention of the user because they will produce changes
    that cannot be undone or may result in unexpected behavior. A good
    example usage would be for DELETE buttons that purge user data.
  1. `disabled` - Use this style whenever you need to toggle a button
    to a state where it cannot be pressed. A good example would be when
    a form is invalid and needs to be fixed before continuing.
- **buttonWidth** - (optional) Width for the button element in pixels.
- **buttonHeight** - (optional) Height for the button element in pixels.

### Events

- **click**

### Class Modifiers

- **pgi-small** Use the smaller version of the button.

**TODO** Localization.

Markup:
<h3 class='example'>Default Size</h3>
<p>
  <pgi-text-button>Default Button</pgi-text-button>
  <pgi-text-button type='primary'>Primary Button</pgi-text-button>
</p>
<p>
  <pgi-text-button type='secondary'>Secondary Button</pgi-text-button>
  <pgi-text-button type='destructive'>Destructive Button</pgi-text-button>
</p>
<p>
  <pgi-text-button type='primary' disabled>primary disabled </pgi-text-button>
  <pgi-text-button type='secondary' disabled>Secondary Disabled</pgi-text-button>
</p>
<h3 class='example'>Small Size</h3>
<pgi-text-button class='pgi-small' type='primary'>Primary</pgi-text-button>
<pgi-text-button class='pgi-small' type='secondary'>Secondary</pgi-text-button>
<pgi-text-button class='pgi-small' type='destructive'>Destructive</pgi-text-button>
<pgi-text-button class='pgi-small' type='primary' disabled>Disabled</pgi-text-button>
<h3 class='example'>Button Width 300px and height 40px</h3>
<pgi-text-button  type='primary' buttonWidth="300px" buttonHeight="40px">Width 300px Height 40px</pgi-text-button>

Weight: 40

Styleguide buttons.text
*/

@mixin pgi-text-button-component-theme($theme) {
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);
  $primary: map-get($theme, primary);
  $primary-contrast: map-get($primary, contrast);
  $warn: map-get($theme, warn);
  $warn-contrast: map-get($warn, contrast);

  pgi-text-button {
    @include pgi-shared-button-styles-theme($theme);
    $margin-vertical: pgi-rem(11);
    $margin-horizontal: pgi-rem(14);

    .pgi-btn-layout {
      @include pgi-ellipsis;
      border-radius: pgi-radius(s);

      .pgi-button-wrapper {
        @include pgi-letter-spacing(button);
        margin: $margin-vertical $margin-horizontal;
      }

      &[disabled] {
        @include set-user-select(none);
        color: pgi-color($foreground, disabled-button);

        &.pgi-btn-primary {
          background-color: pgi-color($background, hover);
        }

        &.pgi-btn-secondary,
        &.pgi-btn-destructive {
          background-color: pgi-color($primary-contrast, 500);
        }
      }

      &:not([disabled]) {
        cursor: pointer;

        // set colors based on PGi style guide
        &.pgi-btn-primary {
          background: linear-gradient(to bottom, pgi-color($primary), pgi-color($primary, 200));
          box-shadow: pgi-shadow(button-normal-primary);
          color: pgi-color($primary-contrast, 500);
        }

        &.pgi-btn-secondary {
          background-color: pgi-color($primary-contrast, 500);
          color: pgi-color($primary);
        }

        &.pgi-btn-destructive {
          background-color: pgi-color($warn-contrast, 500);
          color: pgi-color($warn);
        }

        &:hover {
          &.pgi-btn-secondary,
          &.pgi-btn-destructive {
            background-color: map-get($background, hover);
          }

          &.pgi-btn-primary {
            background: linear-gradient(to bottom, pgi-color($primary), pgi-color($primary));
            box-shadow: unquote(pgi-shadow(button-pressed-primary));
          }
        }

        &:active {
          &.pgi-btn-primary {
            background: linear-gradient(to bottom, pgi-color($primary, 700), pgi-color($primary, 700));
            box-shadow: unquote(pgi-shadow(button-pressed-primary));
          }

          &.pgi-btn-secondary,
          &.pgi-btn-destructive {
            background-color: map-get($background, pressed);
          }
        }
      }
    }
  }
}
