@import './fab-button.component';

/*
Toggle Button

This button displays an icon and has 2 states that toggle when clicked. It uses the inverse from fab button for palette swapping the colors.

### Attribute Values

- **disabled** - Disable the button.
- **color** - Set the color of this button. Color values are the same as
  `<pgi-text-button>`.
- **icon** - One of the icons defined in the PGi icon set or your app.
- **size** - An icon size (same as pgi-icon)
- **aria-label** - You should always specify an arial-label with icon
  buttons for screen readers.
- **iconClasses** - A class list that will be applied to the icon inside this button.

### Events

- **click**

### Class Modifiers

**TODO** Localization of aria-label

Markup:
<pgi-toggle-button aria-label="mute" icon="pgi:muted" color="brand"></pgi-toggle-button>
<pgi-toggle-button aria-label="mute" icon="pgi:muted" color="primary"></pgi-toggle-button>
<pgi-toggle-button aria-label="mute" icon="pgi:muted" color="accent"></pgi-toggle-button>
<pgi-toggle-button aria-label="mute" icon="pgi:muted" color="warn"></pgi-toggle-button>
<pgi-toggle-button aria-label="mute" icon="pgi:muted" class="pgi-outline" color="brand"></pgi-toggle-button>
<pgi-toggle-button aria-label="mute" icon="pgi:muted" class="pgi-outline" color="primary"></pgi-toggle-button>
<pgi-toggle-button aria-label="mute" icon="pgi:muted" class="pgi-outline" color="accent"></pgi-toggle-button>
<pgi-toggle-button aria-label="mute" icon="pgi:muted" class="pgi-outline" color="warn"></pgi-toggle-button>
<pgi-toggle-button aria-label="mute" icon="pgi:muted" disabled></pgi-toggle-button>

Styleguide buttons.toggle
*/

@mixin pgi-toggle-button-component-theme($theme) {
  pgi-toggle-button {
    @include pgi-shared-button-styles-theme($theme);
  }
}
