<label [attr.for]="getInputId()"
  class="input-label {{inputFocusClass}}"
  [class.input-error-label]="isWarn()"
  [class.input-disabled-label]="theInput.disabled"
  *ngIf="labelText">{{labelText}}</label>
<div>
  <span *ngIf="prefix"
    class='input-prefix'
    [class.input-prefix-disabled]="theInput.disabled"
    [style.width]="prefixWidth"
    [pgiTooltip]="prefix"
    pgiTooltipPosition="above"
    [mdTooltipDisabled]="disableTooltip">
  {{prefix}}</span><!-- hack to get rid of space between inline elements
--><input [attr.id]="getInputId()"
    [type]="_type"
    [(ngModel)]="value"
    name={{name}}
    (focus)="toggleFocus()"
    (blur)="toggleFocus()"
    placeholder="{{placeholder}}"
    class="{{_color}}"
    [disabled]="disabled"
    [required]="required ? 'required' : null"
    [attr.maxlength]="renderAttr(maxlength)"
    [attr.size]="renderAttr(size)"
    [style.width]="inputWidth"
    #theInput>
  <div class="input-label error-section"
    [class.input-error-label]="isWarn()"
    *ngIf="_errorMessage && isWarn()">{{_errorMessage}}</div>
</div>
