@import 'theme';
@import '../shared-input-styles';
/*
Label Input

A **text**, **email**, or **password** input field with a label, placeholder text and error text.

### Attribute parameters

<u>**Normal input field:**</u>
  - **labelText** (optional) The text for the label above the input.
  - **errorMessage** (optional) Error message text to show in "warn" state.
  - **placeholder** (optional) Placeholder text for input. 
  - **disabled** (optional) Specifies that the compontent should be disabled. (Disabled value should be "disabled" if true.)
  - **required** (optional) Specifies that the input field must be filled out before submitting the form.
  - **id** (optional) Id for the input element.
  - **type** (optional) Type for the input element. Currently supported types are text, password and email. [defaults to "text"]
  - **size** (optional) Size for the input element in characters.
  - **inputWidth** (optional) Width for the input element in pixels. This is preferred over @Input size. [ie: '125px' or '1.5em']
    - *Note: The amt passed here will be increased automatically by border width/padding/margins. Please adjust accordingly.
  - **maxlength** (optional) Maxlength for the input element in characters.
  - **name** (optional) Name for the input element.
  - **color** (optional) Sets the color of this button. Possible color values are below. [defaults to "primary"]
    1. `color="brand"` - This style is used to set the input color to the brand palette of the theme.
    1. `color="primary"` - This style is the default and is used to set the input color to the primary palette of the theme.
    1. `color="accent"` - This style is used to set the input color to the accent palette of the theme.
    1. `color="warn"` - Use this style of input to display an input in an "invalid" state.
  
<u>**Normal input field WITH static prefix:**</u>
  - **prefix** (required) The static text that shows directly before the input.
  - **prefixWidth** (optional) ie: '125px' or '1.5em'
    - If passed, will set the width of the static text field. If clipping of the text occurs, ellipsis and tooltip will automatically be added.
    - If not passed, the width of the static text field will expand to show the text in it's entirety.

Markup:
<p>
  <pgi-label-input placeholder="Howdy" disabled="false" id="myInput" labelText="Title - with tooltip" name="mylabel" prefix="https://www.brandx.com/" prefixWidth="125px" inputWidth="300px"></pgi-label-input>
</p>
<p>
  <pgi-label-input placeholder="Howdy"  labelText="Email - color='brand'" name="email" type="email" color="brand"></pgi-label-input>
</p>
<p>
  <pgi-label-input placeholder="Howdy"  labelText="Password" name="password" type="password"></pgi-label-input>
</p>
<p>
  <pgi-label-input placeholder="Howdy"  labelText="Maxlength10" name="maxlength" type="text" maxlength="10"></pgi-label-input>
</p>
<p>
  <pgi-label-input placeholder="Howdy"  labelText="Width 300px" name="width300" type="text" inputWidth="300px"></pgi-label-input>
</p>
<p>
  <pgi-label-input placeholder="Placeholder - no title"></pgi-label-input>
</p>
<p>
  <pgi-label-input labelText="Title - no placeholder" id="mylabel"></pgi-label-input>
</p>
<p>
  <pgi-label-input placeholder="Howdy" labelText="Title" errorMessage="Error Message"  value="Input Text"></pgi-label-input>
</p>
<p>
  <pgi-label-input placeholder="Howdy" labelText="Title" errorMessage="Error Message" prefix="https://www.brandx.com/"  value="Input Text"></pgi-label-input>
</p>
<p>
  <pgi-label-input placeholder="Howdy" labelText="Disabled" prefix="https://www.brandx.com/" disabled=true></pgi-label-input>
</p>
<p>
  <pgi-label-input placeholder="Howdy" labelText="Disabled - with tooltip" prefix="https://www.brandx.com/" prefixWidth="50px" disabled="true"></pgi-label-input>
</p>

Styleguide forms.label-input
*/
/*
Form Example with pgi-label-input

This is an example of using the pgi-label-input component within a Form

Markup:
<ex-input-form></ex-input-form>

Styleguide forms.label-input.form-example
*/

@mixin pgi-label-input-component-theme($theme) {
  $foreground: map-get($theme, foreground);
  $primary: map-get($theme, primary);
  $background: map-get($theme, background);
  $warn: map-get($theme, warn);

  $prefix-height: pgi-rem($_pgi-input-h - pgi-border(s) * 2);

  pgi-label-input {
    @include pgi-shared-input-styles-theme($theme);

    display: block;
    margin-bottom: $_pgi-input-bottom-m;
    margin-top: $_pgi-input-top-m;

    input {
      [type='text'],
      [type='password'],
      [type='email'] {
        margin: 0;
      }
    }
  }

  .input-label {
    @include pgi-text-size('');

    color: pgi-color($foreground, secondary-text);
    display: block;
    margin-left: pgi-rem($margins-and-padding);
  }

  .input-disabled-label {
    color: pgi-color($foreground, disabled-text);
  }

  .input-error-label {
    color: pgi-color($warn, 500);
  }

  .input-label-focused {
    color: pgi-color($primary, 500);
  }

  input {
    [type='text'],
    [type='password'],
    [type='email'] {
      .warn {
        border: pgi-border('m') solid pgi-color($warn, 500);
      }
    }
  }

  .input-prefix {
    @include pgi-text(normal);
    @include pgi-ellipsis;
    @include set-user-select(none);

    background-color: pgi-color($background, button);
    border: pgi-border(s) solid pgi-color($foreground, divider);
    border-bottom-left-radius: pgi-radius(s);
    border-right: 0;
    border-top-left-radius: pgi-radius(s);
    color: pgi-color($foreground, text);
    display: inline-block;
    font-family: pgi-font-face(body);
    font-weight: pgi-font-weight('semi-bold');
    height: $prefix-height;
    line-height: $prefix-height;
    margin: 0;
    padding-left: pgi-rem($margins-and-padding);
    padding-right: pgi-rem($margins-and-padding);
    vertical-align: bottom;
  }

  .input-prefix-disabled {
    background-color: pgi-color($foreground, disabled-button);
    border: pgi-border(s) solid pgi-color($foreground, divider);
    border-right: 0;
    color: pgi-color($foreground, disabled-text);
  }

  .input-prefix {
    + [type='text'],
    + [type='password'],
    + [type='email'] {
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
    }
  }
}
