<label *ngIf="labelText"
  [class.input-disabled-label]="disabled"
  [style.width]="labelWidth">{{labelText}}</label>
<pgi-label-input #labelInput
  [color]="color"
  [errorMessage]="_errorMessage"
  [placeholder]="placeholder"
  [inputWidth]="inputWidth"
  [disabled]="disabled">
</pgi-label-input>
