@import 'theme';
@import '../shared-input-styles';

/*
Settings Input

Settings Input description

### Attribute parameters
  - **labelText** (optional) The text for the label above the input.
  - **errorMessage** (optional) Error message text to show in "warn" state.
  - **placeholder** (optional) Placeholder text for input. 
  - **disabled** (optional) Specifies that the component should be disabled. (Disabled value should be "disabled" if true.)
  - **inputWidth** (optional) Width for the input element in pixels. This is preferred over @Input size. [ie: '125px' or '1.5em']
    - *Note: The amt passed here will be increased automatically by border width/padding/margins. Please adjust accordingly.
  - **labelWidth** (optional) ie: '125px' or '1.5em'
    - If passed, will set the width of the label text field. If clipping of the text occurs, ellipsis will automatically be added.
    - If not passed, the width of the label text field will expand to show the text in it's entirety.
  - **color** (optional) Sets the color of this button. Possible color values are below. [defaults to "primary"]
    1. `color="primary"` - This style is the default and is used to set the input color to the primary palette of the theme.
    1. `color="accent"` - This style is used to set the input color to the accent palette of the theme.
    1. `color="warn"` - Use this style of input to display an input in an "invalid" state.

Markup:
<p>
  <pgi-panel-content-base>
    <pgi-settings-input #sInput labelText="TitleGoesHere" placeholder="Howdy" inputWidth="250px" labelWidth="65px"></pgi-settings-input>
  </pgi-panel-content-base>
</p>
<p>
  <pgi-text-button color="warn" (click)="sInput.errorMessage = sInput.errorMessage=='Alert' ? '' : 'Alert'">Toggle Error</pgi-text-button>
</p>
<p>
  <pgi-panel-content-base>
    <pgi-settings-input labelText="TitleGoesHere" placeholder="Howdy" inputWidth="175px" labelWidth="175px"></pgi-settings-input>
  </pgi-panel-content-base>
</p>
<p>
  <pgi-panel-content-base>
    <pgi-settings-input labelText="Disabled" placeholder="Howdy" inputWidth="175px" labelWidth="175px" disabled=true></pgi-settings-input>
  </pgi-panel-content-base>
</p>

Styleguide forms.settings-input
*/
@mixin pgi-settings-input-component-theme($theme) {
  $foreground: map-get($theme, foreground);
  $primary: map-get($theme, primary);
  $background: map-get($theme, background);
  $warn: map-get($theme, warn);
  $label-height: pgi-rem(44);
  $component-height: pgi-rem(67);
  $left-margin: pgi-rem(33);

  pgi-settings-input {
    @include pgi-shared-input-styles-theme($theme);
    height: $component-height;

    label {
      @include pgi-text-size(large);
      @include pgi-ellipsis;
      @include set-user-select(none);
      color: pgi-color($foreground, text);
      font-weight: pgi-font-weight('bold');
      height: $label-height;
      line-height: $label-height;
      margin-left: $left-margin;
      margin-right: pgi-rem($margins-and-padding);
    }
  }
}
