@import 'theme';

@mixin ex-palette-classes($palette, $prefix, $property){
  @each $class, $color in $palette {
    &.ex-#{$prefix}-#{$class}{
      #{$property}: $color;

      &.debug:after {
        content: ' ' + $color;
        font-size: pgi-font-size(xs);
        float: right;
      }
    }

    .ex-#{$prefix}-#{$class} {
      #{$property}: $color;

      &.debug:after {
        content: ' ' + $color;
        font-size: pgi-font-size(xs);
        float: right;
      }
    }
  }
}

@mixin ex-background-classes($palette){
  @each $class, $color in $palette {
    &.ex-background-#{$class}{
      background-color: $color;

      &.debug:after {
        content: ' ' + $color;
        font-size: pgi-font-size(xs);
        float: right;
      }
    }

    .ex-background-#{$class} {
      background-color: $color;

      &.debug:after {
        content: ' ' + $color;
        font-size: pgi-font-size(xs);
        float: right;
      }
    }
  }
}

documentation-page {
  $foreground: map-get($pgi-light-theme, foreground);
  $background: map-get($pgi-light-theme, background);
  $dark-fore : map-get($pgi-dark-theme, foreground);
  $dark-back : map-get($pgi-dark-theme, background);

  display: block;

  @include ex-palette-classes($foreground, 'foreground', 'color');
  @include ex-palette-classes($foreground, 'background', 'background-color');
  @include ex-background-classes($background);

  // Nested documentation pages
  documentation-page {
    margin-top: gp-rows(3);
    border-top: pgi-border(s) solid pgi-color($foreground, divider);
  }

  pre {
    white-space: pre-wrap;
    word-wrap: break-word;
    word-break: break-all;
  }

  .doc-content {
    border-top: pgi-border(s) solid pgi-color($foreground, divider);
    margin-bottom: gp-rows(3, pgi-border(s));
  }

  .sg-filename {
    color: pgi-color($foreground, secondary-text);
    line-height: gp-rows(2);
  }

  .sg-icon-list {
    display: flex;
    flex-wrap: wrap;
    color: crimson;
  }

  .sg-icon-example {
    display: inline-block;
    padding: gp-rows(0.5);
    text-align: center;
  }

  // Make the background dark.
  .ex-dark-background {
    background-color: pgi-color($dark-back, 'background');
  }

  // Make the background dark, text white.
  .ex-dark {
    @extend .ex-dark-background;
    color: $white;
    @include ex-background-classes($dark-back);
  }

  .ex-foreground-dark {
    @extend .ex-dark-background;
    @include ex-palette-classes($dark-fore, 'foreground', 'color');
    @include ex-palette-classes($dark-fore, 'background', 'background-color');

    .ex-color-bar.debug:after {
      color: white;
    }
  }

  .ex-color-bar {
    display: inline-block;
    width: gp-rows(3);
    float: right;
    text-align: center;

    &.debug:after {
      position: relative;
      right: 105%;
    }
  }

  .ex-half-width {
    display: inline-block;
    width: 50%;
  }

  .sg-example, .sg-example-code {
    @include pgi-text-margins(p);
  }

  .sg-example {
    border: pgi-border(s) dashed pgi-color($foreground, divider);
    padding: gp-rows(1, pgi-border(s));

    .ex-background {
      padding: 0 gp-rows(1);
    }

    .sg-example-code {
      @include pgi-text-margins(p);
    }

    h3.example {
      margin-bottom: gp-rows(1);
      background-color: pgi-color($background, app-bar);
      padding: 0 gp-rows(1);
    }
  }

  @each $size in (1, 2, 3, 4, 5){
    .ex-#{$size}-tall {
      height: gp-rows($size);
      display: flex;
      align-items: center;
    }
  }
}
