<h2><a id="{{ doc.name }}" href="{{ doc.path }}" class="brand pgi-palette-foreground">{{doc.title}}</a></h2>
<ng-container *ngIf="doc.config">
  <ng-container *ngIf="doc.config.description">
    <div [innerHtml]="doc.config.description"></div>
  </ng-container>
  <div class="sg-example" *ngIf="doc.config.markup">
    <div *dynamicComponent="doc.config.markup; context: {};"></div>
  </div>
  <pgi-collapse collapsed="true" class="sg-example-code" *ngIf="doc.config.markup">
    <div class="sg-filename">{{ doc.config.source?.filename }}:</div>
    <pre><code [innerHtml]="doc.config.highlightedMarkup"></code></pre>
  </pgi-collapse>
</ng-container>
<ng-container *ngFor="let page of doc.children">
  <documentation-page [doc]="page"></documentation-page>
</ng-container>
