@import 'theme';

/*
Information Cell

This component is a simple way to display an item with a status. It allows
two inputs: the title, and the status of the item.

### Attributes
- **title**: The title of the item being described
- **status**: The status of the item

### To-Do
The information cell should also be able to contain descriptive text

Markup:
<pgi-information-cell title="Title"
                      status="Item Status"></pgi-information-cell>
<pgi-information-cell title="Longer Status"
                      status="This is a long, rambling status that will wrap on narrow screens"></pgi-information-cell>
<pgi-information-cell title="No Status"></pgi-information-cell>

Styleguide list item.information cell
*/

@mixin pgi-information-cell-component-theme($theme) {
  pgi-information-cell {
    $background: map-get($theme, background);
    $foreground: map-get($theme, foreground);
    $grayscale: map-get($theme, grayscale);

    .information-cell {
      background-color: pgi-color($background, card);
      border: pgi-border(s) solid pgi-color($foreground, divider);
      border-radius: pgi-radius(m);
      margin-bottom: pgi-rem(4);

      .content-container {
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: pgi-rem(13) pgi-rem(36);

        * {
          flex: 1 1 50%;
          min-width: pgi-rem(200);

          &.title {
            color: pgi-color($grayscale, 900);
            font-size: pgi-font-size(l);
            font-weight: pgi-font-weight(bold);
          }

          &.status {
            color: pgi-color($grayscale, 500);
            font-size: pgi-font-size(m);
            font-weight: pgi-font-weight(semi-bold);
          }
        }
      }
    }
  }
}
