<div class="information-cell">
  <div class="content-container">
    <span class="title">
      <b>{{ title }}</b>
    </span>
    <span class="status">
      <b>{{ status }}</b>
    </span>
  </div>
</div>
