// This file expects the $pgi-animation variable to be set.
// See the `pgi/_theme.scss` for an example usage.
@import './utils';

/*
pgi-time

The `pgi-time($size)` mixin is used to get the animation durations specified
by a theme.

### Options
- **xs** A very short animation
- **s** A quick animation (use this for most things)
- **m**
- **l**
- **xl** Geeze, that took a while

```scss
.collapse {
  transition: height pgi-time(s) pgi-easing(ease);
}
```

// TODO Markup example.

Styleguide theming.time
*/

@function pgi-time($size){
  @return pgi-theme-property($pgi-animation, timing, $size);
}

/*
pgi-easing

The `pgi-easing($type)` mixin is used to get the animation easing equations
for a theme.

### Options
- **ease** In most cases you'll use this animation easing because if makes the interaction
  feel responsive (something happens immediately) but it still eases into its final position.
- **linear** No easing at all.

> Note: For color animations it is generally better to use "linear" easing
because it generates the smoothest transition for the eye. When
using an ease with color animations, the animation tends to feel like it just
popped in, rather than transitioning.

```scss
.collapse {
  transition: height pgi-time(s) pgi-easing(ease);
}
```

// TODO Markup example.

Styleguide theming.easing
*/

@function pgi-easing($type){
  @return pgi-theme-property($pgi-animation, easing, $type);
}

