// This file depends on the $pgi-colors variable being present.
// See the `pgi/_theme.scss` for an example usage.
@import './utils';
@import '~@angular/material/theming';

/*
pgi-shadow

The `pgi-shadow($type)` function is used to get the box shadow definitions
for a theme.

### Parameters:
- **outer-right** Used for side menus. Makes an element feel above and to the left
  of other content.
- **outer-bottom** Used for dropdowns. Makes an element feel like it is above other elements.
- **button-normal-primary** Used for primary button in normal state. Maks an element feel like it is above other elements.
- **button-pressed-primary** Used for primary button in pressed and focussed state. Maks an element feel like it is above other elements.
- **toasts** Used for toast component. Maks an element feel like it is above other elements.
- **tooltips** Used for tooltips. Maks an element feel like it is above other elements.
- **notifications** Used for notifications. Maks an element feel like it is above other elements.
- **slider-toggle** Used for slider toggle component. Maks an element feel like it is above other elements.
- **tooltip-horizontal** Used for tooltips. Sets the horizontal drop shadow.
- **tooltip-vertical** Used for tooltips. Sets the vertical drop shadow.

// TODO Markup example

```scss
.my-component {
  box-shadow: pgi-shadow(outer-right);
}
```

Styleguide theming.shadow
*/

@function pgi-shadow($type){
  @return pgi-theme-property($pgi-colors, shadow, $type);
}

/*
pgi-elevation($sizes)

 A collection of mixins and CSS classes that can be used to apply elevation to a material
 element.
 See: https://www.google.com/design/spec/what-is-material/elevation-shadows.html
 Examples:

```css
 .mat-foo {
   @include $pgi-elevation(2);

   &:active {
     @include $pgi-elevation(8);
   }
 }

 ```

For an explanation of the design behind how elevation is implemented, see the design doc at
 https://goo.gl/Kq0k9Z.

 Colors for umbra, penumbra, and ambient shadows. As described in the design doc, each elevation
 level is created using a set of 3 shadow values, one for umbra (the shadow representing the
 space completely obscured by an object relative to its light source), one for penumbra (the
 space partially obscured by an object), and one for ambient (the space which contains the object
 itself). For a further explanation of these terms and their meanings, see
 https://en.wikipedia.org/wiki/Umbra,_penumbra_and_antumbra.

 Maps for the different shadow sets and their values within each z-space. These values were
 created by taking a few reference shadow sets created by Google's Designers and interpolating
 all of the values between them.

Styleguide theming.elevation
*/


// The css property used for elevation. In most cases this should not be changed. It is exposed
// as a variable for abstraction / easy use when needing to reference the property directly, for
// example in a will-change rule.
$mat-elevation-property: box-shadow !default;

// The default duration value for elevation transitions.
// TODO Pull this from the theme somehow?
$mat-elevation-transition-duration: 280ms !default;

// Applies the correct css rules to an element to give it the elevation specified by $zValue.
// The $zValue must be between 0 and 24.
@mixin pgi-elevation($zValue) {
  @if type-of($zValue) != number or not unitless($zValue) {
    @error '$zValue must be a unitless number';
  }
  @if $zValue < 0 or $zValue > 24 {
    @error '$zValue must be between 0 and 24';
  }

  //  @if !$umbra {

  //  #{$mat-elevation-property}: if #{map-get($pgi_penumbra-elevation-map, $zValue)},
  //                            #{map-get($pgi_ambient-elevation-map, $zValue)};

  //  } else if $penumbra {

  //  #{$mat-elevation-property}: if #{map-get($pgi_umbra-elevation-map, $zValue)},
  //                               #{map-get($pgi_ambient-elevation-map, $zValue)};

  //  } else if !ambient {

  //  #{$mat-elevation-property}: if #{map-get($pgi_umbra-elevation-map, $zValue)},
  //                            #{map-get($pgi_penumbra-elevation-map, $zValue)};

  //  } else {
  #{$mat-elevation-property}:  #{map-get($pgi-umbra-elevation-map, $zValue)},
    #{map-get($pgi-penumbra-elevation-map, $zValue)},
    #{map-get($pgi-ambient-elevation-map, $zValue)};
  //   }
}

/*
pgi-color

The `pgi-color($theme, $hue)` function is used to access a color from a color palette. It is similar
to using `map-get($theme, prop)` or the `mat-color()` that comes with Material. The advantage to using this function
is the ability to specify opacity as a third parameter or in place of the $hue parameter.

### Parameters:

- **$theme** The theme from which you wish to retrieve a color.
- **$hue** (optional) The hue you are trying to get out of the theme (ex. 500, text, background, etc.).
  If no hue is specified, it defaults to 500.
- **$opacity** (optional) An opacity value to apply to the color. If no opacity is passed,
  it defaults to whatever opacity is specified by that color. If you pass opacity=1
  and the color has an opacity, this function will attempt to determine what the color
  would be if mixed with the default background color for this theme.

// TODO Markup example?

```scss
.my-component {
  // First you will need to access the palettes you want from the theme.
  $primary: pgi-get($pgi-light-theme, primary);
  $foreground: pgi-get($pgi-light-theme, foreground);

  // Get the default color from the palette.
  background-color: pgi-color($primary);

  // Or specify a hue
  .foo {
    background-color: pgi-color($primary, 200);
  }

  // Or specify a hue and opacity
  .bar {
    background-color: pgi-color($primary, 200, 0.5);
  }

  // Or specify an opacity for the default color
  .baz {
    background-color: pgi-color($primary, 0.5);
  }

  // Or if a palette color specifies an opacity, you can
  // get an fully opaque version of that color as it would
  // appear on top of the default background color for the theme
  // by passing 1 as your opacity.
  .boz {
    background-color: pgi-color($primary, 500, 1);
  }

  // The foreground, background and pgi palettes don't follow the
  // numbering pattern and need to be accessed using specific names.
  color: pgi-color($foreground, text);
}
```

Styleguide theming.color
*/
@function pgi-color($options...) {
  $length: length($options);
  $palette: nth($options, 1);
  $hue: if( $length > 1, nth($options, 2), null );
  $opacity: if( $length > 2, nth($options, 3), null );

  $color: #000000;
  $nonalpha: false;

  // Not sure why we can't just do the following...
  // $color: mat-color($options);
  // If we passed $hue but no $opacity.
  @if( $hue and not $opacity ){
    $color: mat-color($palette, nth($options, 2));
  }
  // If we passed both $hue and $opacity.
  @else if( $hue and $opacity ){
    $alpha: nth($options, 3);
    $nonalpha: if($alpha == 1, true, false);
    $color: mat-color($palette, nth($options, 2), $alpha);
  }
  // If we only passed the palette.
  @else {
    $color: mat-color($palette);
  }

  // If we specifically asked for no opacity and this palette includes
  // a background property we can use for mixing, dynamically figure
  // out what the opaque version of this color should be when it
  // is overlaid on the theme's default background.
  @if( $nonalpha ){
    // TODO Use pgi-get and figure out where it's causing errors.
    $bg: map-get($palette, background);
    @if( $bg ){
      $color: pgi-overlay-to-nonalpha-color($bg, $color);
    }
  }
  // TODO Override opacity if it is less than 1 and was specified.

  @return $color;
}

/*
pgi-overlay-to-nonalpha-color

The `pgi-overlay-to-nonalpha-color($back, $fore)` function converts
a color with opacity to a fully opaque color as if it were placed
ontop of the background color passed.

```scss
$white: #ffffff;
$transparent-red: rgba(#ff0000, 0.5);

// Determine what the transparent red would look like if it was
// placed on a white background.
$opaque-red: pgi-overlay-to-nonalpha-color($white, $transparent-red);
```

Styleguide theming.overlay-to-nonalpha-color
*/
@function pgi-overlay-to-nonalpha-color($back, $fore){
  $br: red($back);
  $bg: green($back);
  $bb: blue($back);

  $fr: red($fore);
  $fg: green($fore);
  $fb: blue($fore);
  $fa: alpha($fore);

  @return mix(rgb($fr, $fg, $fb), rgb($br, $bg, $bb), $fa * 100);
}

/*
Generate a full palette object from a color config. The color config
object should have this structure:

*/
@function _pgi-generate-palette($config){
  @return mat-palette($config)
}

/*
Create a Material light or dark theme object with the color palette configs passed in.
Each palette config has the same structure described by _pgi-generate-palette().
*/
@function _gen-theme($primary, $accent, $warn, $isDark:false){
  @if( $isDark ){
    @return mat-dark-theme(
      _pgi-generate-palette($primary),
      _pgi-generate-palette($accent),
      _pgi-generate-palette($warn)
    );
  }
  @else {
    @return mat-light-theme(
      _pgi-generate-palette($primary),
      _pgi-generate-palette($accent),
      _pgi-generate-palette($warn)
    );
  }
}

/*
pgi-generate-theme

The `pgi-generate-theme()` function creates a full theme map based on the color configurations
passed in. It is used to generate the theme maps passed to the `pgi-default-theme()` and
`pgi-addtional-theme()` functions used to apply a theme to an application. Usually this
function is only used when creating a reusable theme (in the `_theme.scss` file).

### Parameters
- **brand**      *{ Palette Config    }* The color configuration used to define the colors of the current brand.
- **primary**    *{ Palette Config    }* The color configuration used to generate the primary palette.
- **accent**     *{ Palette Config    }* The color config used to generate the accent palette.
- **warn**       *{ Palette Config    }* Used to generate the warn palette.
- **foreground** *{ Foreground Config }* Used to generate the foreground palette.
- **background** *{ Background Config }* Used to generate the background palette.
- **other**      *{ Custom Config     }* A map of additional colors available to pgi components.
- **grayscale**  *{ Palette Config    }* Used to generate a grayscale palette.
- **isDark**     *{ Boolean           }* (optional, defaults to false) True = the palette has a dark background with light text.

#### Palette Config
Takes the following form.

```scss
$palette: (
  50   : #ffffff,
  100  : #ffffff,
  200  : #ffffff,
  300  : #ffffff,
  400  : #ffffff,
  500  : #ffffff,
  600  : #ffffff,
  700  : #ffffff,
  800  : #ffffff,
  900  : #ffffff,
  A100 : #ffffff,
  A200 : #ffffff,
  A400 : #ffffff,
  A700 : #ffffff,
  contrast: (
    50   : #000000,
    100  : #000000,
    200  : #000000,
    300  : #000000,
    400  : #000000,
    500  : #000000,
    600  : #000000,
    700  : #000000,
    800  : #000000,
    900  : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);
```

#### Foreground Config
This may change over time. See `component-lib/themes/pgi/_color-data.scss` for exact structure.

```scss
$foreground: (
  base            : #ffffff,
  divider         : #ffffff,
  dividers        : #ffffff,
  disabled        : #ffffff,
  disabled-button : #ffffff,
  disabled-text   : #ffffff,
  hint-text       : #ffffff,
  secondary-text  : #ffffff,
  icon            : #ffffff,
  icons           : #ffffff,
  text            : #ffffff,
  background      : #ffffff,
);
```

#### Background Config
This may change over time. See `component-lib/themes/pgi/_color-data.scss` for exact structure.

```scss
$background: (
  status-bar      : #000000,
  app-bar         : #000000,
  background      : #000000,
  hover           : #000000,
  card            : #000000,
  dialog          : #000000,
  disabled-button : #000000,
  raised-button   : #000000,
);
```

#### Custom Config
This will change over time. See `component-lib/themes/pgi/_color-data.scss` for exact structure.

Styleguide theming.generate-theme
*/
@function pgi-generate-theme($brand, $primary, $accent, $warn, $fore, $back, $other, $gray: $mat-grey, $isDark: false){
  $theme: _gen-theme($primary, $accent, $warn, $isDark);

  // Extend our fore/background maps with the material versions in case material
  // has added properties we don't know about.
  $mat-fore: if($isDark, $mat-dark-theme-foreground, $mat-light-theme-foreground);
  $mat-back: if($isDark, $mat-dark-theme-background, $mat-light-theme-background);
  $pgi-fore: map-merge($mat-fore, $fore);
  $pgi-back: map-merge($mat-back, $back);

  $additions: (
    brand: _pgi-generate-palette($brand),
    grayscale: _pgi-generate-palette($gray),
    pgi: $other,
    foreground: $pgi-fore,
    background: $pgi-back,
  );

  $out: map-merge($theme, $additions);
  @return $out;
}
