// This file expects the $pgi-sizes map to be defined.
// See the `pgi/_theme.scss` for an example usage.
@import './utils';

/*
pgi-rem

The `pgi-rem($pixels)` function allows you to convert a pixel value
into a [rem](https://developer.mozilla.org/en-US/docs/Web/CSS/font-size#Rems)
value for the current theme.
Using "rem" gives us the ability to scale the entire site relative to
the font-size defined on the html element.

### Parameters
**$pixels** - A number of pixes for which you wish to get the
  the equivalent "rem" value.

Example Usage:
```scss
  .myDiv {
    padding: pgi-rem(10); // Will be the rem equivalent of 10px.
  }
```

Styleguide theming.rem
*/
@function pgi-rem($pixels){
  @return 0px + $pixels;
  // TEMP Keeping everything in pixels until we've got all the kinks worked out.
  // @return ($pixels/$pgi-base-font-size) * 1rem;
}

// Returns the height of a single row of the base
// text. It is equivalent to gp-rows(1).
@function _pgi-1-row(){
  @return pgi-rem( pgi-get($pgi-sizes, row) );
}

/*
gp-rows

** DEPRECATED **: use `pgi-rem`, `pgi-border` or `pgi-line-height`.

To help align elements to a visual grid, use the `gp-rows()`
function to calculate element sizes and margins. The "gp" stands
for "graph paper" and you can think of the HTML document as graph
paper you want to align elements to/within.

Graph paper rows represent the height of a single graph paper cell
which is equal to the line-height of the base font size. If you size
your elements based on the number of graph paper cells you want them
to take up, all elements on the page will naturally align to each other.
It is also possible to size in half rows but that's as low as you can
go.

Borders on your elements can cause issues with alignment to the grid.
To account for this, you can pass an offset value as the second parameter
which will reduce the height by the offset provided.

### Parameters:
- **$number** The number of graph paper rows/columns you want.
- **$offset** A number by which to reduce the graph paper. Use this
  to account for borders that may break alignment to the
  graph paper/grid.

Example Usage:
```scss
pgi-custom-component {
  padding: gp-rows(1); // Padding = 1 graph paper cell.
  margin: gp-rows(2); // Margin = 2 graph paper cells.
  height: gp-rows(4.5); // Height = 4.5 graph paper cells.
  width: gp-rows(4.8); // Width = 4.5 graph paper cells.
  // Notice you can only have 1/2 subdivisions and they always round down.

  .small {
    $borderWidth: 1px;
    border: $borderWidth solid red;

    // Padding = 1/2 a graph paper cell minus 1px.
    padding: gp-rows(0.5, $borderWidth);
  }
}
```

Styleguide theming.gp-rows
*/
@function gp-rows($number:1, $offset:0){
  $row: _pgi-1-row();
  $wholeNumber: floor($number);
  $fraction: 0;
  @if $wholeNumber < $number {
    $fraction: 0.5;
  }
  @return ($wholeNumber * $row) + ($row * $fraction) - $offset;
}

/*
pgi-border

The `pgi-border($size)` function will retrieve the relative border sizes
for a theme.

### Options
- **s** This is usually a 1px border.
- **m**
- **l**

```scss
hr {
  border: pgi-borders(m) solid;
}

.my-component {
  border-bottom: pgi-border(s) solid red;
}
```

Styleguide theming.border
*/
@function pgi-border($size){
  @return pgi-rem( pgi-theme-property($pgi-sizes, borders, $size) );
}

/*
pgi-radius

The `pgi-radius($size)` function will retrive the relative border radius
sizes from a theme.

### Options
- **s** This is usually something small like 3px.
- **m**
- **l**

```scss
.my-component {
  border-radius: pgi-radius(m);
  border: pgi-border(s) solid;
}
```

Styleguide theming.radius
*/
@function pgi-radius($size){
  @return pgi-rem( pgi-theme-property($pgi-sizes, radius, $size) );
}

/*
pgi-nudge

The `pgi-nudge()` function gives you a way to add just a few pixels
of padding or margin to things without trying to align to the graph paper.
It is usually used to give things like `<li>` or `<code>` elements some space.
By using this function, it is easy to change how much space is given to
things that need to be "nudged" across the board.

```scss
code {
  padding: pgi-nudge();
}
```

Styleguide theming.nudge
*/
@function pgi-nudge(){
  @return pgi-rem( pgi-get($pgi-sizes, nudge) );
}

/*
pgi-depth

The `pgi-depth()` function retrieves the relative depth values from
a theme. To use it, you will need to pass one of the component types
defined in `themes/pgi/_size-data.scss`

### Options
- **modal**
- **dropdown**

```scss
.my-component {
  z-index: pgi-depth(dropdown);
}
```
Styleguide theming.depth
*/
@function pgi-depth($component) {
  @return pgi-theme-property($pgi-sizes, z, $component);
}
