@import '~@angular/material/theming';
@import '../components';
@import './utils';

/*
Theming

The following SASS functionality will help you apply the current theme
to your application or components.

If you're looking for information about how to setup the theming
for your project, you can try one of these links:

- [Setup your project to use the default theme](/starting)
- [Build your app against one of the other themes](/starting#build-time-themes)
- [Overview of using themes in a component](/starting#build-time-themes)

Styleguide theming
*/

/*
pgi-default-theme

The `pgi-default-theme($theme)` function will setup the theme passed
as the default theme for your application. It should be used somewhere
in the root of your project like the `styles.scss` file.

```scss
// Get access to the main theming mixin for the theme you want to use.
//[at]import 'theme-main';

// This mixin should only be called once in your application.
// Here we assume that your theme-main creates a global
// $pgi-light-them variable.
@include pgi-default-theme( $pgi-light-theme );
```

> IMPORTANT: You should only call `pgi-default-theme()` once in your
project. Calling it multiple places will result in
duplicate stylesheet definitions which can impact page render speed.

Styleguide theming.default-theme
*/
@mixin pgi-default-theme($theme){
  $brand: map-get($theme, brand);

  // Include the base styles for Angular Material core. These are styles
  // that are non-component dependent (ie. global for Material to work).
  @include mat-core();

  // Setup all of the Material component styles using our theme.
  @include angular-material-theme($theme);

  // Setup the global styles using the desired theme.
  html {
    @include pgi-base-text($theme);
  }

  @include pgi-typeography($theme);
  @include pgi-all-components($theme);

  // Since Material doesn't support the "brand" palette natively,
  // we'll add some global styles for it here.
  .mat-brand, [color=brand] {
    color: pgi-color($brand);
  }

  .brand {
    $brand: pgi-get($theme, brand);
    @include pgi-palette-classes($brand);
  }


  .primary {
    $primary: pgi-get($theme, primary);
    @include pgi-palette-classes($primary);
  }

  .accent {
    $accent: pgi-get($theme, accent);
    @include pgi-palette-classes($accent)
  }

  .warn {
    $warn: pgi-get($theme, warn);
    @include pgi-palette-classes($warn);
  }

  .background {
    $grayscale: pgi-get($theme, grayscale);
    @include pgi-palette-classes($grayscale);
  }
}

/*
pgi-additional-theme

The `pgi-additional-theme($theme)` function allows you to apply an
addition theme to your project. You will usually want to apply this
in the same place you apply `pgi-default-theme($theme)`.

For example, you can generate a dark theme as follows:

```scss
//[at]import 'theme-main';

.my-dark-theme {
  // This assumes your _theme.scss file creates a global $my-dark-theme variable.
  $bg: map-get($my-dark-theme, background);

  // Apply the background color for your theme.
  background-color: pgi-color($bg, background);

  // Apply your theme to all components.
  @include pgi-additional-theme($my-dark-theme);
}
```

Styleguide theming.additional-theme
*/
@mixin pgi-additional-theme($theme){
  // TODO Take the background and foreground palettes as well
  // (either as properties on the theme or as parameters).
  @include pgi-base-text($theme);
  @include pgi-typeography($theme);
  @include pgi-all-components($theme);
}

/*
pgi-palette-classes

The `pgi-palette-classes($palette)` function allows you to create
CSS classes for each color in a palette. This way you can easily
apply a class to an element which will set the background color
to that palette color and the font color to the correct contrast color.

Generally, it is better to utilize the theme variables in a stylesheet
to set the correct colors but this function is also provided as a
convenience.

### Parameters
- **$palette** The palette map (primary, accent, warn, etc) from a theme.

For example, you can create classes for the primary palette like this:

```scss
.my-primary {
  $primary: pgi-get($pgi-light-theme, primary);
  @include pgi-palette-classes($primary);
}

// Which outputs the following CSS rules:

// This class will make the text color use the primary 500.
.my-primary.pgi-palette-foreground {}

// This class will make the background color use primary 500
// and text color use the appropriate contrast color.
.my-primary.pgi-palette-background {}

// There will also be classes for each of the palette hues
// which set the background color to that hue and text color
// to the appropriate contrast.
.my-primary.pgi-palette-background-50 {
  background-color: #efefef;
  color: #00000;
}
```

The default light theme already generates primary, accent, warn, and background
classes for you (see the [Color Classes documentation](#colors-classes).

Styleguide theming.palette-classes
*/

@mixin pgi-palette-classes($palette){
  &.pgi-palette-foreground {
    color: pgi-color($palette);
  }

  &.pgi-palette-background {
    $contrast: map-get($palette, contrast);

    background: pgi-color($palette);
    color: map-get($contrast, 500);
  }

  $list: 50, 100, 200, 300, 400, 500, 600, 700, 800, 900, A100, A200, A400, A700;
  @each $name in $list {
    $color: pgi-color($palette, $name);
    $contrast: pgi-color($palette, "#{$name}-contrast");

    &.pgi-palette-background-#{$name}, .pgi-palette-background-#{$name}, .shit {
      background-color: $color;
      color: $contrast;

      &.debug:after {
        font-size: pgi-font-size(xs);
        content: ' ' + $color;
        float: right;
      }
    }

    &.pgi-palette-foreground-#{$name}, .pgi-palette-foreground-#{$name} {
      color: $color;
    }
  }
}

