/*
pgi-get

The `pgi-get($map, $key)` function retrieves a key from a SASS
map. It does the same thing as the native `map-get()` function
except that it will throw an exception with a stack trace if
the map does not include the key you are trying to retrieve. If
is recommended (but not required) that you use this method in
place of map-get.

### Parameters
Takes the same parameters as `map-get()`.

- **map**
- **key**

```scss
.my-component {
  // This will succeed and you can now use the $primary variable.
  $primary: pgi-get($pgi-light-theme, primary);

  // This will throw an exception that the foo property doesn't
  // exist in the $pgi-light-theme. It will also give you the
  // stack trace for where you  tried to access the foo variable
  // and it will log the full contents of $pgi-light-theme.
  $foo: pgi-get($pgi-light-theme, foo);
}
```

Styleguide theming.get
*/
@function pgi-get($map, $key){
  @if map-has-key($map, $key) {
    @return map-get( $map, $key );
  }
  @else {
    @debug('------------------');
    @debug($map);
    @debug('------------------');
    @error( 'The $key "' + $key + '" does not exist on this map' );
  }
}

/*
pgi-theme-property

The `pgi-theme-property($map, $submap, $key)` function is used to
quickly access map properties in a map. It's simply a short hand
for calling `map-get` twice because many of the PGi SASS maps
use nested maps.

### Parameters
- **map** The top level map that contains the value you want to access.
  It is usually an object containing font, size, animation or other
  properties.
- **submap** The inner map that contains your value. See the example below.
- **key** The value you want to access.

```scss
$fonts: (
  sizes: (
    m: 14,
    l: 20
  ),
  weights: (
    normal: 400
  )
};

// This will quickly give you the medium font size.
$medium: pgi-theme-property($fonts, sizes, m);

// It is equivalent to this but is a little more legible.
$small: map-get( map-get( $fonts, sizes ), s );
```

Styleguide theming.theme-property
*/
@function pgi-theme-property($map, $submap, $key){
  @return pgi-get( pgi-get($map, $submap), $key );
}

/*
pgi-deepish-merge

Merges two theme maps where each map can have nested
map properties. This function only merges maps down to
one sub-level.

```scss
// Doing this...
$foo: pgi-deepish-merge( (
  foo: 'fighters',
  colors: (
    red: #ff0000,
  ),
  things: (
    a: 1,
    b: 2,
    c: 3
  ),
  missing: 1
), (
  foo: 'yup, foo',
  bar: 'baz',
  colors: (
    blue: #0000ff,
    red: #ff00ff,
    green: #00ff00,
  ),
  things: (
    a: 0
  )
));

// Will result in this map:
(
  foo: "yup, foo",
  colors: (
    red: #ff00ff,
    blue: #0000ff,
    green: #00ff00
  ),
  things: (
    a: 0,
    b: 2,
    c: 3
  ),
  missing: 1,
  bar: "baz"
)
```

Styleguide theming.deepish-merge
*/
@function pgi-deepish-merge($original, $replacement){
  $out: map-merge($original, $replacement);

  @each $key, $value in $original {
    @if type-of($value) == map {
      @if map-has-key($replacement, $key) {
        $out-list: map-get($original, $key);
        $in-list: map-get($replacement, $key);

        $out: map-merge($out, (
          $key: map-merge($out-list, $in-list)
        ));
      }
    }
  }

  @return $out;
}

/*
set-user-select

A helper mixin to set user-select attribute to control the actual selection operation.
*/
@mixin set-user-select($selectable) {
  user-select: $selectable;

  @if $selectable == none {
    cursor: default;
  }
}

