<div md-menu-item
  #menuItem
  [disabled]="disabled"
  (click)="menuItemClick($event)">
  <div class="label-content">
    <span #labelItem
      (mouseenter)="showTooltip($event)"
      [ngClass]="type === 'destructive' ? 'destructive' : ''"
      class="labelText">{{labelText}}</span>
    <span *ngIf="description"
      (mouseenter)="showTooltip($event)"
      class="desc">{{description}}</span>
  </div>
</div>
<hr *ngIf="hr"
  class="divider" />