@import 'theme';

/** Sets the common label properties to labelText and desc elements*/
@mixin label-layout($font-size) {
  $menu-item-padding-offset: 2;
  display: block;
  @include pgi-ellipsis();
  font-family: pgi-font-face(heading);
  font-size: pgi-font-size($font-size);
  margin: 0 gp-rows(1.5) + $menu-item-padding-offset;
  line-height: normal;
}

/** Theme for pgi-menu-label-item*/
@mixin pgi-menu-label-item-theme($theme) {
  $warn : map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground );
  $menu-item-height-offset: 5;
  $menu-item-divider-height: 1px;
  $menu-item-padding: 1px;

  .pgi-menu-container {
     .mat-menu-item {
        padding: 0 $menu-item-padding;
        min-height: gp-rows(2);
        max-height: gp-rows(2.5) - $menu-item-height-offset;

        &:not([disabled]) {
            &:hover, :focus {
              background: pgi-color($background, hover);
            }
            &:active {
              background-color: pgi-color($background, pressed);
            }
        }

        &[disabled] {
          .labelText, .desc {
            color: pgi-color($background, raised-button);
          }
        }

        .mat-ripple {
          display: none;
        }

        .label-content {
          position: absolute;
          width: 100%;
          top: 50%;
          transform: translate(0, -50%);
        }

        .labelText {
          @include label-layout(m);
          font-weight: pgi-font-weight(semi-bold);
          color: pgi-color($pgi-grayscale-colors, 900);
        }

        .desc {
          @include label-layout(s);
          @include pgi-letter-spacing(p);
          color: pgi-color($pgi-grayscale-colors, 500);
        }

        .destructive {
          color: pgi-color($warn);
        }
    }
    .divider {
      border: none;
      height: $menu-item-divider-height;
      background-color: pgi-color($foreground, divider);
    }
  }
}
