@import 'theme';

/*
Toast Service

The toast service is an injectable service that manages toasts. It provides a
simplified API to the Angular Material [snackbar component](https://material.angular.io/components/snack-bar/overview)
by exposing a subset of the snackbar's functionality.

The primary functionality that this service provides is the ability to open a
toast from anywhere by calling a method, as well as making sure that only one
toast is open at any given time.

### Methods

- **openToast(text: string, duration?: PGiToastDuration):** opens a toast that
  contains the supplied text for the given duration (defaulting to medium).
  - `PGiToastDuration` is an enum containing three preset toast durations:
    - `SHORT`: 1.5 seconds
    - `MEDIUM`: 3 seconds
    - `LONG`: 5 seconds

### Usage

To get started, import `PGiToastService`. Call the `openToast()` method
with the desired text; the duration of the toast will default to 3 seconds
(as in the `showMediumToast()` method in the example component below), otherwise
specify the duration by importing `PGiToastDuration` and passing a duration to
`openToast()`.

The `PGiToastService` can be called from both Components and Services. The
example below shows both of these usages: `showShortToast()` opens a toast
using the `PGiToastService` that was injected into the component, with a
shorter duration. `showLongToast()` calls another method in a different service,
which in turn opens a toast for a long duration.

### Example Usage from Service and Component

```js
import { Component, Injectable, Inject} from '@angular/core';
import { PGiToastService, PGiToastDuration } from '../../component-lib/toast';

@Injectable()
export class ToastOpenerService {
  constructor(
    private toastService: PGiToastService
  ) { }

  burnMyBread() {
    this.toastService.openToast('Burnt!', PGiToastDuration.LONG);
  }
}

@Component({
  selector: 'ex-toast',
  template: `
    <button (click)="showShortToast()">Show Short Toast</button>
    <button (click)="showMediumToast()">Show Medium Toast</button>
    <button (click)="showLongToast()">Show Long Toast</button>
  `,
  providers: [PGiToastService, ToastOpenerService]
})
export class ToastServiceExample {
  constructor(
    @Inject(PGiToastService) private toastService: PGiToastService,
    @Inject(ToastOpenerService) private toastOpenerService: ToastOpenerService
  ) { }

  showShortToast() {
    this.toastService.openToast('Lightly Toasted', PGiToastDuration.SHORT);
  }

  showMediumToast() {
    this.toastService.openToast('Just Right');
  }

  showLongToast() {
    this.toastOpenerService.burnMyBread();
  }
}

```

Markup:
<ex-toast></ex-toast>

Styleguide toast
*/
@mixin pgi-toast-theme($theme) {
  .pgi-toast {
    transform: translateY(-150%) !important;
    opacity: 0;
    animation: fadein pgi-time(xs) forwards;
    animation-delay: .2s;
  }

  @keyframes fadein {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }
}
