/*
Date Pipe

 Custom pipe to format date and time.
 This pipe updates the text automatically only at the end of the day.
 Below is the format in which the formatting is done

 If the date is:

-  Today: Displays time in 12Hrs format. Ex: 05:10 PM
-  Yesterday: Displays the value as 'Yesterday'
-  With in the last week: Displays the weeks day. Ex. Sunday, Monday, Tuesday, Wednesday, Thursday, Friday, Saturday
-  Greater than a week: Displays value in format dd/mm/yyyy.
-  If no date format is specified the default format used is 'HH:mm A D/MM/YYYY';
       
Ref to https://momentjs.com/docs/#/displaying/format/ for more info on formatting options.

Sample formats used here:

-  Default  :  hh:mm A D/MM/YYYY
-  Greater Than a Week : D/MM/YYYY
-  With in last Week : dddd
-  Today : h:mm A

This function as a generic date formatter by default.
To enable Pgi call customization set enableCallFormat to true;
```scss
    {{ dateObj | pgi-date:true }
```

This pipe does not support Internationalization by default, you need to pass the custom values as an object as shown below and set the locale value to the pipe.

If no locale is passed the default is set to 'en-US'
 ```scss
    locObject = {
        calendar: {
        sameDay: 'LT',
        nextDay: '[Tomorrow]',
        nextWeek: 'dddd',
        lastDay: '[Yesterday]', 
        lastWeek: 'dddd',
        sameElse: 'L'
    }

    {{ dateObj | pgi-date:true:null:'fr':locObject }
 ```

For more info on how to pass cutom value refer to https://momentjs.com/docs/#/customization/.

Below is the sample object you can pass to customize 
 ```scss
    {
        months : 'janvier_février_mars_avril_mai_juin_juillet_août_septembre_octobre_novembre_décembre'.split('_'),
        monthsShort : 'janv._févr._mars_avr._mai_juin_juil._août_sept._oct._nov._déc.'.split('_'),
        monthsParseExact : true,
        weekdays : 'dimanche_lundi_mardi_mercredi_jeudi_vendredi_samedi'.split('_'),
        weekdaysShort : 'dim._lun._mar._mer._jeu._ven._sam.'.split('_'),
        weekdaysMin : 'Di_Lu_Ma_Me_Je_Ve_Sa'.split('_'),
        weekdaysParseExact : true,
        longDateFormat : {
            LT : 'HH:mm',
            LTS : 'HH:mm:ss',
            L : 'DD/MM/YYYY',
            LL : 'D MMMM YYYY',
            LLL : 'D MMMM YYYY HH:mm',
            LLLL : 'dddd D MMMM YYYY HH:mm'
        },
        calendar : {
            sameDay : '[Aujourd’hui à] LT',
            nextDay : '[Demain à] LT',
            nextWeek : 'dddd [à] LT',
            lastDay : '[Hier à] LT',
            lastWeek : 'dddd [dernier à] LT',
            sameElse : 'L'
        },
        relativeTime : {
            future : 'dans %s',
            past : 'il y a %s',
            s : 'quelques secondes',
            m : 'une minute',
            mm : '%d minutes',
            h : 'une heure',
            hh : '%d heures',
            d : 'un jour',
            dd : '%d jours',
            M : 'un mois',
            MM : '%d mois',
            y : 'un an',
            yy : '%d ans'
        },
        dayOfMonthOrdinalParse : /\d{1,2}(er|e)/,
        ordinal : function (number) {
            return number + (number === 1 ? 'er' : 'e');
        },
        meridiemParse : /PD|MD/,
        isPM : function (input) {
            return input.charAt(0) === 'M';
        },
        meridiem : function (hours, minutes, isLower) {
            return hours < 12 ? 'PD' : 'MD';
        },
        week : {
            dow : 1, // Monday is the first day of the week.
            doy : 4  // The week that contains Jan 4th is the first week of the year.
        }
    }
```

Markup:
<ex-date-pipe></ex-date-pipe>

Styleguide pipes
*/