// Import our global theme.
@import 'theme-main';
@import './component-lib/debug-grid/debug-grid';
@import '~highlight.js/styles/solarized-light.css';

@include pgi-default-theme($pgi-light-theme);

.pgi-dark-theme {
  $bg: map-get($pgi-dark-theme, background);
  background-color: pgi-color($bg, background);
  @include pgi-additional-theme($pgi-dark-theme);
}

body {
  position: relative;

  .pgi-debug-backgrounds {
    @include pgi-debug-backgrounds( $pgi-light-theme );
  }
}
