@import 'theme';

/*
Icon Input

An input with an icon, placeholder text and clear button.

Markup:
<p>
  <pgi-icon-input icon="pgi:search" placeholder="Default Styling"></pgi-icon-input>
</p>
<p>
  <pgi-icon-input icon="pgi:search" placeholder="Brand Styling" color="brand"></pgi-icon-input>
</p>
<p>
  <pgi-icon-input icon="pgi:search" placeholder="Primary Styling" color="primary"></pgi-icon-input>
</p>
<p>
  <pgi-icon-input icon="pgi:search" placeholder="Accent Styling" color="accent"></pgi-icon-input>
</p>
<p>
  <pgi-icon-input icon="pgi:search" placeholder="Warn Styling" color="warn"></pgi-icon-input>
</p>

Styleguide forms.icon-input
*/

@mixin pgi-icon-input-component-theme($theme) {
  pgi-icon-input {
    @include pgi-shared-input-styles-theme($theme);
    input[type=text] {
      padding-left: gp-rows(1.5);
      padding-right: gp-rows(1.5);
    }

    display: inline-flex;

    // Position and size the direct icon and button decendents.
    > pgi-icon, > pgi-icon-button {
      // Make the icon and button the same height as the
      // input and placed on either side.
      position: absolute;
      // TODO Can we remove these by playing with margin?
      top: $_pgi-input-top-m;
      bottom: $_pgi-input-bottom-m;

      // Make the icon and button size their content to
      // the area given.
      display: flex;
    }

    > pgi-icon {
      left: 0;
    }

    > pgi-icon-button {
      right: 0;
      transition: opacity pgi-time(xs) linear;

      button.mat-button {
        width: gp-rows(1.5);
      }
    }
  }
}
