@import 'theme';

/*
Panel

Basic container for other components

Markup:
<pgi-panel>Just some text</pgi-panel>
<pgi-panel>
  <pgi-icon-button icon='pgi:sidebar-support' size='m' style='position: absolute; top: 0; right: 0;'></pgi-icon-button>
  <h2 style='margin-top: 0;'>Lorem ipsum dolor sit amet</h2>
  <p>...consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  <div><pgi-text-button type="primary" style='float: right;'>Primary Button</pgi-text-button><br style='clear: both;'/></div>
</pgi-panel>

Styleguide misc.panel

*/

@mixin pgi-panel-component-theme($theme) {
  $foreground: map-get($theme, foreground);
  
  pgi-panel {
    display: inline-block;
    position: relative;
    max-width: pgi-rem(640);
    padding: pgi-rem(36);
    border-radius: pgi-radius(s);
    box-shadow: pgi-shadow(outer-bottom);
  }
}