@import 'theme';

/*
Spinner

This is a circular spinner component which loops indefinitely.
This currently is a indeterminate spinner and doesn't have support for showing the progress.

You can also pass in your own spinner but needs to be part of the icon registry before it can be used.
If the custom svg has animations within itself you can skip the animation by setting skipAnim to true.

Markup:
<ex-spinner></ex-spinner>

Styleguide Spinner
 */

@mixin pgi-circular-spinner-component-theme($theme) {
  pgi-circular-spinner {
    $brand: map-get($theme, brand);
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $warn: map-get($theme, warn);

    width: pgi-rem(32);
    height: pgi-rem(32);

    &[color=brand] {
      color: pgi-color($brand);
    }

    &[color=primary] {
      color: pgi-color($primary);
    }

    &[color=accent] {
      color: pgi-color($accent);
    }

    &[color=warn] {
      color: pgi-color($warn);
    }

    .spinner {
      object-fit: contain; // Should we use angular animation instead
      transition-property: transform;
      animation-name: rotate;
      animation-duration: 1s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
    }

    @keyframes rotate {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
    }
  }
}
