<div class="list-item" [ngClass]="mode">
  <pgi-contact-bubble
    [contactImage]="contactImage"
    [mode]="mode" 
    [presence]="presence"
    [name]="header"
    [subtext]="subheader1"
    [subtext2]="subheader2">
  </pgi-contact-bubble>
  <div class="list-item-actions">
    <ng-content select="[pgi-action]"> </ng-content>
  </div>
</div>
