@import 'theme';

/*
List item

This component is desiged to be used to display a list item with a contact bubble, header, 2 sub headers and action buttons.

Attribute Options
- **contactImage** : The URL of the image to show.
- **header** : Main header.
- **subheader1 and subheader2** : 2 sub headers (optional)
- **presence** : presence state, if this is null, no presence indicator will show. Valid values are:
  - **away**
  - **available**
  - **do-not-disturb**
  - **offline**
- **mode** : The display direction.
  TODO// implement grid layout when needed.
  - **grid** : display as a columlar component with the name below the image (not implemented)
  - **list** : **Default** - display as a row component with name to the side

Markup:
<h3 class="example">List item</h3>
<pgi-list-item header="PGi User1" 
  subheader1="jenna.cohen@pgi.com" 
  subheader2="(678)-304-9975" 
  presence="away"
  contactImage="http://cdn23.us1.fansshare.com/photos/ludacris/ludacris-fast-and-furious-519825463.jpg">
  <pgi-icon-button pgi-action class="pgi-round" aria-label="call" icon="pgi:call-filled" size="m" color="primary">Accent</pgi-icon-button>
  <pgi-icon-button pgi-action class="pgi-round" aria-label="contact" icon="pgi:user" size="m" color="primary">Accent</pgi-icon-button>
</pgi-list-item>


Styleguide list item
*/
// TODO 
@mixin pgi-list-item-component-theme($theme) {
  pgi-list-item {
    $foreground: map-get($theme, foreground);
    $background: map-get($theme, background);
    $padding: gp-rows(.5);

    display: flex;
    flex: 1;


    .list-item {
      display: flex;
      flex-direction: row;
      flex: 1;
      height: gp-rows(3.5);
      align-items: center;
      border-radius: pgi-border-radius(m);
      background-color: pgi-color($background, card);
      border: pgi-border(s) solid pgi-color($foreground, divider);
      
      &:hover{
        border: pgi-border(m) solid pgi-color($foreground, divider);
        margin: pgi-border(s) - pgi-border(m);
      }
      &:active{
        border: pgi-border(s) solid pgi-color($background, app-bar);
        background-color: pgi-color($background, app-bar);
        margin: 0;
      }
       
      pgi-contact-bubble{
        flex: 1;
        margin: $padding;
      }

      .list-item-actions {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: $padding;
      }
    }
  }
}
