@import 'theme';

/*
Menu Icon Button

A specific variation of the Icon Button

### Attribute Values
- **disabled** - Disable the button
- **aria-label** - Attached to 'aria-label' attribute of menu button as aid to assistive technology (e.g. screen readers)

### Events
- **click**

Markup:
<pgi-menu-button
  aria-label='menu-button'
>
</pgi-menu-button>
<pgi-menu-button
  disabled
  aria-label='disabled-menu-button'>
</pgi-menu-button>

Styleguide buttons.menu-icon

*/

@mixin pgi-menu-icon-button-component-theme($theme) {
  $primary: map-get($theme, primary);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);
  $icon-hue: 500;
  $button-size: pgi-rem(60);
  $icon-size: pgi-rem(40);

  pgi-menu-button {
    display: inline-flex;

    pgi-icon-button {
      color: pgi-color($foreground, base);
      height: $button-size;
      width: $button-size;

      pgi-icon {
        height: $icon-size;
        width: $icon-size;
      }

      &:not([disabled]) {
        &:hover,
        &:active {
          color: pgi-color($primary, $icon-hue);
        }
      }
    }

    &[disabled] {
      pgi-icon-button {
        &:hover,
        &:active {
          background-color: transparent;
        }
      }

      .mat-button[disabled][disabled] {
        color: pgi-color($background, raised-button);
      }
    }
  }
}
