@import 'theme';
@import './slide-toggle.component';

// Mixin for theme related style of slide toggle elements (bar, thumb, ripple)
@mixin pgi-slide-toggle-component-theme($theme) {
  // Theme related colors
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);

  pgi-slide-toggle {
    .mat-slide-toggle {
      &.mat-primary {
        @include pgi-slide-toggle-checked($primary);
        @include pgi-slide-toggle-unchecked-active($primary);
        @include pgi-slide-toggle-ripple($background);
      }

      &.mat-accent {
        @include pgi-slide-toggle-checked($accent);
        @include pgi-slide-toggle-unchecked-active($accent);
        @include pgi-slide-toggle-ripple($background);
      }
        
      &.mat-warn {
        @include pgi-slide-toggle-checked($warn);
        @include pgi-slide-toggle-unchecked-active($warn);
        @include pgi-slide-toggle-ripple($background);
      }

      &:not(.mat-checked):not(.mat-disabled) {
        .mat-slide-toggle-thumb {
          box-shadow: 0 3px 3px 0 pgi-color($background, status-bar), 0 2px 2px 0 pgi-color($background, status-bar);
        }
      }
    }

    .mat-slide-toggle-thumb {
      background-color: pgi-color($background, background);
      box-shadow: none;
    }

    .mat-slide-toggle-bar {
      background-color: map-get($background, pressed);
    }

    .mat-disabled {
      .mat-slide-toggle-thumb {
        background-color: pgi-color($background, app-bar);
        box-shadow: none;
      }
      .mat-slide-toggle-bar {
        background-color: pgi-color($background, app-bar);
      }

      &.mat-checked {
        .mat-slide-toggle-thumb {
          background-color: pgi-color($background, status-bar);
        }
        .mat-slide-toggle-bar {
          background-color: pgi-color($background, raised-button);
        }
      }
    }
  }
}

// Mixin for setting background color (according to theme) to slide toggle bar and thumb
// when toggle is checked.
@mixin pgi-slide-toggle-checked($palette, $gradient-hue-begin: 500, $gradient-hue-end: 300) {
  &.mat-checked:not(.mat-disabled) {
    .mat-slide-toggle-thumb {
      background-color: pgi-color($palette);
    }

    .mat-slide-toggle-bar {
      background: linear-gradient(pgi-color($palette, $gradient-hue-begin),
        pgi-color($palette, $gradient-hue-end));
    }
  }
}

// Mixin for setting background color (according to theme or type) to slide-toggle-ripple
@mixin pgi-slide-toggle-ripple($background) {
  &.mat-slide-toggle-focused, &:hover:not(.mat-disabled) {
    &:not(.mat-checked) {
      @include pgi-slide-toggle-ripple-color(pgi-color($background, hover), 1);
    }
    &.mat-checked {
      @include pgi-slide-toggle-ripple-color(pgi-color($background, hover), 1);
    }
  }

  &:not(.mat-disabled) {
    .mat-slide-toggle-label:active {
      @include pgi-slide-toggle-ripple-color(map-get($background, pressed), 1);
    }
  }
}

// Mixin for setting background color and opacity to ripple
@mixin pgi-slide-toggle-ripple-color($color, $opacity: '') {
  .mat-ripple {
    background-color: $color;
    @if ($opacity) {
      opacity: $opacity;
    }
  }
}
