@import 'theme';

/*
Slide toggle

This component is an on/off control that can be toggled via clicking or dragging.

<i>Note: the sliding behavior for this component requires that HammerJS is loaded on the page.</i>

Markup:
<pgi-slide-toggle id="def" labelPosition="after">Default</pgi-slide-toggle> <br/><br/>
<pgi-slide-toggle id="prm" color="primary" labelPosition="after">Primary</pgi-slide-toggle><br/><br/>
<pgi-slide-toggle id="wrn" color="warn" labelPosition="after">Warn</pgi-slide-toggle><br/><br/>
<pgi-slide-toggle id="acnt" color="accent" labelPosition="after">Accent</pgi-slide-toggle><br/><br/>
<pgi-slide-toggle id="dsbld" disabled="true" labelPosition="after">Disabled</pgi-slide-toggle><br/><br/>
<pgi-slide-toggle id="chkd" checked="true" labelPosition="after">Checked</pgi-slide-toggle><br/><br/>
<pgi-slide-toggle id="chkdd" disabled checked="true" labelPosition="after">Checked and Disabled</pgi-slide-toggle>

Attribute Options
- **color** : The color of the slide-toggle. Can be primary, accent, or warn.
- **disabled** : Whether the slide-toggle is disabled.
- **checked** : Whether the slide-toggle is checked.
- **labelPosition** : Whether the label should appear after or before the slide-toggle. Defaults to 'before'
- **ariaLabel** : Used to set the aria-label attribute on the underlying input element.
- **ariaLabelledby** : Used to set the aria-labelledby attribute on the underlying input element.
- **id** : A unique id for the slide-toggle input. If none is supplied, it will be auto-generated.

### Events

- **change**

Styleguide forms.slide-toggle
*/

// Layout variables for slide toggle elements (unit -> number of gp rows)
$pgi-slide-toggle-thumb-size: 1 !default;
$pgi-slide-toggle-bar-width: 2 !default;
$pgi-slide-toggle-bar-height: 1 !default;
$pgi-slide-toggle-height: 2 !default;
$pgi-slide-toggle-width: 3 !default;
$pgi-ink-ripple-size: 2 !default;

// Offsets to match the dimension with styleguide
$pgi-slide-toggle-bar-width-offset: 4px !default;
$pgi-slide-toggle-bar-height-offset: 6px !default;
$pgi-slide-toggle-height-offset: 4px !default;
$pgi-slide-toggle-width-offset: 8px !default;
$pgi-ink-ripple-offset: 4px !default;
$pgi-slide-toggle-thumb-checked-offset: 4px !default;
$pgi-slide-toggle-thumb-unchecked-offset: -1px !default;
$pgi-slide-toggle-ripple-offset: -9px !default;

// Border dimension
$no-border: 0 !default;

// Mixin for slide-toggle-thumb when it is unchecked and active to take care border color on basis of type
@mixin pgi-slide-toggle-unchecked-active($color) {
  &:not(.mat-checked):not(.mat-disabled) {
    .mat-slide-toggle-label:active {
      .mat-slide-toggle-thumb {
        @include pgi-slide-toggle-component-dimension($pgi-slide-toggle-thumb-size,
          $pgi-slide-toggle-thumb-size, pgi-border('m'));
        border: solid pgi-border('m') pgi-color($color);
      }
    }
  }
}

// Mixin to take care dimension of different element of component with border
@mixin pgi-slide-toggle-component-dimension($height-rows, $width-rows, $border: 0, $height-offset: 0, $row-offset: 0) {
  height: gp-rows($height-rows, $border * 2) - $height-offset;
  width: gp-rows($width-rows, $border * 2) - $row-offset;
}

// Placeholder for layout of slide-toggle-component
@mixin pgi-slide-toggle-layout($theme) {
  $background: map-get($theme, background);
  pgi-slide-toggle {
    .mat-slide-toggle {

      .mat-slide-toggle-container {
        @include pgi-slide-toggle-component-dimension($pgi-slide-toggle-height, 
          $pgi-slide-toggle-width, $no-border, $pgi-slide-toggle-height-offset, $pgi-slide-toggle-width-offset);
        display: flex;
        align-content: center;
        align-items: center;
      }

      .mat-slide-toggle-bar {
        @include pgi-slide-toggle-component-dimension($pgi-slide-toggle-bar-height, 
          $pgi-slide-toggle-bar-width, $no-border, $pgi-slide-toggle-bar-height-offset, $pgi-slide-toggle-bar-width-offset);
        left: 0;
      }

      .mat-slide-toggle-thumb {
        @include pgi-slide-toggle-component-dimension($pgi-slide-toggle-thumb-size, 
          $pgi-slide-toggle-thumb-size);
      }

      &.mat-checked {
        .mat-slide-toggle-thumb-container {
          left: $pgi-slide-toggle-thumb-checked-offset;
        }
      }

      &:not(.mat-checked) {
        .mat-slide-toggle-thumb-container {
          left: $pgi-slide-toggle-thumb-unchecked-offset;
        }
      }

      &:not(.mat-checked):not(.mat-disabled) {
        .mat-slide-toggle-thumb {
          @include pgi-slide-toggle-component-dimension($pgi-slide-toggle-thumb-size,
            $pgi-slide-toggle-thumb-size, pgi-border('s'));
          border: solid pgi-border('s') pgi-color($pgi-grayscale-colors, 200);
        }
      }

      .mat-ripple {
        @include pgi-slide-toggle-component-dimension($pgi-ink-ripple-size,
          $pgi-ink-ripple-size, $no-border, $pgi-ink-ripple-offset, $pgi-ink-ripple-offset);
        top: $pgi-slide-toggle-ripple-offset;
        left: $pgi-slide-toggle-ripple-offset;
      }

      &.mat-disabled {
        .mat-slide-toggle-thumb {
          @include pgi-slide-toggle-component-dimension($pgi-slide-toggle-thumb-size, 
            $pgi-slide-toggle-thumb-size, pgi-border('s'));
          border: solid pgi-border('s') pgi-color($pgi-grayscale-colors, 200);
        }

        .mat-slide-toggle-bar {
          @include pgi-slide-toggle-component-dimension($pgi-slide-toggle-bar-height, 
            $pgi-slide-toggle-bar-width, pgi-border('s'), $pgi-slide-toggle-bar-height-offset,
            $pgi-slide-toggle-bar-width-offset);
          border: solid pgi-border('s') pgi-color($pgi-grayscale-colors, 200);
        }

        &.mat-checked {
          .mat-slide-toggle-thumb {
            @include pgi-slide-toggle-component-dimension($pgi-slide-toggle-thumb-size, 
              $pgi-slide-toggle-thumb-size, pgi-border('s'));
            border: solid pgi-border('s') pgi-color($background, background);
          }
          .mat-slide-toggle-bar {
            @include pgi-slide-toggle-component-dimension($pgi-slide-toggle-bar-height, 
              $pgi-slide-toggle-bar-width, $no-border, $pgi-slide-toggle-bar-height-offset,
              $pgi-slide-toggle-bar-width-offset);
            border: none;
          }
        }
      }

      .mat-slide-toggle-label {
        display: flex;
      }
    }
  }
}



